{% load i18n %} {% load dipstrapfiles %} {% load crispy_forms_tags %} {% load staticfiles %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

<script type="text/javascript" src="{% static 'js/jsgrid/jsgrid.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jsgrid/i18n/jsgrid-fr.js' %}"></script>

<div class="modal fade" id="exams_tab" role="dialog" style="z-index: 1200">
    <div class="modal-dialog modal-90">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <div class="disp-flex space-between">
                    <div>
                        <h1 class="title-modal">{% trans "Définition des épreuves" %}</h1>
                        {% trans "Année universitaire : " %} {{request.display.current_year}}
                    </div>
                    <button type="button" class="btn-primary btn btn-sm btn-1" id="get_old_exams">{% trans "Récupérer les ÉPREUVES <br>de l'anée précédente pour cet objet" %}</button>
                </div>
                <div class="disp-flex space-between paddin-top">
                    <div>
                        <span>{% trans "Object : " %} </span>
                        <strong>
                            <span id="struct_object"></span>
                        </strong>
                    </div>
                    <div class="margin-left05">
                        <span>{% trans "Type : " %} </span>
                        <strong>
                            <span id="struct_type" class></span>
                        </strong>
                    </div>
                    <div class="margin-left05">
                        <span>{% trans "Régime : " %} </span>
                        <strong>
                            <span id="struct_regime"></span>
                        </strong>
                    </div>
                    <div class="margin-left05">
                        <span>{% trans "SI Scol : " %} </span>
                        <strong>
                            <span id="struct_siscol"></span>
                        </strong>
                    </div>
                    <div class="margin-left05">
                        <span>{% trans "ROF : " %} </span>
                        <strong>
                            <span id="struct_rof">  </span>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="modal-body">

                <h4 class="blue">
                    {% trans "Épreuves de la session pincipale"%}
                </h4>
                <div id="principal_exam"></div>
                <br>
                <div class="disp-flex space-between padding-top">
                    <h4 class="blue">
                        {% trans "Épreuves de la session de rattrapage"%}
                    </h4>
                    <button type="button" class="btn-primary btn btn-sm btn-1" id="get_principal_exam">{% trans "Copier toutes les épreuves de la session principale" %}</button>
                </div>

                <div id="second_exam"></div>

            </div>
        </div>
    </div>
</div>

<script>
    var type_dict = {
        "A": "Autre",
        "O": "Oral",
        "E": "Écrit"
    }

    function add_to_big_table(item, id_structure, session) {
        let regime = item.regime == "E" ? "ECI" : "CC/CT";
        let type = type_dict[item.type_exam];
        let coef = item.coefficient;
        let convoc = item.convocation == true ? "Avec convoc" : "Sans convoc";
        let id = item.id;

        let to_write = "<span class='border-left exam_id-" + id + "'>" + regime + "-" + type + " (" + coef + ")<br>" +
            convoc + "</span>"

        let to_catch = session === "1" ? ".mecc-s1-" + id_structure : ".mecc-s2-" + id_structure;
        $(to_catch).append(to_write);



    }

    function struct_select(id_structure, st_label, st_nature, st_regime, st_session, st_ref_scol, st_rof_ref) {
        // update title
        document.getElementById('struct_object').innerHTML = st_label;
        document.getElementById('struct_type').innerHTML = st_nature;
        document.getElementById('struct_regime').innerHTML = st_regime + ' ' + st_session;
        document.getElementById('struct_siscol').innerHTML = st_ref_scol;
        document.getElementById('struct_rof').innerHTML = st_rof_ref;
        // Show the modal
        $('#exams_tab').modal('show');


        jsGrid.locale("fr");

        let url_list = "/mecctable/list_exams/" + id_structure;
        let url_add = "/mecctable/add_exam/";
        let url_update = "/mecctable/update_exam/" + id_structure;
        let url_delete = "/mecctable/delete_exam/" + id_structure;


        $("#principal_exam").jsGrid({
            height: "auto",
            width: "100%",

            editing: true,
            sorting: true,
            paging: true,
            autoload: true,
            inserting: true,

            pageSize: 15,
            pageButtonCount: 5,

            // Hide adding field once data is loaded
            onDataLoaded: function () {
                $(".jsgrid-insert-row").hide();

            },
            onItemInserted: function (args) {
                add_to_big_table(args.item, id_structure, "1")
            },
            onItemUpdated: function (args) {
                $(".exam_id-" + args.item.id).remove();
                add_to_big_table(args.item, id_structure, "1")
            },
            onInit: function () {
                $(".repport_session_2 input").on('click', function () {
                    console.log('alallalalalalallalal')
                });
            },
            controller: {
                loadData: function (filter) {
                    return $.ajax({
                        url: url_list,
                        dataType: "json"
                    })

                },
                insertItem: function (item) {
                    var d = $.Deferred();
                    $.ajax({
                        url: url_add,
                        type: "POST",
                        dataType: "json",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            exam: JSON.stringify(item),
                            id_structure: id_structure
                        },
                    }).done(function (response) {
                        d.resolve(response.value);
                    });

                    return d.promise();
                },
                updateItem: function (item) {
                    console.log('ciciciicqslknkd')
                    var d = $.Deferred();
                    $.ajax({
                        url: url_update,
                        type: "POST",
                        dataType: "json",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            exam: JSON.stringify(item),
                            id_structure: id_structure
                        },
                    }).done(function (response) {
                        d.resolve(response.value);
                    });

                    return d.promise();

                },
                deleteItem: function (item) {
                    var d = $.Deferred();
                    $.ajax({
                        url: url_delete,
                        type: "POST",
                        dataType: "json",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            exam: JSON.stringify(item),
                            id_structure: id_structure
                        },
                    }).done(function (response) {
                        d.resolve(response.value);
                    });

                    return d.promise();
                },
            },

            fields: [{
                    name: "_id",
                    type: "number",
                    title: "id auto",
                    width: 40,
                    validate: "required",
                    editing: false,
                    inserting: false,
                },
                {
                    css: "select_type",
                    name: "type_exam",
                    type: "select",
                    title: "Type",
                    items: [{
                            Name: "Écrit",
                            Id: "E"
                        },
                        {
                            Name: "Oral",
                            Id: "O"
                        },
                        {
                            Name: "Autre",
                            Id: "A"
                        }
                    ],
                    valueField: "Id",
                    textField: "Name",
                    width: 60
                },
                {
                    name: "label",
                    type: "text",
                    title: "Intitulé épreuve (25 car.)",
                    width: 180
                },
                {
                    name: "additionnal_info",
                    type: "textarea",
                    title: "Complément",
                    width: 75
                },
                {
                    name: "type_ccct",
                    type: "select",
                    title: "Type CC/CT",
                    visible: st_regime == "ECI" ? false : true,
                    width: 45,
                    valueField: "Id",
                    textField: "Name",
                    items: [{
                            Name: "CC",
                            Id: "C"
                        },
                        {
                            Name: "CT",
                            Id: "T"
                        },
                    ],
                },
                {
                    name: "exam_duration",
                    type: "text",
                    title: "Durée",
                    width: 45
                },
                {
                    name: "convocation",
                    type: st_regime == "ECI" ? "checkbox" : "text",
                    title: "Convocation",
                    visible: st_regime == "ECI" ? true : false,
                    width: 75
                },
                {
                    name: "coefficient",
                    type: "number",
                    title: "Coef",
                    width: 40
                },
                {
                    name: "eliminatory_grade",
                    type: "number",
                    title: "Note seuil",
                    width: 40
                },
                {
                    css: "repport_session_2",
                    name: "is_session_2",
                    type: "checkbox",
                    title: "Repport session 2",
                    visible: st_session == "Session unique" ? false : true,
                    width: 70,
                },
                {
                    name: "threshold_session_2",
                    type: "number",
                    title: "À partir de ...",
                    width: 70,
                    visible: st_session == "Session unique" ? false : true,
                },
                {
                    type: "control",

                    headerTemplate: function () {
                        // Add + button to show
                        return $("<button>").attr("type", "button").text("+")
                            .on("click", function () {
                                $("#principal_exam .jsgrid-insert-row").show()
                            });
                    }
                }
            ]
        });



        $("#second_exam").jsGrid({
            height: "auto",
            width: "100%",

            editing: true,
            sorting: true,
            paging: true,
            autoload: true,
            inserting: true,

            pageSize: 15,
            pageButtonCount: 5,
            // Hide adding field once data is loaded
            onDataLoaded: function () {
                $(".jsgrid-insert-row").hide();
            },

            controller: {
                loadData: function (filter) {

                    return $.ajax({
                        url: url_list,
                        data: 'session2=True',
                        dataType: "json"
                    })

                },
                insertItem: function (item) {
                    var d = $.Deferred();
                    $.ajax({
                        url: url_add,
                        type: "POST",
                        dataType: "json",
                        data: {
                            session2: true,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            exam: JSON.stringify(item),
                            id_structure: id_structure
                        },
                    }).done(function (response) {
                        d.resolve(response.value);
                    });

                    return d.promise();

                },
                updateItem: function (item) {

                    var d = $.Deferred();
                    $.ajax({
                        url: url_update,
                        type: "POST",
                        dataType: "json",
                        data: {
                            session2: true,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            exam: JSON.stringify(item),
                            id_structure: id_structure
                        },
                    }).done(function (response) {
                        d.resolve(response.value);
                    });

                    return d.promise();


                },
                deleteItem: function (item) {
                    var d = $.Deferred();
                    $.ajax({
                        url: url_delete,
                        type: "POST",
                        dataType: "json",
                        data: {
                            session2: true,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            exam: JSON.stringify(item),
                            id_structure: id_structure
                        },
                    }).done(function (response) {
                        d.resolve(response.value);
                    });

                    return d.promise();


                },
            },

            fields: [{
                    name: "_id",
                    type: "number",
                    title: "id auto",
                    width: 40,
                    validate: "required",
                    editing: false,
                    inserting: false,


                },
                {
                    name: "type_exam",
                    type: "select",
                    title: "Type",
                    items: [{
                            Name: "Écrit",
                            Id: "E"
                        },
                        {
                            Name: "Oral",
                            Id: "O"
                        },
                        {
                            Name: "Autre",
                            Id: "A"
                        }
                    ],
                    valueField: "Id",
                    textField: "Name",
                    width: 60
                },
                {
                    name: "label",
                    type: "text",
                    title: "Intitulé épreuve (25 car.)",
                    width: 180
                },
                {
                    name: "additionnal_info",
                    type: "textarea",
                    title: "Complément",
                    width: 75
                },
                {
                    name: "exam_duration",
                    type: "text",
                    title: "Durée",
                    width: 45
                },
                {
                    name: "coefficient",
                    type: "number",
                    title: "Coef",
                    width: 40
                },
                {
                    name: "eliminatory_grade",
                    type: "number",
                    title: "Note seuil",
                    width: 40
                },
                {
                    type: "control",

                    headerTemplate: function () {
                        // Add + button to show
                        return $("<button>").attr("type", "button").text("+")
                            .on("click", function () {
                                $("#second_exam .jsgrid-insert-row").show()
                            });
                    }
                }
            ]
        });
        $(".jsgrid-insert-row").hide()
    }
</script>