{% load i18n %} {% load dipstrapfiles %} {% load crispy_forms_tags %} {% load staticfiles %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />

<script type="text/javascript" src="{% static 'js/jsgrid/jsgrid.min.js' %}"></script>

<div class="modal" id="send_mail_respform" role="dialog" style="z-index: 1200; display: block">
    <div class="modal-dialog modal-90">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <div class="disp-flex space-between">
                    <div>
                        <h1 class="title-modal">{% trans "Définition des épreuves" %}</h1>
                        {% trans "Année universitaire : " %} {{request.display.current_year}}
                    </div>
                    <button type="button" class="btn-primary btn btn-sm btn-1" id="get_old_exams">{% trans "Récupérer les ÉPREUVES <br>de l'anée précédente pour cet objet" %}</button>
                </div>
                <div class="disp-flex space-between paddin-top">
                    <div>
                        <span>{% trans "Object : " %} </span>
                        <strong>
                            <span id="struct_object">UE CHIMIE un titre ultra long qui casse la tete</span>
                        </strong>
                    </div>
                    <div class="margin-left05">
                        <span>{% trans "Type : " %} </span>
                        <strong>
                            <span id="struct_type" class>UE</span>
                        </strong>
                    </div>
                    <div class="margin-left05">
                        <span>{% trans "Régime : " %} </span>
                        <strong>
                            <span id="struct_regime">ECI 2 sessions</span>
                        </strong>
                    </div>
                    <div class="margin-left05">
                        <span>{% trans "SI Scol : " %} </span>
                        <strong>
                            <span id="struct_siscol"> CHCGUIA</span>
                        </strong>
                    </div>
                    <div class="margin-left05">
                        <span>{% trans "ROF : " %} </span>
                        <strong>
                            <span id="struct_rof"> -- </span>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <h4 class="blue">
                    {% trans "Épreves de la session pincipale"%}
                </h4>
                <div id="principal_exam"></div>

                <h4 class="blue">
                    {% trans "Épreves de la session de rattrapage"%}
                </h4>
                <div id="second_exam"></div>

            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        $("#principal_exam").jsGrid({
            height: "auto",
            width: "100%",

            editing: true,
            sorting: true,
            paging: true,
            autoload: true,

            pageSize: 15,
            pageButtonCount: 5,

            deleteConfirm: "Voulez vous vraiment supprimer cette épreuve?",

            controller: {
                loadData: function () {
                    var d = $.Deferred();

                    $.ajax({
                        url: "{% url 'mecctable:list_exam'%}",
                        dataType: "json"
                    }).done(function (response) {
                        d.resolve(response.value);
                    });

                    return d.promise();
                }
            },

            fields: [{
                    name: "_id",
                    type: "number",
                    title: "id auto",
                    width: 40,
                    validate: "required"
                },
                {
                    name: "type",
                    type: "select",
                    title: "Type",
                    items: ["Écrit", "Oral", "Autre"],
                    width: 60
                },
                {
                    name: "label",
                    type: "text",
                    title: "Intitulé épreuve (25 car.)",
                    width: 180
                },
                {
                    name: "additionnal_info",
                    type: "textarea",
                    title: "Complément",
                    width: 75
                },
                {
                    name: "type_ccct",
                    type: "text",
                    title: "Type CC/CT",
                    width: 45
                },
                {
                    name: "exam_duration",
                    type: "text",
                    title: "Durée",
                    width: 45
                },
                {
                    name: "convocation",
                    type: "checkbox",
                    title: "Convocation",
                    width: 75
                },
                {
                    name: "coefficient",
                    type: "number",
                    title: "Coef",
                    width: 40
                },
                {
                    name: "eliminatory_grade",
                    type: "number",
                    title: "Note seuil",
                    width: 40
                },
                {
                    name: "is_session_2",
                    type: "text",
                    title: "Repport session 2",
                    width: 70
                },
                {
                    name: "threshold_session_2",
                    type: "number",
                    title: "À partir de ...",
                    width: 70
                },
                {
                    type: "control"
                }
            ]
        });


    });

    $("#second_exam").jsGrid({
        height: "auto",
        width: "100%",

        editing: true,
        sorting: true,
        paging: true,
        autoload: true,

        pageSize: 15,
        pageButtonCount: 5,

        deleteConfirm: "Voulez vous vraiment supprimer cette épreuve?",

        controller: {
            loadData: function () {
                var d = $.Deferred();

                $.ajax({
                    url: "",
                    dataType: "json"
                }).done(function (response) {
                    d.resolve(response.value);
                });

                return d.promise();
            }
        },

        fields: [{
                name: "_id",
                type: "number",
                title: "id auto",
                width: 40,
                validate: "required"
            },
            {
                name: "type",
                type: "select",
                title: "Type",
                items: ["Écrit", "Oral", "Autre"],
                width: 60
            },
            {
                name: "label",
                type: "text",
                title: "Intitulé épreuve (25 car.)",
                width: 180
            },
            {
                name: "additionnal_info",
                type: "textarea",
                title: "Complément",
                width: 75
            },
            {
                name: "exam_duration",
                type: "text",
                title: "Durée",
                width: 45
            },
            {
                name: "coefficient",
                type: "number",
                title: "Coef",
                width: 40
            },
            {
                name: "eliminatory_grade",
                type: "number",
                title: "Note seuil",
                width: 40
            },
            {
                type: "control"
            }
        ]
    });

</script>