{% load i18n %} {% load crispy_forms_tags %}

<div class=" modal fade " id="shared-object" role="dialog" style="z-index: 1200;">
    <div class="modal-dialog modal-90">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="title-modal">
                    {% trans "Intégrer un objet mutualisé" %}
                </h4>
                <div class="grey">
                    {% trans "Année universitaire : " %} {{request.display.current_year}}
                </div>
            </div>
            <div class="modal-body">
                <div id="select-training" class="form-group">
                    <label for="select-training" class="control-label  ">
                        {% trans "Composante porteuse" %}
                    </label>
                    <div class="controls ">
                        <select class="select form-control" id="select-train" name="training">
                            <option value="0" selected>------------</option>
                        {% for e in all_cmp %}
                            <option value="{{e.code}}" >{{e.label}}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <table class="display table table-bordered" id="suggest">
                  <thead>
                    <tr>
                      <th >{% trans "ID" %}</th>
                      <th >{% trans "Formation propriétaire de l'objet" %}</th>
                      <th >{% trans "Intitulé de l'objet" %}</th>
                      <th >{% trans "Régime" %}</th>
                      <th >{% trans "Sessions" %}</th>
                      <th >{% trans "Crédits" %}</th>
                      <th >{% trans "Résponsable" %}</th>
                      <th >{% trans "Si Scol" %}</th>
                      <th >{% trans "ROF" %}</th>
                    </tr>
                  </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="" id="include-selected-obj">{% trans "Valider" %}</button>
                <button type="button" class="btn " id="button-id-cancel" data-dismiss="modal">{% trans "Annuler" %}</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
$(document).ready(function () {
    $('#select-train').on('click', function() {
        let cmp_code = this.value;
        console.log(asking_inclusion);
        console.log(cmp_code);
        $.ajax({
            url: "{% url 'mecctable:get_mutual_by_cmp'%}",
            type: "GET",
            data: {
                cmp_code: cmp_code,
                asking_id: asking_inclusion
            },
            success: function(data) {
                $('#suggest').DataTable( {
                    destroy: true,
                    data: data.suggest,
                } );

            }
        })
    });


});
</script>
