{% load i18n %} {% load crispy_forms_tags %}

<div class=" modal fade " id="shared-object" role="dialog" style="z-index: 1200;">
    <div class="modal-dialog modal-90">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="title-modal">
                    {% trans "Intégrer un objet mutualisé" %}
                </h4>
                <div class="grey">
                    {% trans "Année universitaire : " %} {{request.display.current_year}}
                </div>
            </div>
            <div class="modal-body">
                <div id="select-training" class="form-group">
                    <label for="select-training" class="control-label  ">
                        {% trans "Composante porteuse" %}
                    </label>
                    <div class="controls ">
                        <select class="select form-control" id="select-train" name="training">
                            <option value="0" selected>------------</option>
                        {% for e in all_cmp %}
                            <option value="{{e.code}}" >{{e.label}}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <table class="display table table-bordered" id="suggest">
                  <thead>
                    <tr>
                      <th><input type="checkbox" onClick="selectall(this)" /></th>
                      <th >{% trans "Type d'objet" %}</th>
                      <th >{% trans "Formation propriétaire de l'objet" %}</th>
                      <th >{% trans "Intitulé de l'objet" %}</th>
                      <th >{% trans "Régime" %}</th>
                      <th >{% trans "Sessions" %}</th>
                      <th >{% trans "Crédits" %}</th>
                      <th >{% trans "Résponsable" %}</th>
                      <th >{% trans "Si Scol" %}</th>
                      <th >{% trans "ROF" %}</th>
                    </tr>
                  </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="" id="include-selected-obj">{% trans "Valider" %}</button>
                <button type="button" class="btn " id="button-id-cancel" data-dismiss="modal">{% trans "Annuler" %}</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
function selectall(source) {
    let checkboxes = document.getElementsByName('suggest-id');
    for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
    }
}
$(document).ready(function () {
    $('#shared-object').on('shown.bs.modal', function() {
        $("#select-train").focus();
        let table = $('#suggest').DataTable({
            "paging": false,
            "ordering": false,
            "info": false,
            // "search":false,
            data: '',
            language: {
               processing:     "Traitement en cours...",
               search:         "Rechercher&nbsp;:",
               lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
               info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
               infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
               infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
               infoPostFix:    "",
               loadingRecords: "Chargement en cours...",
               zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
               emptyTable:     " ",
               paginate: {
                   first:      "Premier",
                   previous:   "Pr&eacute;c&eacute;dent",
                   next:       "Suivant",
                   last:       "Dernier"
               },
               aria: {
                   sortAscending:  ": activer pour trier la colonne par ordre croissant",
                   sortDescending: ": activer pour trier la colonne par ordre décroissant"
               }
            },

        });

    });
    $('#select-train').on('click', function() {
        let cmp_code = this.value;
        console.log(asking_inclusion);
        console.log(cmp_code);
        $.ajax({
            url: "{% url 'mecctable:get_mutual_by_cmp'%}",
            type: "GET",
            data: {
                cmp_code: cmp_code,
                asking_id: asking_inclusion
            },
            success: function(data) {
                let table = $('#suggest').DataTable( {
                    columnDefs: [ {
                       orderable: false,
                       className: 'select-checkbox',
                       targets:   0
                    } ],
                    select: {
                       style:    'os',
                       selector: 'td:first-child'
                    },

                    order: [[ 1, 'asc' ]],

                    // "paging": false,
                    // "ordering": false,
                    // "info": false,
                    // "searching":false,
                    destroy: true,
                    data: data.suggest,
                    language: {
                       processing:     "Traitement en cours...",
                       search:         "Rechercher&nbsp;:",
                       lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                       info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                       infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                       infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                       infoPostFix:    "",
                       loadingRecords: "Chargement en cours...",
                       zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                       emptyTable:     "Aucune donnée disponible dans le tableau",
                       paginate: {
                           first:      "Premier",
                           previous:   "Pr&eacute;c&eacute;dent",
                           next:       "Suivant",
                           last:       "Dernier"
                       },
                       aria: {
                           sortAscending:  ": activer pour trier la colonne par ordre croissant",
                           sortDescending: ": activer pour trier la colonne par ordre décroissant"
                       }
                    },
                    columnDefs: [ {
                       orderable: false,
                       className: 'select-checkbox',
                       targets:   0
                    } ],
                    select: {
                       style:    'os',
                       selector: 'td:first-child'
                    },
                    order: [[ 1, 'asc' ]],






                } );

            }
        })
    });


});
</script>
