{% load i18n %} {% load crispy_forms_tags %}
{% load staticfiles %}
<script src="{% static 'js/datatable.min.js' %}"></script>

<div class=" modal fade " id="shared-object" role="dialog" style="z-index: 1200;">
    <div class="modal-dialog modal-90">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="title-modal">
                    {% trans "Intégrer un objet mutualisé" %}
                </h4>
                <div class="grey">
                    {% trans "Année universitaire : " %} {{request.display.current_year}}
                </div>
            </div>
            <div class="modal-body">
                <div id="select-training" class="form-group">
                    <label for="select-training" class="control-label  ">
                        {% trans "Composante porteuse" %}
                    </label>
                    <div class="controls ">
                        <select class="select form-control" id="select-train" name="training">
                            <option value="0" selected>--</option>
                        {% for e in all_cmp %}
                            <option value="{{e.code}}" >{{e.label}}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <table class="display table table-bordered" id="suggest">
                  <thead>
                    <tr>
                      <th><input type="checkbox" onClick="selectall(this)" id="checkbox_all" /></th>
                      <th >{% trans "Type d'objet" %}</th>
                      <th >{% trans "Intitulé de l'objet" %}</th>
                      <th >{% trans "Formation propriétaire de l'objet" %}</th>
                      <th >{% trans "Régime" %}</th>
                      <th >{% trans "Sessions" %}</th>
                      <th >{% trans "Crédits" %}</th>
                      <th >{% trans "Résponsable" %}</th>
                      <th >{% trans "Si Scol" %}</th>
                      <th >{% trans "ROF" %}</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr> <!-- is populate with select option for each column-->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="import_selected_suggestions()" id="include-selected-obj">{% trans "Intégrer les éléments sélectionnés" %}</button>
                <button type="button" class="btn " id="button-id-cancel" data-dismiss="modal">{% trans "Annuler" %}</button>
            </div>
        </div>
    </div>
</div>
<style media="screen">
/*put footer just under header*/
tfoot {
    display: table-header-group;
}
/*hide unwanted column select-option*/
tfoot tr td:first-child select, tfoot tr td:nth-child(3) select,
tfoot tr td:nth-child(8) select, tfoot tr td:nth-child(10) select {
    display: none
}
</style>


<script type="text/javascript">
function selectall(source) {
    let checkboxes = document.getElementsByName('suggest-id');
    for(let i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
    }
}
function import_selected_suggestions(){
    let checkboxValues = [];
    $('input[name="suggest-id"]:checked').map(function(){
        checkboxValues.push(this.value);

    });
    $.ajax({
        url: "{% url 'mecctable:import_objectslink'%}",
        type: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            selected_id: checkboxValues,
            asking_id: asking_inclusion,
            id_training : {{training.id}}
        },
        success: function(data) {
            $('#shared-object').modal('hide');
            if (data.not_imported === true) {
                $('.top-right').notify({
                    message: { text: 'Des objets n\'ont pas été importé car déjà existant au sein du même père.' },
                    type:'warning'
                }).show();
                setTimeout(null, 5000)
            }else{
                $('.top-right').notify({
                    message: { text: 'Tableau mis à jour.' },
                    type:'info'
                }).show();
            }
            window.location.reload()
        },
        error: function(data){
            console.log(data);
        }
    });

}
$(document).ready(function () {
    // set datatable
    let table_suggest =  $('#suggest').DataTable( {
        "paging": false,
        // "ordering": false,
        "info": false,
        "searching":false,
    } );

    // Reset values on new modal
    $('#shared-object').on('shown.bs.modal', function() {
        $("#select-train").focus();
        $("#select-train").val("0");
        document.getElementById('checkbox_all').checked = false;
        table_suggest.state.clear();
        table_suggest.clear().draw();
    });
    // to populate datatable
    $('#select-train').on('click', function() {
        populate_table(asking_inclusion, this.value)

    });
    // ajax call to populate
    function populate_table(asking_inclusion, cmp_code){
        $.ajax({
            url: "{% url 'mecctable:get_mutual_by_cmp'%}",
            type: "GET",
            data: {
                cmp_code: cmp_code,
                asking_id: asking_inclusion,
                training_id: {{training.id}}
            },
            success: function(data) {
                table_suggest = $('#suggest').DataTable( {
                    columnDefs: [ {
                       orderable: false,
                       className: 'select-checkbox',
                       targets:   0
                    } ],
                    select: {
                       style:    'os',
                       selector: 'td:first-child'
                    },
                    order: [[ 1, 'asc' ]],
                    "paging": false,
                    "info": false,
                    "searching":false,
                    destroy: true, // in order to reset early data
                    data: data.suggest, // populate
                    language: {
                       processing:     "Traitement en cours...",
                       search:         "Rechercher&nbsp;:",
                       lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                       info:           "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                       infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                       infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                       infoPostFix:    "",
                       loadingRecords: "Chargement en cours...",
                       zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                       emptyTable:     " ",
                       paginate: {
                           first:      "Premier",
                           previous:   "Pr&eacute;c&eacute;dent",
                           next:       "Suivant",
                           last:       "Dernier"
                       },
                       aria: {
                           sortAscending:  ": activer pour trier la colonne par ordre croissant",
                           sortDescending: ": activer pour trier la colonne par ordre décroissant"
                       }
                    },
                    // add a new column for checking object
                    columnDefs: [ {
                       orderable: false,
                       className: 'select-checkbox',
                       targets:   0
                    } ],
                    select: {
                       style: 'os',
                       selector: 'td:first-child'
                    },
                    order: [[ 1, 'asc' ]],
                    initComplete: function(){
                        // generate a new line with select option for each column
                        this.api().columns().every(function() {
                            let column = this;
                            let select = $('<select class="select_suggest" ><option value="" disabled>---</option></select>')
                                .appendTo( $(column.footer()).empty() )
                                // hide and show tr according to filter
                                .on('change', function() {
                                    let value = $(this).val();
                                    $("#suggest tbody tr:contains('"+value+"')").show();
                                    $("#suggest tbody tr:not(:contains('"+value+"'))").hide();
                                } );
                            // reset select option in order to make sense to hide and show above
                            select.mousedown(function(){
                                selectTags = document.getElementsByTagName("select");
                                for(let i = 0; i < selectTags.length; i++) {
                                  selectTags[i].selectedIndex =0;
                                }
                            });
                            // add option to show all stuff
                            select.append('<option class="option_suggest" value=" ">Tous</option>');
                            // get all td from colum and make an option for each distinct one
                            column.data().unique().sort().each(function (d, j) {
                                if (d){
                                    select.append('<option class="option_suggest" value="'+d+'">'+d+'</option>')
                                }
                            } );
                        } );
                    },
                } );

            }
        })
    }
});
</script>
