<div class="modal fade" id="confirm-validation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{% trans 'Confirmation nécessaire' %}</h4>
            </div>

            <div class="modal-body">
                <span id="modal-help">{% trans 'Date(s) déja saisie(s) à modifier :' %}</span>
                <p></p>
                <p class="modal-items-container"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Annuler' %}</button>
                <a class="btn btn-primary btn-ok" onclick="document.getElementById('validate-form').submit()">{% trans 'Ok' %}</a>
            </div>
        </div>
    </div>
</div>
