{% load i18n %} {% load dipstrapfiles %} {% load crispy_forms_tags %} {% load staticfiles %}


<div class="modal fade" id="send_mail" role="dialog" style="z-index: 1400;">
    <div class="modal-dialog modal-90">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="title-modal">{% trans "Envoyer une notification" %}</h1>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'institute:send_mail'%}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="subject" class="control-label col-lg-2">{% trans "Sujet :" %}</label>
                        <div class="controls col-lg-10">
                            <input name="subject" class="form-control" value='[MECC] {{notification_object}}' placeholder="Sujet du mail" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="text" class="control-label col-lg-2">{% trans "À :" %}</label>
                        <div class="controls col-lg-10">
                            <input id='send-to' type="email" name="to" class="form-control" value="{{notification_to}}" placeholder="Destinataire" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cc" class="control-label col-lg-2">{% trans "CC :" %}</label>
                        <div class="controls col-lg-10">
                            <input type="text" name="cc" class="form-control" placeholder="Copie à" value="{{request.user.email}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="body" class="control-label col-lg-2">{% trans "Message :" %}</label>
                        <div class="controls col-lg-10">
                            <textarea name="body" rows="8" class="form-control" required placeholder="Message de notification" >{% if test_mail %}{{test_mail}}{% endif %}</textarea>
                        </div>
                    </div>
                          <div class="modal-footer">
                        <button class="btn btn-primary has-1em-margin-top">{% trans "Envoyer" %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>

<style media="screen">
    .modal-content, #mail-title {
        width: 100%
    }
    .form-group label{
        text-align: right;
    }
    .form-group label, .form-group div{
        margin-top: 0.5em;
    }


</style>
