{% load i18n %}
{% load dipstrapfiles %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<div class="modal fade" id="institutes_list_cfvu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-90">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Liste des composantes Date prévisionnelle de Conseil de composante ultérieure à la CFVU MECC" %}</h4>
            </div>
            <div class="modal-body">
                <div class="comp-left">
                    <div>
                        <h4> {% trans "Année universitaire" %} : {{ request.display.current_year }}</h4>
                        <ul>
                            {% if cfvu_entries %}
                                {% regroup cfvu_entries by domain as institutes_list %}
                                {% for institute in institutes_list %}
                                    <li>{{ institute.grouper }}</li>
                                    <ul>
                                        {% for label in institute.list %}
                                            <li>
                                                {{ label.cmp }} <span class="red"
                                                                      style="margin-left:30px">{{ label.date }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <li>{% trans 'Aucune composante' %}</li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Fermer' %}</button>
            </div>
        </div>
    </div>
</div>
