{% load i18n %} {% load dipstrapfiles %} {% load crispy_forms_tags %} {% load staticfiles %}
<div class="modal fade" id="institutes_trainings_council_waiting_list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-90">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">{% trans "Liste des composantes : toutes les formations sont 'en attente de validation Conseil composante'" %}</h4>
            </div>
            <div class="modal-body">
                <div class="comp-left">
                  <div>

                      <h4> {% trans "Année universitaire" %} : {{ request.display.current_year }}</h4>
                      <ul>
                      {% if institutes_trainings_completed_no_validation %}
                          {% regroup institutes_trainings_completed_no_validation|dictsort:"field.name" by field.name as institutes_list %}
                          {% for institute in institutes_list %}
                                    <li>{{ institute.grouper }}</li>
                                    <ul>
                                    {% for label in institute.list  %}
                                            <li>{{ label }}</li>
                                    {% endfor %}
                                </ul>
                          {% endfor %}
                      {% else %}
                         <li>
                              {% trans 'Aucune composante'%}
                         </li>
                      {% endif %}
                      </ul>
                  </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Fermer' %}</button>
            </div>
        </div>
    </div>
</div>
