{% load i18n %}
{% load staticfiles %}

<script src="{% static 'js/autocomplete.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/autocomplete.min.css' %}" type="text/css" title="no title" charset="utf-8" />

<div id="table-diretu" class="table-editable">
  <div id='message'></div>

  <table class="table">
    <tr>
      <th colspan="3">{% trans "Directeurs d'études" %}</th>
      <th>
          <span class="glyphicon glyphicon-refresh glyphicon-spin pull-right" id='load-diretu'></span>
        <button type="button" class=" table-add btn btn-default pull-right btn-md" id="add_diretu">
          <span class=" glyphicon glyphicon-plus" ></span>
        </button>
      </th>
    </tr>
    {% for e in institute.diretu.all %}
    <tr>
      <td width="40%">{{e.user.last_name}}</td>
      <td width="40%" colspan="2" class="first_name">{{e.user.first_name}}</td>
      <td class="id_member">{{e.user.username}}</td>
      <td class="type">DIRETU</td>
      <td  width="20%">
        <button type="button" class="btn btn-default table-remove  btn-xs">
          <strong>{% trans "Supprimer" %}</strong>
        </button>
      </span>
      </td>    </tr>
    {% endfor %}
    <br>
    <!-- This is the clonable table line -->
    <tr class="hide clone">
      <td width="40%">
        <input class="name input-naked"  name="diretu" placeholder='Rechercher'  />
      </td>
      <td width="40%" colspan="2" class="first_name"></td>
      <td class="id_member"></td>
      <td class="type">DIRETU</td>
      <td  width="20%">
        <button type="button" class="btn btn-default new_diretu  btn-xs">
          <strong>{% trans "Valider" %}</strong>
        </button>
        <button type="button" class="btn btn-default table-remove hidden  btn-xs">
          <strong>Supprimer</strong>
        </button>
      </span>
      </td>
    </tr>
  </table>
</div>
<br>
<div id="table-gescol" class="table-editable">
  <table class="table" >
    <tr>
      <th colspan="2">{% trans "Gestionnaires de scolarité" %}</th>
      <th><small>{% trans "référent app" %}</small></th>
      <th>
          <button type="button" class="pull-right table-add btn btn-default " id="add_gescol">
              <span class=" glyphicon glyphicon-plus" ></span>
          </button>
          <span class="glyphicon glyphicon-refresh glyphicon-spin pull-right" id='load-gescol'></span>

      </th>
    </tr>
    {% for e in institute.scol_manager.all %}
    <tr>
      <td  width="40%">{{e.user.last_name}}</td>
      <td  width="25%"class="first_name">{{e.user.first_name}}</td>
      <td class="id_member">{{e.user.username}}</td>
      <td class="type">{%if e.is_ref_app%}REFAPP{%else%}GESCOL{%endif%}</td>
      <td  width="15%"><input type="checkbox" name="refapp" {%if e.is_ref_app%} checked="true" {%endif%} disabled="true"></td>
      <td  width="20%">
        <button type="button" class="btn btn-default table-remove btn-xs">
          <strong>{% trans "Supprimer" %}</strong>
        </button>
      </span>
      </td>    </tr>

    {% endfor %}
    <!-- This is the clonable table line -->
    <tr class="hide clone">
      <td>
        <input class="name input-naked" name="gescol" placeholder='Rechercher'  />
      </td>
      <td class="first_name"></td>
      <td class="id_member"></td>
      <td class="type">GESCOL</td>
      <td ><input type="checkbox" name="refapp" ></td>
      <td >
        <button type="button" class="btn btn-default new_gescol btn-xs">
          <strong>{% trans "Valider" %}</strong>
        </button>
        <button type="button" class="btn btn-default table-remove hidden btn-xs">
          <strong>{% trans "Supprimer" %}</strong>
        </button>
      </span>
      </td>
    </tr>

  </table>
</div>

<script>
var code_cmp = document.getElementById("id_code").value
var url_prof = "/ressources/prof/" + code_cmp + ".json"
var url_adm = "/ressources/adm/" + code_cmp + ".json"

$('.table-remove').click(function () {
  var username = $('td:first',$(this).parents('tr')).next().next();
  var type = username.next();
  $.ajax({
    url: "{% url 'institute:remove_pple' %}",
    type: "POST",
    data: {
      csrfmiddlewaretoken: '{{ csrf_token }}',
      username: username.text(),
      code_cmp: code_cmp,
      type: type.text(),
    },
    success: function(data) {
      if (data.success){
        $('#message').html("<div class='alert alert-danger fade in'>" +
            "</span> <a class='close' data-dismiss='alert' aria-label='close'>&times;</a>" +
            data.success + "</div>");
        document.getElementById('message').style.display = '';
      }
    }
  });
  $(this).parents('tr').detach();
});



function do_stuff (data, add_first, add_new, type) {

  document.getElementById(add_first).style.display = "block";

    $("#" + add_first + ", "+ add_new).click(function () {
      var clone = $(this).parents('table').find('.clone').clone(true).removeClass('hide table-line clone');
      var g_table =   $(this).parents('div').find(  $(this).parents('table'));
      var a = clone.find('.name');
      g_table.append(clone);
      $(this).next().removeClass('hidden ');
      $(this).addClass(' hidden');

      var auto_comp = g_table.find(a);
      var options = {
        data: data,
        getValue: function (element) {
          return element.last_name;
        },
        template: {
          type: "description",
          fields: {
            description: "id_member"
          }
        },
        list: {
          match:{
            enabled:true
          },
          onSelectItemEvent: function() {
            var first_name = auto_comp.getSelectedItemData().first_name;
            var id_member = auto_comp.getSelectedItemData().id_member;
            auto_comp.parents('td').next()[0].innerHTML = first_name;
            auto_comp.parents('td').next().next()[0].innerHTML = id_member;
          }
        }
      };
      auto_comp.easyAutocomplete(options);
      $(add_new).one('click', function(e){
          var tr = $(this).parents('tr');
          var first_cell = $('td:first', tr);
          var input = first_cell.find('input')
          var last_name = input.val();
          var first_name = first_cell.next().text();
          var username = first_cell.next().next().text();
          var refapp = first_cell.next().next().next().next().find('input');
          input.addClass('hidden');
          if (last_name != null) {
            first_cell[0].innerHTML = last_name;
            if (refapp[0] != null){
               refapp[0].disabled = true
            }
          }
          if (this.parentNode != null) {
            this.parentNode.removeChild(this);
            $.ajax({
              url: "{% url 'institute:add_pple' %}",
              type : "POST",
              data : {
                  csrfmiddlewaretoken: '{{ csrf_token }}',
                  last_name: last_name,
                  first_name: first_name,
                  username: username,
                  code_cmp: code_cmp,
                  type: type,
                  is_ref_app: refapp.is(":checked")
              },
              success: function(data) {
                if (data.message) {
                  $('#message').html("<div class='alert alert-warning fade in'>" +
                      "</span> <a class='close' data-dismiss='alert' aria-label='close'>&times;</a>" +
                      data.message + "</div>");
                  document.getElementById('message').style.display = '';
                  tr.detach();
                };
                if (data.success) {
                  $('#message').html("<div class='alert alert-success fade in'>" +
                      "</span> <a class='close' data-dismiss='alert' aria-label='close'>&times;</a>" +
                      data.success + "</div>");
                  document.getElementById('message').style.display = '';
                }

              }
            });
          }

      });

   });
}


$.getJSON(url_adm, function(data) {
  document.getElementById('load-gescol').style.display = "none";
  do_stuff(data, "add_gescol", " .new_gescol", "gescol");
});

$.getJSON(url_prof, function (data) {
    document.getElementById('load-diretu').style.display = "none";
    do_stuff(data, "add_diretu", " .new_diretu", "diretu")
});

</script>





<style>
.table-editable {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.table-remove {
  color: red;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

.table-add, .new_gescol, .new_diretu {
  color: #070;
  cursor: pointer;
}
.table-add, .type{
  display: none;
}
</style>
