{% load i18n %}
{% load staticfiles %}

<script src="{% static 'js/autocomplete.js' %}"></script>

<div id="table-diretu" class="table-editable">
  <table class="table">
    <tr>
      <th width="95%" colspan="3">{% trans "Directeurs d'études" %}</th>
      <th width="5%"> <span class="table-add glyphicon glyphicon-plus pull-right"></span></th>
    </tr>
    <!-- This is the clonable table line -->
    <tr class="hide">
      <td width="40%" contenteditable="true" placeholder="{% trans 'Rechercher' %}" ></td>
      <td width="40%" class="first_name"></td>
      <td width="15%"> <span class="table-remove glyphicon glyphicon-trash pull-right"></span>
      <td width="5%"></td>
      </td>
    </tr>
  </table>
</div>
<br>
<div id="table-gescol" class="table-editable">
  <table class="table">
    <tr>
      <th width="80%" colspan="2">{% trans "Gestionnaire de scolarité" %}</th>
      <th width="15%"><small>référent app</small></th>
      <th width="5%"><span class="table-add glyphicon glyphicon-plus pull-right"></span></th>
    </tr>
    <!-- This is the clonable table line -->
    <tr class="hide">
      <td width="40%" >    <input class="lf_adm" name="gescol" placeholder='Rechercher'  /></td>
      <td width="40%" class="first_name"  contenteditable="true"></td>
      <td width="15%"><input type="checkbox" name="rafapp" value="true" class='pull-right'><br></td>
      <td width="5%"><span class="table-remove glyphicon glyphicon-trash pull-right"></span>
      </td>
    </tr>
  </table>
</div>

<script>
$('.table-add').click(function () {
  var $clone = $(this).parents('div').find($(this).parents('tr').next()).clone(true).removeClass('hide table-line');
  $(this).parents('div').find(  $(this).parents('table')).append($clone);
});

$('.table-remove').click(function () {
  $(this).parents('tr').detach();
});

code_cmp = document.getElementById("id_code").value
var url_prof = "/institute/ressources/prof/" + code_cmp + ".json"
var url_adm = "/institute/ressources/adm/" + code_cmp + ".json"

$.getJSON(url_adm, function (data) {
  var options ={
    data: data,
    getValue: function (element) {
      return element.last_name;

    }
};
$(".lf_adm").easyAutocomplete(options);
})

</script>





<style>
.table-editable {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.table-remove {
  color: red;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

.table-add {
  color: #070;
  cursor: pointer;
}

</style>
