{% load i18n %}
{% load dipstrapfiles %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load mecc_tags %}

<script src="{% static 'js/datatable.min.js' %}"></script>

<div>
    <table class="table" id="rule-table">
        <thead>
                <tr class='table-head'>
                   <th class="no-padding td-centered no-border"></th>
                   <th colspan="2" class="td-centered border-right no-padding"></th>
                   <th colspan="4" class="td-centered border-right-left no-padding">{% trans "Etapes de validation (Dates)" %}</th>
                   <th></th>
                   <th colspan="3" class="td-centered border-right-left no-padding">{% trans "Actions " %}</th>

                </tr>
                <tr class='table-head'>
                    <th><input type="checkbox" name="select-all" id="select-all"></th>
                    <th class="td-centered border-right-left no-padding" >{% trans 'Type Diplôme' %}</th>
                    <th class="td-centered border-right-left no-padding">{% trans "Intitulé Formation" %}</th>
                    <th class="td-centered border-right-left no-padding">{% trans 'Conseil Composante' %}</th>
                    <th class="td-centered border-right-left no-padding">{% trans 'Réserve DES' %}</th>
                    <th class="td-centered border-right-left no-padding">{% trans 'Visa DES' %}</th>
                    <th class="td-centered border-right-left no-padding">{% trans 'Validation en CFVU' %}</th>
                    <th></th>
                    <th class="no-padding border-left" rowpan="3"></th>
                    <th class="no-padding"></th>
                    <th class="no-padding border-right"></th>
                </tr>
        </thead>
        <tbody class="overflow">
                {%for training  in trainings%}
                    {% include 'institute/check_validate_training_list_item.html' %}
                {%endfor%}
        </tbody>
    </table>
</div>

<script type="text/javascript">

$(document).ready( function () {
   	$('#rule-table').DataTable({
		paging: false,
        searching: false,
        order: [[ 1, "asc" ]],
		columnDefs: [
			{ orderable: false, targets: [0, 7, 8, 9, 10] },
        ],
	});
});
</script>
