{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load groups %}
{% load crispy_forms_tags %}
{% load mecc_tags %}
{% block page-header %}
MECC {{ request.display.current_year }} <br>
{{label_cmp}} : {% trans 'Vérification DES - Validation CFVU' %}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li>
            <a href="{% if request.user|has_group:'DES1' or request.user.is_superuser %}{% url 'training:list_all'%}
            {% else %}{%url 'training:list' request.user.meccuser.cmp%}
            {%endif%}">{% trans "Offre de formation" %}</a>
        </li>
        <li class="active">
                <a href="{% url 'training:list' request.session.visited_cmp %}">{{label_cmp}}</a>
        </li>
    </ol>
{% endblock %}


{% block app_content %}
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}" type="text/css" title="no title" charset="utf-8" />
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'js/ajax.django.js' %}"></script>
{% if messages %}
{% for message in messages %}
{% get_bootstrap_alert_msg_css_name message.tags as alert_tag %}
<div class="messages{% if alert_tag %} alert alert-{{ alert_tag }}{% endif %} alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="row no-margin">
    <form method="post" class="" id="validate-form">
        <legend class="no-border">{% trans 'Etapes de validations' %}</legend>
            <div class="row">
                <div class="col-sm-12">
                    {% include 'institute/check_validate_training_list.html' %}
                </div>
            </div>
            <div class="form-inline pull-right" style="margin-bottom: 1em;">
                <div>
                    <label for="id_datepicker">{% trans 'Validation en CFVU' %} :</label>
                    <div class="input-group date" data-provide="datepicker" data-date-language="fr" date-date-autoclose="true">
                        <input type="text" class="datepicker textinput textInput form-control" id="id_datepicker" placeholder="JJ/MM/AAAA" name="date_mecc" value="{{ date_mecc }}" required/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <input type="submit" id="confirm-btn" class="btn btn-primary" value="{% trans 'Appliquer la date CFVU' %}" >
                </div>

            {% csrf_token %}
            </div>
    </form>
</div>

    <div class="row has-top-border has-bottom-border no-margin">
        <div class="col-sm-6 border-right-blue no-margin">
            <legend class="no-border" style="margin-top: 0.5em;margin-left: 0.5em;">{% trans 'Documents déposés par la composante' %}</legend>
            <div class="form-group" style="margin-left: 1em;">
                <div>
                {% trans 'Lettre de présentation' %} :
                {% if letter_file %}
                    {% include "institute/files_list_only.html" with files=letter_file %}
                {% endif %}
                </div>
            </div>
            <div class="form-group has-top-border" >
                <div style="margin-left: 1em;">
                {% trans 'Autres documents (PV, émargement, ...)' %} :
                {% if misc_file %}
                    {% include "institute/files_list_only.html" with files=misc_file %}
                {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-6 no-margin">
            <legend class="no-border" style="margin-top: 0.5em;margin-left: 0.5em;" >{% trans 'Notification Composante' %}</legend>
            <div class="form-group" style="margin-left: 1em;">
                <small id="mailHelp" class="text-muted italic">
                {% trans "Directeur de composante, RAC, Directeur d'études<br>(Copie à : Gestionnaire Référent application)" %}
                </small>
            </div>
            <div class="form-group"></div>
            <div class="form-group">
                <div>
                <button data-toggle="modal" data-target="#send_mail_des" class="btn btn-primary pull-right">{% trans 'Envoyer un message' %}</button>
                </div>
            </div>
        </div>
    </div>
    {% include "institute/modal/send_mail_des.html" %}
    {% include "institute/modal/send_mail_des_form.html" %}
<script>
// toma ugly fix autoclose is not working for now !!!!
$.fn.datepicker.defaults.autoclose = true;
// select/unselect all
$('#select-all').click(function(event) {
    if(this.checked) {
        // unchecked .noSelect checkbox
        $(':checkbox.noSelect').each(function() {
            this.checked = false;
        });
        // Iterate each checkbox
        $(':checkbox:not(:disabled,.noSelect)').each(function() {
            this.checked = true;
        });
    } else {
    $(':checkbox:not(:disabled,.noSelect)').each(function() {
          this.checked = false;
      });
  }
});

function process_me(id_obj, type, e) {
    $.ajax({
        url: "/institute/process_check_validate/",
        type: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            code: id_obj,
            type: type
        },
        success: function(data){
            window.location.replace(data.url)
        }
    });
}

function notify_me(id_obj, e) {
    $.ajax({
        url: "/institute/process_training_notify/",
        type: "POST",
        data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            code: id_obj,
        },
        success: function(data){
            to = data.resp.map(function (emails) {
                return emails.email
            });
            $("#send-obj").val("{{mail_prefix}} "+data.form)
            $("#send-to-form").val(to.join(','))
            $("#send-cc-form").val('{{notification_full|join:","}}')
            $("#send_mail_des_form").modal("show");
        }
    });
}


</script>
{% endblock %}
