{% load i18n %}

<ul>
{% for file in files %}
    <li>
        <a href="{{ file.file.url }}" title="{{ file.filename }} {% if file.comment %}({{ file.comment }}){% endif %}" target="_blank">
        {{ file.filename }}
    </a>{% trans 'dépôt le' %} {{ file.uploaded_at|date:"SHORT_DATE_FORMAT" }} {% trans 'par' %}
        <strong>{{ file.creator.get_full_name }}</strong>
        <span data-toggle="modal" class="glyphicon glyphicon glyphicon-remove-sign red hand" onclick="ask_delete({{file.id}}, '{{file.filename}}', event)" data-target="#preview"></span>
    </li>
{% endfor %}
</ul>
