{% extends 'base.html' %}

{% load i18n %}

{% block page-header %}
{% trans 'Liste des composantes' %}
{% endblock %}

{% block content %}

{% if ordered_list %}
{% regroup ordered_list by field as institute_list %}
<ul>
{% for field in institute_list  %}
    <li>{{ field.grouper }}
    <ul>
        {% for item in field.list %}
          <li><a href="{% url 'institute:edit' item.code %}">{{ item.label }}</a></li>
        {% endfor %}
    </ul>
    </li>
{% endfor %}
</ul>

{% else %}
{% trans "Aucune composante." %}
{% endif %}


<div style='text-align: center;margin-top:2em;'>
  <a href="{% url 'institute:create' %}" class="btn btn-primary"> {% trans "Ajouter une composante" %}</a>
</div>
{% endblock %}
