{% extends 'base.html' %}

{% load i18n %}

{% block page-header %}
{% trans 'Liste des composantes' %}
{% endblock %}

{% block content %}
{% if ordered_list %}
{% regroup ordered_list by field as institute_list %}
<div class='flex-container' style="flex-direction:column">
<table class="table" style="order:1">
<tr class='fixed'>
   <th style="border-style:none" width=45%></th>
   <th>{% trans "Directeur" %}</th>
   <th>{% trans 'Responsable admin' %}</th>
   <th>{% trans 'Date prév Conseil' %}</th>
   <th>{% trans 'Date dernière notif MECC' %}</th>
</tr>

{% for field in institute_list  %}

        <tr>
          <th style="border-style:none">{{ field.grouper }}</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        {% for item in field.list %}
        <tr class="hover-row">
          <td style="border-style:none;padding-left:2em"><a class='cmp' id='{{item.code}}' href="{% url 'institute:edit' item.code %}">{{ item.label }}</a></td>
          <td>{{item.id_dircomp}}</td>
          <td>{{item.id_rac}}</td>
          <td></td>
          <td></td>
        {% endfor %}
{% endfor %}

{% else %}
{% trans "Aucune composante." %}
{% endif %}
<div style='text-align: center;margin-top:2em;order:2'>
  <a href="{% url 'institute:create' %}" class="btn btn-primary"> {% trans "Ajouter une composante" %}</a>
</div>
</div>


{% endblock %}
