
<hr/>
Search: <input type="text" id="search" >

<script type="text/javascript">
$.getJSON(url_adm, function (data) {
  var data = [{"status": "Administratif", "mail": "jdittel@unistra.fr", "birth_date": "1980-09-20", "id_member": "jdittel"
, "last_name": "DITTEL", "birth_name": "DITTEL", "cmp": "DRT", "first_name": "Julie"}, {"status": "Administratif"
, "mail": "tlemieux@unistra.fr", "birth_date": "1988-12-05", "id_member": "tlemieux", "last_name": "LEMIEUX"
, "birth_name": "LEMIEUX", "cmp": "DRT", "first_name": "Thomas"}, {"status": "Administratif", "mail"
: "marthe.lucas@unistra.fr", "birth_date": "1982-12-03", "id_member": "marthe.lucas", "last_name": "LUCAS"
, "birth_name": "LUCAS", "cmp": "DRT", "first_name": "Marthe"},  {"status": "Administratif", "mail":
 "essaid.khamboubi@unistra.fr", "birth_date": "1957-12-30", "id_member": "essaid.khamboubi", "last_name"
: "KHAMBOUBI", "birth_name": "KHAMBOUBI", "cmp": "DRT", "first_name": "Essaid"}, {"status": "Administratif"
, "mail": "petchaye.murden@unistra.fr", "birth_date": "1957-07-27", "id_member": "petchaye.murden", "last_name"
: "MURDEN", "birth_name": "RUNGHEN", "cmp": "DRT", "first_name": "Petchaye"}, {"status": "Administratif"
, "mail": "m.melotebossu@unistra.fr", "birth_date": "1968-10-27", "id_member": "m.melotebossu", "last_name"
: "MELOTE-BOSSU", "birth_name": "MELOTE", "cmp": "DRT", "first_name": "Myl\u00e8ne"}, {"status": "Administratif"
, "mail": "sandra.godel@unistra.fr", "birth_date": "1975-07-23", "id_member": "sandra.godel", "last_name"
: "GODEL", "birth_name": "GODEL", "cmp": "DRT", "first_name": "Sandra"}, {"status": "Administratif",
 "mail": "n.keller@unistra.fr", "birth_date": "1982-10-05", "id_member": "n.keller", "last_name": "KELLER"
, "birth_name": "KELLER", "cmp": "DRT", "first_name": "Nicolas"}, {"status": "Administratif", "mail"
: "francine.soltner@unistra.fr", "birth_date": "1959-05-22", "id_member": "fsoltner", "last_name": "SOLTNER"
, "birth_name": "DUBOIS", "cmp": "DRT", "first_name": "Francine"}, {"status": "Administratif", "mail"
: "cecile.hubert@unistra.fr", "birth_date": "1966-10-13", "id_member": "cecile.hubert", "last_name":
 "HUBERT", "birth_name": "HUBERT", "cmp": "DRT", "first_name": "Cecile"}, {"status": "Administratif"
, "mail": "celine.lobleau@unistra.fr", "birth_date": "1985-05-28", "id_member": "celine.lobleau", "last_name"
: "LOBLEAU", "birth_name": "HUSSELSTEIN", "cmp": "DRT", "first_name": "C\u00e9line"}, {"status": "Administratif"
, "mail": "mariejose.dome@unistra.fr", "birth_date": "1958-05-02", "id_member": "mariejose.dome", "last_name"
: "DOME", "birth_name": "DOME", "cmp": "DRT", "first_name": "Marie-Jose"}, {"status": "Administratif"
, "mail": "s.uthayathasan@unistra.fr", "birth_date": "1964-08-28", "id_member": "s.uthayathasan", "last_name"
: "UTHAYATHASAN", "birth_name": "KUGENTHIRAN", "cmp": "DRT", "first_name": "Suganthi"}, {"status": "Administratif"
, "mail": "fbeller@unistra.fr", "birth_date": "1971-01-12", "id_member": "fbeller", "last_name": "BELLER"
, "birth_name": "WODLI", "cmp": "DRT", "first_name": "Florence"}, {"status": "Administratif", "mail"
: "alexandra.carminati@unistra.fr", "birth_date": "1971-10-27", "id_member": "a.carminati", "last_name"
: "BAUDRIBOS CARMINATI", "birth_name": "CARMINATI", "cmp": "DRT", "first_name": "Alexandra"},
{"status": "Administratif", "mail": "d.geschlecht@unistra.fr", "birth_date": "1958-05-19", "id_member"
: "d.geschlecht", "last_name": "GESCHLECHT", "birth_name": "GESCHLECHT", "cmp": "DRT", "first_name":
 "Dominique"}, {"status": "Administratif", "mail": "agnes.laurent@unistra.fr", "birth_date": "1955-01-13"
, "id_member": "agnes.laurent", "last_name": "LAURENT", "birth_name": "JOST", "cmp": "DRT", "first_name"
: "Agnes"}, {"status": "Administratif", "mail": "m.tanhoo@unistra.fr", "birth_date": "1951-04-27", "id_member"
: "m.tanhoo", "last_name": "TAN HOO", "birth_name": "POOGAN", "cmp": "DRT", "first_name": "Marie-Claire"
}, {"status": "Administratif", "mail": "lea.constans@unistra.fr", "birth_date": "1956-03-27", "id_member"
: "lea.constans", "last_name": "CONSTANS", "birth_name": "WALTER", "cmp": "DRT", "first_name": "Lea"
}, {"status": "Administratif", "mail": "s.murden@unistra.fr", "birth_date": "1957-10-21", "id_member"
: "s.murden", "last_name": "MURDEN", "birth_name": "MURDEN", "cmp": "DRT", "first_name": "Souriamahdevi"
}, {"status": "Administratif", "mail": "claude.baehr@unistra.fr", "birth_date": "1957-11-02", "id_member"
: "claude.baehr", "last_name": "BAEHR", "birth_name": "BAEHR", "cmp": "DRT", "first_name": "Claude"}
, {"status": "Administratif", "mail": "barbau@unistra.fr", "birth_date": "1987-06-15", "id_member": "barbau"
, "last_name": "BARBAU", "birth_name": "BARBAU", "cmp": "DRT", "first_name": "Clementine"},
 {"status": "Administratif", "mail": "tiphaine.garat@unistra.fr", "birth_date"
: "1981-08-12", "id_member": "tiphaine.garat", "last_name": "GARAT", "birth_name": "GARAT", "cmp": "DRT"
, "first_name": "Tiphaine"}, {"status": "Administratif", "mail": "sdupent@unistra.fr", "birth_date":
 "1971-08-29", "id_member": "sdupent", "last_name": "DUPENT", "birth_name": "DUPENT", "cmp": "DRT", "first_name"
: "S\u00e9bastien"}, {"status": "Administratif", "mail": "l.bakir@unistra.fr", "birth_date": "1990-08-26"
, "id_member": "l.bakir", "last_name": "BAKIR", "birth_name": "BAKIR", "cmp": "DRT", "first_name": "Lauren"
}, {"status": "Administratif", "mail": "isabelle.crepin@unistra.fr", "birth_date": "1988-08-15", "id_member"
: "isabelle.crepin", "last_name": "CREPIN", "birth_name": "CREPIN", "cmp": "DRT", "first_name": "Isabelle"
}, {"status": "Administratif", "mail": "p.chellamootoo@unistra.fr", "birth_date": "1962-10-23", "id_member"
: "p.chellamootoo", "last_name": "CHELLAMOOTOO", "birth_name": "PERIANEN", "cmp": "DRT", "first_name"
: "Petchye"}, {"status": "Administratif", "mail": "valerie.diemer@unistra.fr", "birth_date": "1969-04-07"
, "id_member": "valerie.diemer", "last_name": "DIEMER", "birth_name": "SCHLOTTER", "cmp": "DRT", "first_name"
: "Valerie"}, {"status": "Administratif", "mail": "nandolfatto@unistra.fr", "birth_date": "1988-03-11"
, "id_member": "nandolfatto", "last_name": "ANDOLFATTO", "birth_name": "ANDOLFATTO", "cmp": "DRT", "first_name"
: "No\u00e9mie"}, {"status": "Administratif", "mail": "aangelaki@unistra.fr", "birth_date": "1986-01-11"
, "id_member": "aangelaki", "last_name": "ANGELAKI", "birth_name": "ANGELAKI", "cmp": "DRT", "first_name"
: "Aikaterini"}, {"status": "Administratif", "mail": "mirella.afook@unistra.fr", "birth_date": "1970-05-15"
, "id_member": "mirella.afook", "last_name": "AFOOK", "birth_name": "LABOUR", "cmp": "DRT", "first_name"
: "Mirella"}, {"status": "Administratif", "mail": "erhinn@unistra.fr", "birth_date": "1989-10-28", "id_member"
: "erhinn", "last_name": "RHINN", "birth_name": "RHINN", "cmp": "DRT", "first_name": "\u00c9milien"},
 {"status": "Administratif", "mail": "gildas.renou@misha.fr", "birth_date": "1973-08-21", "id_member"
: "grenou", "last_name": "RENOU", "birth_name": "RENOU", "cmp": "DRT", "first_name": "Gildas"},
 {"status": "Administratif", "mail": "c.derrien@unistra.fr", "birth_date": "1954-12-25", "id_member"
: "c.derrien", "last_name": "DERRIEN", "birth_name": "DERRIEN", "cmp": "DRT", "first_name": "Christian"
}, {"status": "Administratif", "mail": "isabelle.wendenbaum@unistra.fr", "birth_date": "1960-12-08",
 "id_member": "i.pradines", "last_name": "WENDENBAUM", "birth_name": "WENDENBAUM", "cmp": "DRT", "first_name"
: "Isabelle"}, {"status": "Administratif", "mail": "s.bourgault@unistra.fr", "birth_date": "1972-08-22"
, "id_member": "s.bourgault", "last_name": "BOURGAULT", "birth_name": "SCHAFFNER", "cmp": "DRT", "first_name"
: "Severine"}, {"status": "Administratif", "mail": "rondanini@unistra.fr", "birth_date": "1959-03-15"
, "id_member": "rondanini", "last_name": "CUCCHETTI-RONDANINI", "birth_name": "RONDANINI", "cmp": "DRT"
, "first_name": "Clelia"}, {"status": "Administratif", "mail": "lcarpentier@unistra.fr", "birth_date"
: "1968-07-12", "id_member": "lcarpentier", "last_name": "CARPENTIER", "birth_name": "CARPENTIER", "cmp"
: "DRT", "first_name": "Laurence"}, {"status": "Administratif", "mail": "ehrengarth@unistra.fr", "birth_date"
: "1983-12-30", "id_member": "ehrengarth", "last_name": "EHRENGARTH", "birth_name": "EHRENGARTH", "cmp"
: "DRT", "first_name": "Emilie"}, {"status": "Administratif", "mail": "wendlingm@unistra.fr", "birth_date"
: "1962-06-14", "id_member": "wendlingm", "last_name": "WENDLING", "birth_name": "WOLNIEWICZ", "cmp"
: "DRT", "first_name": "Marianne"}, {"status": "Administratif", "mail": "j.zehnacker@unistra.fr", "birth_date"
: "1958-02-09", "id_member": "j.zehnacker", "last_name": "ZEHNACKER", "birth_name": "ZEHNACKER", "cmp"
: "DRT", "first_name": "Jean-Louis"}, {"status": "Administratif", "mail": "imagazene@unistra.fr", "birth_date"
: "1986-04-02", "id_member": "imagazene", "last_name": "IMAGAZENE", "birth_name": "IMAGAZENE", "cmp"
: "DRT", "first_name": "Sanaa"}, {"status": "Administratif", "mail": "cecile.prin@unistra.fr", "birth_date"
: "1984-07-24", "id_member": "cecile.prin", "last_name": "PRIN", "birth_name": "JEHL", "cmp": "DRT",
 "first_name": "Cecile"}, {"status": "Administratif", "mail": "khamboubi@unistra.fr", "birth_date": "1975-05-27"
, "id_member": "khamboubi", "last_name": "KHAMBOUBI", "birth_name": "MOUNIB", "cmp": "DRT", "first_name"
: "Sonya"}, {"status": "Administratif", "mail": "j.murden@unistra.fr", "birth_date": "1966-11-23", "id_member"
: "j.murden", "last_name": "MURDEN", "birth_name": "SEENEEVASEN", "cmp": "DRT", "first_name": "Juvenaiequi"
}, {"status": "Administratif", "mail": "mguirassy@unistra.fr", "birth_date": "1980-08-10", "id_member"
: "mguirassy", "last_name": "GUIRASSY", "birth_name": "GUIRASSY", "cmp": "DRT", "first_name": "Mamadou"
}, {"status": "Administratif", "mail": "omarmangal@unistra.fr", "birth_date": "1977-10-07", "id_member"
: "omarmangal", "last_name": "OMAR MANGAL", "birth_name": "OMAR MANGAL", "cmp": "DRT", "first_name":
 "Freba"}, {"status": "Administratif", "mail": "fabienne.seibert@unistra.fr", "birth_date": "1963-05-10"
, "id_member": "fabienne.seibert", "last_name": "SEIBERT", "birth_name": "SCHULTZ", "cmp": "DRT", "first_name"
: "Fabienne"}, {"status": "Administratif", "mail": "c.herrmann@unistra.fr", "birth_date": "1980-08-27"
, "id_member": "c.herrmann", "last_name": "HERRMANN", "birth_name": "HERRMANN", "cmp": "DRT", "first_name"
: "Christine"}];
  // Below is the name of the textfield that will be autocomplete
    var options = {
      data: data,
      getValue: function (element) {
        return element.last_name + " " + element.first_name + " ";
      },
      template: {
        type: "description",
        fields: {
          description: "id_member"
      }
    },
       list: {
    showAnimation: {
      type: "slide", //normal|slide|fade
      time: 400,
      callback: function() {}
    },

    hideAnimation: {
      type: "slide", //normal|slide|fade
      time: 400,
      callback: function() {}
    },
          match: {
            enabled: true
          },
         onSelectItemEvent: function() {
           var username = $(".input_adm").getSelectedItemData().id_member;
           var last_name = $(".input_adm").getSelectedItemData().last_name;
           var first_name = $(".input_adm").getSelectedItemData().first_name;
           var email = $(".input_adm").getSelectedItemData().mail;
           var status = $(".input_adm").getSelectedItemData().status;

           $("#input_rac_username_member").val(username).trigger("change");
           $("#input_rac_last_name").val(last_name).trigger("change");
           $("#input_rac_first_name").val(first_name).trigger("change");
           $("#input_rac_mail").val(email).trigger("change");
           $("#input_rac_status").val(status).trigger("change");
           $("#id_id_rac").val(last_name + " " + first_name).trigger("change");

         },
        }
     };
  $('#search').easyAutocomplete(options);

  //
  // $('#search').autocomplete({
  //     // This shows the min length of charcters that must be typed before the autocomplete looks for a match.
  //     minLength: 2,
  //     source: function (request, response) {
  //        response($.map(data, function (value, key) {
  //             return {
  //                 label: value.last_name,
  //                 value: value.mail
  //             }
  //         }));
  //
  // },
  //     focus: function(event, ui) {
  //         $('#search').val(ui.item.last_name);
  //         return false;
  //     },
  //     // Once a value in the drop down list is selected, do the following:
  //     select: function(event, ui) {
  //         // place the person.given_name value into the textfield called 'select_origin'...
  //         $('#search').val(ui.item.last_name);
  //         // and place the person.id into the hidden textfield called 'link_origin_id'.
  //         $('#link_origin_id').val(ui.item.mail);
  //             return false;
  //     }
  // });
});

</script>
