{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load mecc_tags %}
{% block page-header %}
MECC {{ request.display.current_year }} <br>
{{label_cmp}} : {% trans 'Validation en conseil de composante' %}
{% endblock %}
{% block app_content %}
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}" type="text/css" title="no title" charset="utf-8" />
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
{% if messages %}
{% for message in messages %}
{% get_bootstrap_alert_msg_css_name message.tags as alert_tag %}
<div class="messages{% if alert_tag %} alert alert-{{ alert_tag }}{% endif %} alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
</div>
{% endfor %}
<div class="disp-flex has-top-border">
{% endif %}
<div class="modal fade" id="confirm-validation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{% trans 'Confirmation nécessaire' %}</h4>
                </div>

                <div class="modal-body">
                    <span id="modal-help">{% trans 'Date(s) déja saisie(s) à modifier :' %}</span>
                    <p></p>
                    <p class="modal-items-container"></p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Annuler' %}</button>
                    <a class="btn btn-primary btn-ok" onclick="document.getElementById('validate-form').submit()">{% trans 'Ok' %}</a>
                </div>
            </div>
        </div>
    </div>
    <form method="post" class='' id="validate-form">
        <legend class="no-border">{% trans 'ETAPE 1 : Saisir des dates de validation' %}</legend>
            <div class="row">
                <div class='col-sm-2 '>
                    <div class="form-group">
                        <label for="id_datepicker">{% trans 'Saisir une date' %} :</label>
                        <div class='input-group date' data-provide="datepicker" data-date-language="fr" date-date-autoclose="true">
                            <input type='text' class="datepicker textinput textInput form-control" id='id_datetimepicker' placeholder='JJ/MM/AAAA' name="date_mecc" value="{{ date_mecc }}" required/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <small id="datepickerHelp" class="text-muted italic">
                            <span class="bold">{% trans 'Attention' %} :</span>
                            {% trans "L'enregistrement de la date de validation d'une formation en conseil de composante clôt l'accès à la saisie des MECC de cette formation." %}
                        </small>
                    </div>
                </div>
                <div class='col-sm-10'>
                    {% include 'institute/validate_training_list.html' %}
                </div>
            </div>
            {% csrf_token %}
        <div class="buttons_list">
            <input type="submit" id="confirm-btn" class="btn btn-primary" value="{% trans 'Appliquer la date' %}" >
        </div>
    </form>
</div>
    <div class="row has-top-border has-bottom-border">
        <div class='col-sm-6 border-right-blue'>
            <form method="post">
                <legend class="no-border">{% trans 'ETAPE' %} 2 : {% trans 'Dépôt de documents' %} ({% trans 'format pdf' %})</legend>
                <div class="form-group" style="margin-bottom: 2em;">
                    {% trans 'Lettre de présentation' %} :
                    <label class="btn btn-primary pull-right" for="my-file-selector">
                        <input id="my-file-selector" type="file" style="display:none;">
                        {% trans 'Déposer la lettre' %}
                    </label>
                </div>
                <div class="form-group has-top-border">
                    {% trans 'Autres documents (PV, émargement, ...)' %} :
                    <label class="btn btn-primary pull-right" for="my-file-selector">
                        <input id="my-file-selector" type="file" style="display:none;" multiple>
                        {% trans 'Déposer des documents' %}
                    </label>
                </div>
            </form>
        </div>
        <div class='col-sm-6' style="margin-bottom: 2em;">
            <legend class="no-border">{% trans 'ETAPE' %} 3 : {% trans 'Notification DES' %}</legend>
            <div class="form-group">
                <small id="datepickerHelp" class="text-muted italic">
                {% trans "Après avoir appliqué les dates de validation en Conseil de composante et déposé les documents requis (lettre de présentation des MECC de la composante, extraits de PV et listes d'émargement des Conseils de composante, ...) prévenez la DES de la disponibilité des MECC." %}
                </small>
            </div>
            <div class="form-group"></div>
            <div class="form-group">
                <div>
                {% trans 'Date de dernière notification MECC'%} : {% if date_last_notif %} {{date_last_notif|date:"DATE_FORMAT"}} {% else %} {% trans 'Aucune' %} {% endif %} <button data-toggle="modal" data-target="#send_mail" class="btn btn-primary pull-right">{% trans 'Envoyer un message' %}</button>
                </div>
            </div>
        </div>
    </div>
    {% include "institute/send_mail.html" %}
<script>
// toma ugly fix autoclose is not working for now !!!!
$.fn.datepicker.defaults.autoclose = true;
// select/unselect all
$('#select-all').click(function(event) {
    if(this.checked) {
        // unchecked .noSelect checkbox
        $(':checkbox.noSelect').each(function() {
            this.checked = false;
        });
        // Iterate each checkbox
        $(':checkbox:not(:disabled,.noSelect)').each(function() {
            this.checked = true;
        });
    } else {
    $(':checkbox:not(:disabled,.noSelect)').each(function() {
          this.checked = false;
      });
  }
});

$('#confirm-btn').on('click', function (e) {
    // show confirmation if already sets date is selected
    if ($(':checkbox.noSelect').is(':checked')) {
        e.preventDefault();
        $("#confirm-validation").modal("show");
    // else submit form
    } else {
        $("validate-form").submit();
    }
});

$('#confirm-validation').on('show.bs.modal', function(e) {
            // populate confirmation dialog modal
            var label = [];
            var modal_text = "<ul>";
            $("#validate-form input:checkbox.noSelect:checked").each(function() {
                label.label = $(this).closest('td').next('td').next('td').text();
                label.date = $(this).closest('td').next('td').next('td').next('td').next('td').next('td').text();
                modal_text += "<li>" + label.label + " : " + label.date + "</li>";
            });
            modal_text = modal_text + "</ul>";
            $('.modal-items-container').html(modal_text);
});
</script>
{% endblock %}
