{% load i18n %}
{% load dipstrapfiles %}
{% load crispy_forms_tags %}
{% load staticfiles %}
<table class="table">
   <tr class='table-head'>
      <th></th>
      <th>{% trans 'Type Diplôme' %}</th>
      <th>{% trans "Intitulé Formation," %}</th>
      <th>{% trans 'Saisie Rêgles' %}</th>
      <th>{% trans 'Saisie Tableau MECC' %}</th>
      <th>{% trans 'Date de validation CC' %}</th>
   </tr>
   <tr class="hover-row">
      <td class='disabled'><input type="checkbox"/></td>
      <td class='disabled'>TODO</td>
      <td class='disabled'>TODO</td>
      <td class='disabled'>TODO</td>
      <td class='disabled'>TODO</td>
      <td class='disabled'>TODO</td>
   </tr>
   <tr class="hover-row">
      <td class='disabled'><input type="checkbox"/></td>
      <td class='disabled'>TODO</td>
      <td class='disabled'>TODO</td>
      <td class='disabled'>TODO</td>
      <td class='disabled'>TODO</td>
      <td class='disabled'>TODO</td>
   </tr>   
</table>
