{% extends 'base.html' %}
{% load i18n static %}
{% block page-header %}{% trans "Administration de MECC" %}{% endblock %}
{% block admin_content%}
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}

<link rel="stylesheet" href="{% static 'css/admin.css' %}" type="text/css" title="no title" charset="utf-8" />
{% block blockbots %}
<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
{% load i18n %}


<!-- Container -->
<div class="admin">

    {% if not is_popup %}

    {% block breadcrumbs %}

    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}

    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}

    <ul class="messagelist">{% for message in messages %}

        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}
    </ul>
        {% endif %}
    {% endblock messages %}


    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}

        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}

        <br class="clear" />
    </div>
    <!-- END Content -->
</div>
<!-- END Container -->
{% endblock %}
