{% load i18n %}
{% load dipstrapfiles %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load mecc_tags %}
<div>
    <table class="table" style="order:1">
        <tr>
            <td>{% trans "Lettres de présentation mises en ligne" %}</td>
            <td class="stat-result">{{ institutes_letters_counter }} {% trans 'sur' %} {{ institutes_counter }}</td>
            <td><a data-toggle="modal" class="hand no-border align-right" aria-hidden="true" data-target="#institutes_files">{% trans "Accéder" %}</a></td>
        </tr>
    </table>
    <h4>{% trans "Dérogations sollicitées (10 les plus fréquentes)" %}</h4>
        <table class="dashboard-topten-table">
            <thead>
                <tr>
                    <th style="width:5%;"></th>
                    <th style="width:60%;"></th>
                    <th class="align-right">{% trans "Régime" %}</th>
                    <th class="align-right">{% trans "Nb comp." %}</th>
                </tr>
            </thead>
            <tbody>
                {% for i in topten_derog  %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{i.rule}}</td>
                    <td class="align-right">{% if i.rule.is_eci and i.rule.is_ccct %}{% trans "Tous" %}{% elif i.rule.is_ccct %}{% trans "CC/CT" %}{% elif i.rule.is_eci %}{% trans "ECI" %}{% endif %}</td>
                    <td class="align-right">{{i.nb_cmp}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
