input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {-moz-appearance: textfield;}
label{
  padding-top: 0;
  display:inline;
  margin-bottom: 0;
}
.checkbox{
  margin:0 0 0 0;
}
.form-group{
  margin-bottom: 0;
}
.form-control {
  height: 1.4em;
  padding: 0 0 0 0;
  font-size: 1em;

}
.controls{
  align-items: center;
  -ms-flex-align: center;
-webkit-align-items: center;
-webkit-box-align: center;
}
@media (min-width: 992px){
  label[for=id_is_in_use] {
      margin-left: auto;
      position: relative;
      top: 0;
  }
}
@media (max-width: 992px){
  label[for=id_is_in_use] {
      margin-left: auto;
      position: relative;
      bottom:0;
      padding-bottom: 0;
      display: 0;
      left: 0;
    }
}
#div_id_is_in_use {
  text-align: right;
  margin-left: auto;

}
.item-100, .div_is_concerned, .parent{
  width:100%;
}
 #div_id_display_order, #div_id_is_edited {
   display:flex;
 }
#div_id_label, .last-line{
  display: flex;
  width:100%;
}
#div_id_label > label {
  width:25%;
}

#div_id_label > div {
  width: 100%;
}
#div_id_display_order{
  width:40%;
}
#div_id_display_order > div{
  width:15%;
}
.item-concerned{
  margin-right: 1em;
}
.rule-bottom-part{
  display: flex;
}
.button-bottom{
  min-height: 100vh;
}
.up-right-part{
  width: 30%;
}
.item{
  display: inline-block;
  flex-grow: 1;
}
.upper-part {
  display: flex;
  border-bottom-style: solid;
  border-bottom-color: #358CD3;
  padding-bottom: 0.25em;
  border-bottom-width: 0.15em;
  -webkit-box-shadow: 0 10px 5px -9px #888888;
          box-shadow: 0 10px 5px -9px #888888;
}
.parent{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  margin: 0 0 0 0;
  align-items: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       -webkit-box-align: center;
  margin-bottom: 1em;
}
.last-line input, .last-line select{
  margin-left: 0.5em;
}
.parent-rule{
  width:70%;
  display: flex;
  flex-direction: column;
  border-right-style: solid;
  border-right-color: #358CD3;
  border-right-width: 0.15em;
  padding-right: 1em;
  -webkit-box-shadow: 10px 0 5px -9px #888888;
          box-shadow: 10px 0 5px -9px #888888;

}
.group{
  margin: 0.5em;
}
.grey-font{
  color:grey;
}
#div_id_is_edited{
  width:50%;
}
.on-right{
  margin-left: auto;
}
