{% load i18n %}
{% load staticfiles %}

<script src="{% static 'js/autocomplete.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/autocomplete.min.css' %}" type="text/css" title="no title" charset="utf-8" />

<div id="table-diretu" class="table-editable">
  <div id='message'></div>
  <div class="f-1">
    <label style="display: inline-block;"> {% trans "Composantes associées" %}
    </label>
        <button type="button" class=" table-add btn btn-default btn-xs" id="add_cmp" style="margin-left:1em;">
          <span class=" glyphicon glyphicon-plus" ></span>
        </button>
  </div>
  <table class="table" id="degreeTable">


    <tbody class="overflow" id='tbodyDegree'>

    {% for e in object.institutes.all %}
    <tr>
      <td class="hide">{{e.id}}</td>
      <td >{{e.code}}</td>
      <td width="70%">{{e.label}}</td>
      <td  width="20%">
        <button type="button" class="btn btn-default table-remove  btn-xs">
          <strong>{% trans "Supprimer" %}</strong>
        </button>
      </td>    </tr>
    {% endfor %}
    <br>
    <!-- This is the clonable table line -->
    <tr class="hide clone">
      <td class="hide"></td>
      <td></td>
      <td width="70%">
        <input class="name input-naked"  name="diretu" placeholder='Rechercher'  />
      </td>
      <td>
        <button type="button" class="btn btn-default new_cmp  btn-xs">
          <strong>{% trans "Valider" %}</strong>
        </button>
        <button type="button" class="btn btn-default table-remove hidden  btn-xs">
          <strong>Supprimer</strong>
        </button>
      </span>
      </td>
    </tr>
  </tbody>
  </table>
</div>

<script>


var institute_val = $('#id_institutes').val() === null ? [] :  $('#id_institutes').val();
// transform select option to array or dict
var x = document.getElementById('id_institutes');
var dict = []
for (i=0; i < x.length; i++){
  var txt =  x.options[i].text.split(' - ',2);
  dict.push({"val": x.options[i].value, "label": txt[1], "code": txt[0]})
};

$('.table-remove').click(function () {
  console.log(institute_val);
  var _val = $('td:first',$(this).parents('tr')).text();

  var i = institute_val.indexOf(_val);
  if(i != -1) {
    institute_val.splice(i, 1);
  }
  $('#id_institutes').val(institute_val);
  $(this).parents('tr').detach();
});

function do_stuff (add_first, add_new, type) {

  document.getElementById(add_first).style.display = "block";

    $("#" + add_first + ", "+ add_new).click(function () {
      var tr = $(this).parents('tr');
      var first_cell = tr.find('td:first')
      if (institute_val.indexOf(first_cell.text()) == -1) {

      var _val = $('td:first',$(this).parents('tr')).text();
      var clone = $(this).parents('div').find('.clone').clone(true).removeClass('hide table-line clone');
      var g_table =   $(this).parents('div').find('tbody');
      var a = clone.find('.name');
      g_table.append(clone);
      $(this).next().removeClass('hidden ');
      $(this).addClass(' hidden');
      var auto_comp = g_table.find(a);
      var options = {
        data: dict,
        getValue: "label",
        list: {
            match:{
              enabled:true
            },
            onSelectItemEvent: function() {
                var _code = auto_comp.getSelectedItemData().code;
                var _val = auto_comp.getSelectedItemData().val;
                auto_comp.parents('td').prev()[0].innerHTML = _code;
                auto_comp.parents('td').prev().prev()[0].innerHTML = _val;
        }
      }
      };
      auto_comp.easyAutocomplete(options);
    }
      $(add_new).one('click', function(e){
        console.log(institute_val)
          var tr = $(this).parents('tr');
          var first_cell = tr.find('td:first')
          console.log(institute_val.indexOf(first_cell.text()));
          if (institute_val.indexOf(first_cell.text()) == -1) {
          var third_cell = first_cell.next().next();
          var txt = third_cell.find('input').val();
          third_cell.find(".input").remove();
          third_cell.text(txt);

              institute_val.push(first_cell.text());
          $('#id_institutes').val(institute_val)
          };
      });
   });
}


do_stuff("add_cmp", " .new_cmp", "diretu")

$('#id_institutes').val(institute_val);



  if ($('#id_degree_type').val() != '8'){
    document.getElementById('id_degree_type_label').readOnly = true;
  }

  $('#id_degree_type').on('change', function() {
    var label = document.getElementById('id_degree_type_label')
    $('#id_degree_type_label').val(this.options[this.value].innerHTML);
    if (this.value!='8'){
      label.readOnly = true;
    } else{
      label.readOnly = false;
    }
  });




</script>





<style>
.table-editable {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.table-remove {
  color: red;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}
.input-naked{
  width:100%;
}
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
}

.table-add, .new_cmp {
  color: #070;
  cursor: pointer;
}
.table-add, .type{
  display: none;
}

.f-1{
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-items: center;
    }

.table>tbody>tr>td , th{
  padding: 0.2em;
}

</style>
