{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load staticfiles %}

{% block page-header %}
{% trans 'Fiche Diplôme de référence' %}

{% endblock %}


{% block app_content %}
  <div class="row">
        <form action="" method="post">
           {% crispy form %}
        </form>
  </div>
  </div>
<script type="text/javascript">
var _isEdited = false;
$(':input').change(function () {
  _isEdited = true;
});


$(document).ready(function () {


  window.onbeforeunload = function (e) {
  if (_isEdited === true) {
  var e = e || window.event;

  // For IE and Firefox
  if (e) {
    e.returnValue = 'Des données non enregistrées seront perdues.';
  }

  // For Safari
  return 'Des données non enregistrées seront perdues.';
  };
  };
});

</script>
{% endblock %}
