{% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% load groups %} {% block page-header %} {% trans 'Fiche Formation' %} {% endblock %} {% block breadcrumb %}
<ol class="breadcrumb">
    {%if request.session.visited_cmp == "RESPFORM"%}
    <li><a href="{% url 'training:list_resp' %}">{% trans "Mes formations" %}</a></li>
    {%else%}
    <li>
        <a href="{% if request.user|has_group:'DES1' or request.user.is_superuser %}{% url 'training:list_all'%}
                {% else %}{%url 'training:list' request.user.meccuser.cmp%}
                {%endif%}">{% trans "Offre de formation" %}</a>
    </li>
    {%endif%}
    <li class="active"> {{training.label}}</li>

</ol>
{% endblock %} {% block app_content %}

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
<ul class="nav nav-tabs" style="margin-bottom:1em">
    <li><a href="{%if training%}{% url 'training:edit' training.pk%}{%else%}#{%endif%}">{% trans "Général" %}</a></li>
    <li><a href="{%if training%}{% url 'training:edit_rules' training.pk%}{%else%}#{%endif%}">{% trans "Règles" %}</a></li>
    <li class="active"><a href="#">{% trans "Tableau MECC" %}</a></li>
</ul>
<div class="disp-flex dir-col has-bottom-border">
    <div class=" parent disp-flex ">
        <div class="item-80 dir-col">
            <div class="">
                {% trans "Intitulé de la formation: "%}
            </div>
            <div class="">
                <strong>{{training.label}}</strong>
            </div>
        </div>
        <div class="item-20 disabled dir-col">
            <div>
                {% trans "En service:"%} {%if training.is_used%} ☑ {%else%} ☐{%endif%}
            </div>
            <div>
                {% trans "Régime:"%} {{training.get_MECC_type_display}}
            </div>
            <div>
                {{training.get_session_type_display}}
            </div>
        </div>
    </div>
    <div>

        <div class="blue">
            {% trans "Racine" %}<br>
            <a data-toggle="modal" class="hand glyphicon glyphicon-plus blue no-border" aria-hidden="true" data-target="#form-obj"></a>
            <span class="hand glyphicon glyphicon-circle-arrow-left no-border green" aria-hidden="true"></span>
        </div>
        {% if structure_objs|length >  0 %}
        <table id="mecc_table" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th colspan="5"></th>
                    <th colspan="5" class="centered border-bottom "></th>
                    <th colspan="4" class="centered border-bottom  ">{% trans "Session principale" %}</th>
                    <th colspan="4" class="centered border-bottom border-left-3">{% trans "Session de rattrapage" %}</th>
                </tr>
                <tr>
                    <th></th>
                    <th class="border-bottom "></th>
                    <th class="border-bottom "></th>
                    <th class="border-bottom "></th>
                    <th class="border-bottom "></th>
                    <th class="border-bottom "></th>
                    <th class="centered border-left border-bottom ">{% trans "ECTS" %}</th>
                    <th class="centered border-left border-bottom ">{% trans "Responsable" %}</th>
                    <th class="centered border-left-3 border-bottom ">{% trans "Coef" %}</th>
                    <th class="centered border-left-3 border-bottom ">{% trans "Note<br>élim" %}</th>
                    <th class="centered border-left-5 border-bottom ">{% trans "" %}</th>
                    <th class="centered border-left border-bottom ">S1</th>
                    <th class="centered border-left border-bottom ">S2</th>
                    <th class="centered border-left border-bottom ">S3</th>
                    <th class="centered border-left border-bottom ">S4</th>
                    <th class="centered border-left-3 border-bottom ">S1</th>
                    <th class="centered border-left border-bottom ">S2</th>
                    <th class="centered border-left border-bottom ">S3</th>
                    <th class="centered border-left border-bottom ">S4</th>
                </tr>
            </thead>
            <tbody>
                {% for e in structure_objs %}
                    {% for l in object_link  %}
                        {% if l.id_child == e.id %}
                    <tr class="hover-row parent-{{l.id_parent}}">
                        <td>

                            <div style="width:2.75em;">
                            <span class="glyphicon hand arrow-move glyphicon-arrow-down blue no-border" aria-hidden="true" ></span>
                            <span class="glyphicon hand arrow-move glyphicon-arrow-up blue no-border" aria-hidden="true"></span>
                            </div>

                        </td>
                        <td class=" border-bottom">  {{e.nature}} :

                            <a data-toggle="modal" aria-hidden="true" data-target="#form-obj"
                                onclick="get_struct_details({{e.id}})" class="hand">{{e.label}}</a>
                        </td>
                        <td class="centered border-bottom">
                            <span class="glyphicon glyphicon-plus blue hand"
                                onclick="fillForm({{e.id}})">
                            </span></td>
                        <td class="centered border-bottom"><span class="glyphicon glyphicon-circle-arrow-left green hand" ></span></td>
                        <td class="centered border-bottom">
                            <span data-toggle="modal" class="glyphicon glyphicon glyphicon-remove-sign red hand" onclick="ask_delete({{e.id}}, '{{e.label}}')" data-target="#preview"></span>
                        </td>
                        <td class="centered border-bottom">{{e.mutual}}</td>
                        <td class="centered border-bottom">{{e.ECTS_credit}}</td>
                        <td class="centered border-bottom">{{e.RESPENS_id}}</td>
                        <td class="centered border-left-3 border-bottom" contenteditable='true'>{{l.coefficient}}</td>
                        <td class="centered border-left-3 border-bottom" contenteditable='true'></td>
                        <td class="centered border-left-5 border-bottom"> ▶ </td>
                        <td class="centered border-left border-bottom">11</td>
                        <td class="centered border-left border-bottom">11</td>
                        <td class="centered border-left border-bottom">11</td>
                        <td class="centered border-left border-bottom">11</td>
                        <td class="centered border-left-3 border-bottom">12</td>
                        <td class="centered border-left border-bottom">12</td>
                        <td class="centered border-left border-bottom">12</td>
                        <td class="centered border-left border-bottom">12</td>
                    </tr>
                    {% endif %}

                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <div class="footer">
        <div class="has-bottom-border has-top-border buttons_list dir-col blue ">
            <label>
            {% trans 'Etat de saisie du tableau MECC : '%}
        </label>
            <label class="margin-left1">
         {% trans "En cours " %}<input type="radio" name="progress" value="E" {% if training.progress_rule == "E" %}checked="checked" {% endif %} style="margin-top:-1px;vertical-align:middle;">
     </label>
            <label class="margin-left1">
        {% trans 'Achevée '%} <input type="radio" name="progress" value="A"  {% if training.progress_rule == "A" %}checked="checked" {% endif %}style="margin-top:-1px;vertical-align:middle;">
    </label>
        </div>
        <div class="buttons_list">
            <br>
            <a href="#" class="btn-primary btn btn-sm btn-1 ">{% trans "Récupérer la STRUCTURE <br>de l'année précédente" %}</a>
            <a href="#" class="btn-primary btn btn-sm btn-1 ">{% trans "Récupérer TOUTES les ÉPREUVES <br>de l'année précédente" %}</a>
            <a href="#" class="btn-primary btn btn-sm btn-1 ">{% trans "Effectuer les <br>CONTRÔLES DE COHÉRENCE" %}</a>
            <a href="#" class="btn-primary btn btn-sm btn-1 ">{% trans "Pré-visualiser <br>le TABLEAU" %}</a>
            <a data-toggle="modal" class="btn-primary btn btn-sm send_mail" data-target="#send_mail">{% trans "Envoyer un <br>message à la DES" %}</a> {# {% include "training/send_mail.html"%}#}
        </div>
        {% include "mecctable/modal/structure_object_form.html" %}
        {% include "generic/modal_confirm_delete.html" %}
    </div>
</div>
<style media="screen">
    #mecc_table {
        width: 100%;
    }
</style>
<script type="text/javascript">
function get_struct_details(_id){
    console.log(_id);
    $.ajax({
        url: "{% url 'mecctable:get_stuct_obj_details' %}",
        type: "GET",
        data: {
            _id: _id,
        },
        success: function(data) {
            console.log("hola");
        }
    });
}

function ask_delete(id_obj, label){
        document.getElementById('type').innerHTML = "cet objet";
        document.getElementById('to_del').innerHTML = label;
        document.gen_form.action = '/mecctable/structureobject/remove/' + id_obj
}
    $(document).ready(function() {
        function get_row(where, row){
            if (where === "up")
                row.prev().before(row);
            if (where === "down")
                row.next().after(row);

        }

        var table = $('#mecc_table').DataTable({
            "searching": false,
            "scrollY": "42vh",
            "scrollCollapse": true,
            "paging": false,
            "ordering": false,
            "info": false,
            "rowReorder": true
        });
        // In order to move row up and down
        $('.arrow-move').click(function() {
            let row = $(this).closest('tr');
            let parent_id = row.attr('class').split("parent-")[1].split(" ")[0]
            console.log(parent_id);
            if ($(this).hasClass('glyphicon-arrow-up')){
                parent_id_row_prev = row.prev().attr('class').split("parent-")[1].split(" ")[0];
                console.log(parent_id_row_prev);
                row.prev().before(row);
            }
            else
                row.next().after(row);
        });
    });
</script>
{%endblock%}
