 {% load i18n %}
 <div class="updatable meccRow id-{{a.link.id}} r-{{a.rank}}  parent-{{a.link.id_parent}} order-{{a.link.order_in_child}} {%if not a.structure.is_in_use%}grey-all{%endif%} {%if a.is_imported%} green{%endif%}" id="{{a.link.id}}">

<!-- mecc-label -->
    <span class="mecc-label">
        {% for i in a.loop  %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% endfor %}
    <!---    id-{{a.link.id}} hover-row r-{{a.rank}}  parent-{{a.link.id_parent}} order-{{a.link.order_in_child}}
-->
        {{a.structure.nature}} :
        {%if a.is_imported%}
            {{a.structure.label}} {% if a.not_yet_imported %}- ID:{{a.structure.id}} - ?
            {%endif%}
        {% else %}
        <a data-toggle="modal" class="hand no-border" aria-hidden="true" data-target="#form-obj"
        onclick="get_struct_details({{a.structure.id}}, {{a.link.id_parent}}, '{{a.link.nature_parent}}')">{{a.structure.label}} 
        </a>
        {%endif%}
    </span>
<!--- endof mecc-label
-->
<!--- mecc-actionButtons-
-->
    <div class="mecc-actionsButtons">

     <span class="centered  mecc-add">
         {% if a.structure.nature not in "ST PT" and not a.is_imported%}
             <a onclick="get_struct_details(0, {{a.structure.id}},'{{a.structure.nature}}')"
             data-toggle="modal" class="hand glyphicon glyphicon-plus blue no-border"
             title="{%trans 'Créer un objet fils dans cet objet'%}"
             aria-hidden="true" data-target="#form-obj" ></a>

     </span>

 <span>
 </span>
     <span class=" mecc-import">
             <span data-toggle="modal" data-target="#shared-object"
             class="glyphicon glyphicon-circle-arrow-left green hand"
             title="{% trans 'Importer un objet mutualisé dans cet objet'%}"
             onclick="asking_inclusion={{a.structure.id}};"></span>
         {% else %}
     </span>
     <span class=" mecc-import ">
         {%endif%}
     </span>
     <span class="  mecc-remove">
         {% if a.link.is_imported %}
             <span data-toggle="modal" class="glyphicon glyphicon glyphicon-remove-sign red hand"
             title="{%trans 'Décrocher cet objet mutualisé'%}"
             onclick="ask_delete_imported({{a.link.id}}, '{{a.structure.label}}')" data-target="#preview"></span>
         {% else %}
            {% if not a.has_childs %}
             {% if a.structure.mutual and not a.is_imported%}
                 <span onclick="check_delete({{a.structure.id}}, '{{a.structure.label}}')"
                 title="{%trans 'Supprimer cet objet'%}"
                 class="glyphicon glyphicon glyphicon-remove-sign red hand"></span>
             {% else %}
                 {% if a.is_imported == False and not a.has_childs %}
                     <span data-toggle="modal" class="glyphicon glyphicon glyphicon-remove-sign red hand"
                     title="{%trans 'Supprimer cet objet'%}"
                     onclick="ask_delete({{a.structure.id}}, '{{a.structure.label}}')" data-target="#preview"></span>
                 {% endif %}
             {% endif %}
         {% endif %}
         {% endif %}
     </span>
     <span class=" mecc-mutual">
         {% if a.structure.mutual and not a.link.is_imported %}
         <a onclick="get_consom({{a.structure.id}})" class="hand"
         title="{%trans 'Voir les consommateurs'%}">{% trans "Mut." %}</a>
         {% endif %}
     </span>
 </div>
<!--- endof mecc-actionButtons-
-->
     <span class="centered mecc-ects">
         {% if a.structure.ECTS_credit %}{{a.structure.ECTS_credit}}{% endif %}
     </span>
     <span class="mecc-respens">{{a.structure.get_respens_name}}
         {% if a.structure.external_name %} <i>{{a.structure.external_name}}</i>{% endif %}
     </span>
     <span class="centered border-left-3  editme mecc-coef"
     {% if not a.is_imported or a.link.is_imported %}contenteditable='true'{% endif %}
     id="{{a.link.id}}-coeff">
         {% if a.link.coefficient or a.link.coefficient == 0%}{{a.link.coefficient}}{% endif %}
     </span>
     <span class="centered border-left-3  editme mecc-note"
     {% if not a.is_imported or a.link.is_imported %}contenteditable='true'{% endif %}
     id="{{a.link.id}}-grade">
         {% if a.link.eliminatory_grade or a.link.eliminatory_grade == 0 %}{{a.link.eliminatory_grade}}{% endif %}
     </span>
     <span class="centered border-left-5 mecc-details ">
        {% if not a.is_imported %}
            <a class="hand" onclick="struct_select({{a.structure.id}}, '{{a.structure.label}}', '{{a.structure.get_nature_display}}', '{{a.structure.get_regime_display}}', '{{a.structure.get_session_display}}', '{{a.structure.ref_si_scol}}', '{{a.structure.ROF_ref}}')">▶</a>  
        {% endif %}
     </span>
     <div class="mecc-semesters" style="font-size: 55%;">
         <div class="mecc-s1 mecc-s1-{{a.structure.id}} border-left">          
             {% for e in a.exams_1  %}
             <span class="border-left exam_id-{{e.id}}"> {{e.get_regime_display}}-{{e.get_type_exam_display}} ({{e.coefficient}}) <br>
                {%if e.convocation == "True"%} {% trans 'Avec convoc'%} {%else%} {% trans "Sans convoc"%}{%endif%}</span>
             {% endfor %}
           
         </div>
         <div class="mecc-s2 mecc-s2-{{a.structure.id}} border-left-3">
                {% for e in a.exams_2  %}
                <span class="border-right exam_id-{{e.id}}"> {{e.get_regime_display}}-{{e.get_type_exam_display}} ({{e.coefficient}}) <br>
                   {%if e.convocation == "True"%} {% trans 'Avec convoc'%} {%else%} {% trans "Sans convoc"%}{%endif%}</span>
                {% endfor %}
         </div>
     </div>

    {%if a.has_childs and not a.not_yet_imported%}
        <div class="{% if not a.is_imported%}sortme{%endif%} wrapper meccRow" >
         {%for ch in a.children %}
              {%with a=ch %}
                   {%include "mecctable/tree_view.html"%}
              {%endwith%}
         {%endfor%}
     </div>
    {%endif%}
</div>
