{% extends 'base.html' %}
{% load i18n %}

{% block page-header %}
{% trans "Usurpation d'identité" %}
{% endblock %}

{% block app_content %}
<div>
    <form action=" " class="login-form" method="post" style="width:50%">
      {% csrf_token %}
      <input name="asked_username" type="text" placeholder="ID utilisateur"/>
      <input name="pass" type="password" placeholder="mot de passe générique"/>
      <button class="btn btn-primary">Usurper l'identité</button>
    </form>
</div>
{% endblock %}
