.font-color-grey{
  color:grey;
}

.row{
  margin-top: 0.5em;
}

.no-border {
  border-width: 0px;
}

.fixed:after{
  position:fixed;
}

.modal-90 {
    width: 75%!important;
    max-height: 100%;
}

.gen-table > td{
  padding: 0.5em;
}
#selectedMember{
  position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(0,0,0,0.5);
   z-index: 1500;
}
.modal-75{
  width:50%!important;
  max-height: 100%;
  margin-top:3em;

}

/*******************************************************************************
/* Composante table-right*/

#table-right{
  display: none;
}
ul{
  padding-left: 2em;
}

/*******************************************************************************
/* Navbar */
#nav-right{
  position: absolute;
  color:#fff;
  padding: 10px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 40px;
  top: 0;
  right: 3em;
}

/*******************************************************************************
/* Fiches */
.flex-container{
  display: flex;
}
#btn-add-composante{
  order:12;
  align-self: center;
  margin-top: 2em;
}


.btn-lines {
    white-space: normal;
    margin:2px;
    width: 48%;
}
#btn-sbmt * {
}
/*#btn-add-composante  {
  width: 14em;
}*/
.asteriskField {
    display: none;
}

label{
  margin-bottom: 0.5em;
  padding-top: 0.5em;
}

@media(max-width:992px){

  label[for=id_is_in_use]{
      position: absolute;
      bottom: 2.65em;
      padding-bottom: 1em;
      display: block;
      left: 12.5em;
  }
}

@media(min-width:992px){
  label[for=id_is_in_use]{
      position: absolute;
      top: -0.6em;

  }
}
#id_is_year_init{
  background-color: #fff;
  border: 0px;
  text-align: right;
}
form hr{
  height: 0.15em;
  margin: 1em 0 1em 0;
  background: #358CD3;
  box-shadow: 0.1em 0.2em 0.4em #888888;
}
 .div-flex hr{
    height: 0.15em;
    margin: 2em 0 1.5em 0;
    background: #358CD3;
    box-shadow: 0.1em 0.2em 0.4em #888888;
}

.div-flex{flex-direction:column; width:75%; display:flex;}
#form-comp{
  flex-direction:column;
  border-right-width: 0.15em;border-right-color: #358CD3;
  display:flex; border-right-style: solid;height: 100%;
  -webkit-box-shadow: 10px 0 5px -9px #888888;
          box-shadow: 10px 0 5px -9px #888888;
}
.div-flex #div_id_code_year{order:1;}
.div-flex #div_id_label_year{order:2;}
.div-flex #div_id_is_target_year{order:3;}
.div-flex #div_id_date_validation{order:4;}
.div-flex #div_id_date_expected{order:5;}
.div-flex #hr1{order:6;}
.div-flex #div_id_pdf_doc{order: 7;}
.div-flex #upload_doc{order:8;align-self: center;width: 50%}
.div-flex #hr2{order:9;}
.div-flex #div_id_is_year_init{order:10;}
.div-flex #init_years{order:11;align-self: center; width: 60%}
.div-flex #hr3{order:12;}
.div-flex #btn-sbmt{align-self:center;order:13;width: 90%}

#form-comp #first{height: 4em;order:-1;}
#form-comp #div_auto_id{order:1;margin-bottom: 1em;}
#form-comp #div_id_code{order:2;}
#id_code{width: 43%; float:left}
#div_id_is_on_duty{width: 47%; float:right; margin-top:0px}
label[for=id_is_on_duty]{margin-top: 0.6em;}
#form-comp #div_id_code + div{order:3; display: none} /*Adjacent sibling selectors used with a '+'*/
#form-comp #div_id_label{order:4;}
#form-comp #div_id_field{order:5;}
#form-comp #div_id_dircomp{order:7;}
#form-comp #div_id_rac{order:8;}
#form-comp #div_id_diretu{order:10;}
#form-comp #div_id_scol_manager{order:12;}
#form-comp #hr1{order:6;}
#form-comp #hr2{order:9;}
#form-comp #hr3{order:11;}

#comp-right{
  display: inline-flex;
  flex-direction: column;
  margin-left: 2em;
}
#comp-in-form{
  margin-top: 2em;
}

#comp-right div{
  margin-bottom: 0.5em;
}

#comp-right-btn-close{
margin-top: auto;
align-self: center;
}
/*******************************************************************************
/* Title style */
#title {font-weight: normal; font-size: 1.75em;	line-height: 1.1em;}
#title-hr {margin: 0.5em 0 1.2em 0;}


/*******************************************************************************
/* Table style */
.table-filter {float: right; margin-bottom: 0; height: 1.5em}

#count-row {float: right; color: #D3D7DA; line-height: 1.75em; margin-right: 0.5em;}

.hover-row:hover {background: #F5F8FE;}

.select {cursor: pointer;
}

.table-head {background-color: #E4F0FB; color: #004A87;}

#collapseDegree {background-color: #003968; color: #000000;}

/*******************************************************************************
/* Hamburger menu */
.glyphicon.glyphicon-menu-hamburger{
  font-size: 1.5em;
  color:#004A87;
}

.glyphicon-menu-hamburger:before {
    position:fixed;
  }
#menu-toggle{
  text-decoration: none;
  position:relative;
  top: 1em;
  left:-4em;
}

/*******************************************************************************
/* Toggle Styles */

#wrapper.toggled #sidebar-wrapper {width: 13em;}
#wrapper.toggled {padding-left: 12em;}

#wrapper {
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: all 0.5s ;
    -moz-transition: all 0.5s ;
    -o-transition: all 0.5s ;
    transition: all 1s ;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 10em;
    width: 0;
    height: 100%;
    margin-left: -10em;
    overflow-y: auto;
    background:#004A87;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#page-content-wrapper {width: 100%;padding: 0 5em 0 5em;}

#wrapper.toggled #page-content-wrapper {position: relative;}

#sidebar-wrapper .sidebar-nav .bottom {display: none}
.toggled #sidebar-wrapper .sidebar-nav .bottom {display: block}
/*******************************************************************************
/* Sidebar Styles */
#collapseDegree {list-style-type: none; padding: 0;}

#collapseDegree li a {padding-left: 2em;}

.open {background: #00294B;}

.bottom {
 position:fixed;
 bottom: 0.5em; width: 13em;
 margin-bottom: 0.5em;
}

.bottom a {
 padding-left: 1em;
 line-height: 1.75em;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 13em;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.sidebar-nav li {
    line-height: 2.75em;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    margin-bottom: 1px;
    margin-top: 1px;
    padding-left: 1em;
    color: #FFFFFF;
}

.sidebar-nav li a:hover, .item-selected{
    text-decoration: none;
    background: #00294B;
    color : #FFFFFF;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}


li:hover .sub-level {
    display: block;
    list-style: none;
}

@media(max-width:768px){
  .div-flex{
    width:100%;
  }
  #page-content-wrapper{padding-right: 0;padding-left: 4em;}
}
/* With screen > 768px */
@media(min-width:768px) {
    #wrapper {
        padding-left: 13em;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 13em;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        margin-right: 0;

    }


    #sidebar-wrapper .sidebar-nav .bottom {display: block}
    .toggled #sidebar-wrapper .sidebar-nav .bottom {display: none}

    #wrapper.toggled .sidebar-nav{display: none;}
}

/*******************************************************************************
/*Loading dot animation */

#load-wrap {
  width: 3em;
  margin: 1em auto 0 auto;
}

.circle {
	display: inline-block;
  height: 0.5em;
  width: 0.5em;
  background-color: #004A87;
  -webkit-animation: loading 1.6s infinite;
  -moz-animation: loading 1.6s infinite;
  -o-animation: loading 1.6s infinite;
  animation: loading 1.6s infinite;
}

#load-wrap .circle:nth-child(1) {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -o-animation-delay: .1s;
  animation-delay: .1s;
}

#load-wrap .circle:nth-child(2) {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -o-animation-delay: .3s;
  animation-delay: .3s;
}

#load-wrap .circle:nth-child(3) {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}

#load-wrap .circle:nth-child(4) {
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  -o-animation-delay: .7s;
  animation-delay: .7s;
}

/* Keyframes */

@-webkit-keyframes loading {
  0%, 100% {
    -webkit-transform: scale(0.0);
  }
  50% {
    -webkit-transform: scale(1.0);
  }
}

@-moz-keyframes loading {
  0%, 100% {
    -moz-transform: scale(0.0);
  }
  50% {
    -moz-transform: scale(1.0);
  }
}

@-o-keyframes loading {
  0%, 100% {
    -o-transform: scale(0.0);
  }
  50% {
    -o-transform: scale(1.0);
  }
}

@keyframes loading {
  0%, 100% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
  }
}

/*******************************************************************************
/*Flatten das boostrap from https://gist.github.com/nodesocket/5843712*/
.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .modal-dialog, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .input-group-addon, .img-polaroid {
 	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;

  -webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;

	border-collapse: collapse !important;
	background-image: none !important;
}

* {
  border-radius: 0 !important;
}

select{
  border:0;
  padding: 0;
  background-color: #F5F8FE;
}
