/* sorting datatables display */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand
}

table.dataTable thead .sorting::before::not(.noarrow) {
    content: '\2195 \00a0\00a0';
    font-size: 120%;
}

table.dataTable thead .sorting_asc::before {
    content: ' \2191 \00a0\00a0';
    font-size: 120%;
}

table.dataTable thead .sorting_desc::before {
    content: ' \2193 \00a0\00a0';
    font-size: 120%;
}

#uds_logo{
    width: 15em;;
    height: 2.3em;
    margin: 0.3em 0.25em 0.25em 0.3em;
}
.baseline{
    align-items: baseline;

}
.w-65{
    width: 65%;
}
.w-35{
    width: 35%;
}
.width-3{
    width: 3em;
}
.width-8{
    width: 8em;
}
.nowrap{
    white-space:nowrap
}
.hand{
    cursor: pointer;
}
.navbar-brand{
    margin-left: 0!important;
}

.nav-bar-txt{
    float: left;
        padding: 10px 15px;
        font-size: 18px;
        line-height: 20px;
        height: 40px;
    color: #fff;
}
.no-border-top{
    border-top: none!important;
}
.page-header{
    margin-top: 0.5em;
}
.underlined{
    text-decoration: underline;
    font-weight:normal!important;
}
.italic{
     font-style: italic;
}
.break-line{
    word-wrap: break-word!important;
    word-break: break-word!important;
}
.required-fields {
    font-size: .8em;
    font-style: oblique;
    font-weight: normal;
}
.v-align-m {
    vertical-align: middle!important;
}
.margin-left05 {
    margin-left: 0.5em;
}
.margin-left1 {
    margin-left: 1em;
}
.margin-right1 {
    margin-right: 1em;
}
.margin-left6 {
    margin-left: 6em;
}
.margin05{
    margin: 0.5em;
}
.blue, .asteriskField {
    color: #004E8F!important;
}
.red {
    color: red;
}
a.green:hover {
    color: #1A4A00;
}
.green{
    color: green!important;
}
.lightgreen{
    color: lightgreen!important;
}
.grey {
    color: grey!important:
}
.black {
    color: black:
}
.grey-background {
    background-color: lightgrey;
}
.grey {
    color: grey;
}
.white-background {
    background-color: white;
}
.has-1em-margin-top {
    margin-top: 1em;
}
.bold {
    font-weight: bold!important;
}
.padding-1 {
    padding: 1em;
}
.title-block {
    font-size: 1.2em;
    margin-top: 0.5em;
}
.no-border {
    border: none!important;
}
.border-bottom {
    border-bottom: 1px solid #dddddd;
    border-top: none!important;
}
.border-left {
    border-left: 1px solid #dddddd;
}
.border-left-3 {
    border-left: 3px solid #dddddd;
}
.border-left-5 {
    border-left: 5px solid #dddddd;
}
.border-right {
    border-right: 1px solid #dddddd!important;
}
.border-right-blue {
    border-right-style: solid;
    border-right-color: #358CD3;
    border-right-width: 0.15em;
}
.border-right-left {
    border-right: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}
.no-padding {
    padding: 0!important;
}

/*******************************************************************************
/* FORM training*/

.list-training {
    font-size: 0.95em!important;
}
.training-form-validate, .training-form-1 ,.width-50{
    width: 50%;
    padding: 1em;
}
.training-form> .form-group, .training-form-validate> .form-group {
    display: flex;
    width: 100%;
}
.training-form-validate> .form-group:not(:first-child) {
    flex-grow: 0;
    min-width: 10em;
    max-width: 10em;
}
.training-form> .form-group>:first-child, .training-form> .disp-flex>:first-child {
    flex-grow: 0;
    min-width: 13em;
    max-width: 13em;
}
.training-form-validate> .form-group>:first-child, .training-form> .disp-flex:not(:first-child), .training-form> .form-group:nth-child(2) {
    flex-grow: 1;
}
@media(max-width:980px) {
    .training-form> .form-group, .training-form-validate> .form-group, .training-form> .disp-flex {
        flex-direction: column;
    }
}
@media(max-width:1200px) {
    .training-form> .disp-flex>:first-child {
        min-width: 0;
    }
}

/*******************************************************************************
/* Rules list*/

.display-order {
    background: transparent;
    border: none;
    width: 100%;
    text-align: center;
}
.display-order:focus, .display-order:hover {
    border: solid;
    border-color: #358CD3;
    border-width: 0.1em;
}
.buttons_list {
    text-align: center;
    width: 100%;
}
.table_list {
    max-height: 75vh;
}
.height-12{
    height: 12em;
}
.hr_blue{
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom-style: solid;
    border-bottom-color: #358CD3;
    border-bottom-width: 0.15em;
    -webkit-box-shadow: 0 10px 5px -9px #888888;
    box-shadow: 0 10px 5px -9px #888888;
}

/*******************************************************************************
/* Send mail*/

.title-modal {
    font-size: 1.5em;
}

/*******************************************************************************
/* duplicate rules*/

.duplicate-h, .item-center {
    align-items: center;
}
.width-15 {
    width: 15em!important;
}
.subtitle-duplicate {
    font-size: 1.2em;
    margin-right: 1em;
}
.duplicate-2 {
    margin: 1em;
}
.duplicate-table {
    margin: 1em;
    display: flex;
    flex-flow: column;
    width: 100%;
    background-color: #E1F1FE;
}

/*.row-head th:first-child {
    background-color: white;
}*/

.duplicate-table .thead {
    /* head takes the height it requires,
  and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}
.btn-duplicate {
    margin: 1em 5em 0 1em;
}
.duplicate-table .tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
    max-height: 60vh;
    background-color: white;
}
.duplicate-table-1 td:not(:first-child) {
    border: 0.1px solid grey;
}
.duplicate-table-2 td {
    border: 0.1px solid grey;
}
.duplicate-table .tbody tr {
    width: 100%;
}
.duplicate-table .thead, .duplicate-table .tbody tr {
    display: table;
    table-layout: fixed;
}

/*******************************************************************************
/* Dashboard table relative */

.dashboard-table {
    display: table;
    table-layout: fixed;
}

.dashboard-table th {
    padding: 10px;
    text-align: center;
    font-size: 11px;
}

.dashboard-count-row {
    background-color: #D3D7DA;
    border: 1.5px solid black;
    font-weight: bold!important;
}

.dashboard-topten-table {
    display: table;
    table-layout: fixed;
    border-color: #358CD3;
    border-width: 0.15em;
    border-style: solid;
    width: 100%;
    margin-bottom: 2em;
}

.dashboard-topten-table th, td {
    padding: 3px;
    font-size: 13px;

}


/*******************************************************************************
/* CKEDITOR custom css*/

.django-ckeditor-widget {
    width: 100%;
    height: 9em;
}
#cke_1_bottom, #cke_2_bottom, #cke_3_bottom {
    display: none;
}
#id_text_standard_tbl {
    width: 100%;
}
.all-in-red * {
    color: red;
}
.border-right {
    border-right-style: solid;
    border-right-color: #358CD3;
    border-right-width: 0.15em;
}

/***************************************************
****************************
/* Spoof panel*/

#spoof-alert {
    margin-bottom: 0!important;
    position: fixed;
    display: block;
    z-index: 1000;
    right: 0;
}

/*******************************************************************************
/* Forms*/

.degree-form-left>div {
    padding: 0 1em 0 1em;
}
td.id_member {
    display: none;
}
.centerd {
    max-width: 50%;
}
.parent {
    width: 100%;
}
.item {
    display: inline-block;
    flex-grow: 1;
}
.item-100 {
    width: 100%;
}
.item-20 {
    width: 20%;
}
.item-30 {
    width: 30%;
}
.item-25 {
    width: 25%;
}
.item-75 {
    width: 75%;
}
.item-40 {
    width: 40%;
}
.item-45 {
    width: 45%;
}
.item-50 {
    width: 50%;
}
.item-35 {
    width: 35%;
}
.item-70 {
    width: 70%;
}
.item-65 {
    width: 65%;
}
.item-80 {
    width: 80%;
}
.bottom-2em {
    margin-bottom: 2em;
}
.bottom-1em {
    margin-bottom: 1em;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}
.dir-row {
    flex-direction: row!important;
}
.dir-col {
    flex-direction: column!important;
}
.disp-flex {
    display: flex;
}
.div-child-disp-flex> div {
    display: flex;
}
.label-child-w2> div> label {
    width: 30%;
}
.label-child-w2> div> div {
    width: 70%;
}
.label-child-w1> div> label {
    width: 50%;
}
.label-child-w1> div> div {
    width: 50%;
}
.parent-centered {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}
.td-centered {
    text-align: center;
    align-self: center;
    vertical-align: middle!important;
}

.td-centered-left {
    text-align: left;
    align-self: center;
    vertical-align: middle!important;
}

.centered{
    text-align: center;
}
.input-red {
    border-color: red;
    color: red;
    background-color :rgba(255, 0, 0, 0.1) ;
}
.paddin-top {
    padding-top: 1em;
}
.disabled {
    color: gray!important;
}
.row {
    margin-top: 0.5em;
}
.has-top-border {
    margin-top: 0.5em!important;
    padding-top: 1em!important;
    border-top-style: solid;
    border-top-color: #358CD3;
    padding-top: 0.25em;
    border-top-width: 0.15em;
}
.has-bottom-border {
    border-bottom-style: solid;
    border-bottom-color: #358CD3;
    padding-bottom: 0.25em;
    border-bottom-width: 0.15em;
    -webkit-box-shadow: 0 10px 5px -9px #888888;
    box-shadow: 0 10px 5px -9px #888888;
}
.has-right-border {
    border-right-style: solid;
    border-right-color: #358CD3;
    padding-right: 0.25em;
    border-right-width: 0.15em;
}
.has-left-border {
    border-left-style: solid;
    border-left-color: #358CD3;
    padding-left: 0.25em;
    border-left-width: 0.15em;

}
.no-border {
    border-width: 0px;
}
.fixed:after {
    position: fixed;
}
.modal{
    overflow-y: auto;
}
.modal-90 {
    width: 75%!important;
    max-height: 100%;
}
.modal-100 {
    width: 97%!important;
    max-height: 100%;
}
.gen-table> td {
    padding: 0.5em;
}
#selectedMember {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1500;
}
.modal-75 {
    width: 50%!important;
    max-height: 100%;
    margin-top: 3em;
}

/*******************************************************************************
/* Composante table-right*/

#table-right {
    display: none;
}
ul {
    padding-left: 2em;
}

/*******************************************************************************
/* Navbar */

#nav-right {
    position: absolute;
    color: #fff;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 40px;
    top: 0;
    right: 3em;
}

/*******************************************************************************
/* Fiches */

.flex-container {
    display: flex;
}

.btn-lines {
    white-space: normal;
    margin: 2px;
    width: 48%;
}

label {
    margin-bottom: 0.5em;
    padding-top: 0.5em;
}

#id_is_year_init {
    background-color: #fff;
    border: 0px;
    text-align: right;
}
form hr {
    height: 0.15em;
    margin: 1em 0 1em 0;
    background: #358CD3;
    box-shadow: 0.1em 0.2em 0.4em #888888;
}
.div-flex hr {
    height: 0.15em;
    margin: 2em 0 1.5em 0;
    background: #358CD3;
    box-shadow: 0.1em 0.2em 0.4em #888888;
}
.div-flex {
    flex-direction: column;
    width: 75%;
    display: flex;
}
.form-comp {
    flex-direction: column;
    border-right-width: 0.15em;
    border-right-color: #358CD3;
    display: flex;
    border-right-style: solid;
    height: 100%;
    -webkit-box-shadow: 10px 0 5px -9px #888888;
    box-shadow: 10px 0 5px -9px #888888;
}
#id_code {
    width: 43%;
    float: left
}
#div_id_is_on_duty {
    width: 47%;
    float: right;
    margin-top: 0px
}
label[for=id_is_on_duty] {
    margin-top: 0.6em;
}
.comp-right {
    display: inline-flex;
    flex-direction: column;
    margin-left: 2em;
}
#comp-in-form {
    margin-top: 2em;
}
.comp-right div {
    margin-bottom: 0.5em;
}
.div-flex #upload_doc {
    align-self: center;
    width: 50%;
}
.div-flex #init_years {
    width: 50%;
    margin-left: 25%;
    margin-top: 1em;
}
#comp-right-btn-close,  {
    margin-top: auto;
    align-self: center;
}

/*******************************************************************************
/* Title style */

#title {
    font-weight: normal;
    font-size: 1.75em;
    line-height: 1.1em;
    margin: 0.5em 0 0 0;

}
#title-hr {
    margin: 0.5em 0 1.2em 0;
}

/*******************************************************************************
/* Table style */

.table-filter {
    float: right;
    margin-bottom: 0;
    height: 1.5em
}
#count-row {
    float: right;
    color: #D3D7DA;
    line-height: 1.75em;
    margin-right: 0.5em;
}
.hover-row:hover, .hover-row:focus {
    background: #F5F8FE;
}
.select {
    cursor: pointer;
    cursor: hand;
}
.table-head {
    background-color: #E1F1FE;
    color: #004E8F;
}

/*******************************************************************************
/* Hamburger menu */

.disabled-event * {
    pointer-events: none;
    color: #BBBBBB;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.enabled-event * {
    color: inherit;
}

/*******************************************************************************
/* Toggle Styles */

#wrapper.toggled #sidebar-wrapper {
    width: 13em;
}
#wrapper.toggled {
    padding-left: 12em;
}
#wrapper {
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 1s;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 10em;
    width: 0;
    height: 100%;
    margin-left: -10em;
    overflow-y: auto;
    background: #004E8F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.collapse li a {
    padding-left: 2.4em!important;
}
#page-content-wrapper {
    width: 100%;
    padding: 0 1em 0 1em;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
}
#sidebar-wrapper .sidebar-nav .bottom {
    display: none
}
.toggled #sidebar-wrapper .sidebar-nav .bottom {
    display: block
}

/*******************************************************************************
/* Sidebar Styles */

.slump {
    list-style-type: none;
    padding: 0;
    background-color: #003968;
    color: #000000;
}
.slump li a {
    padding-left: 2em;
}
.open {
    background: #00294B;
}
.bottom {
    position: fixed;
    bottom: 0.5em;
    width: 13em;
    margin-bottom: 0.5em;
}
.bottom a {
    padding-left: 1em;
    line-height: 1.75em;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 13em;
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}
.sidebar-nav li {
    line-height: 2.75em;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    margin-bottom: 1px;
    margin-top: 1px;
    padding-left: 1em;
    color: #FFFFFF;
}
.sidebar-nav li a:hover, .item-selected, .sidebar-nav li a:focus {
    text-decoration: none;
    background: #00294B;
    color: #FFFFFF;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
}
li:hover .sub-level, li:focus {
    display: block;
    list-style: none;
}
@media(max-width:768px) {
    .div-flex {
        width: 100%;
    }
    #page-content-wrapper {
        padding-right: 0;
        padding-left: 4em;
    }

}

/* With screen > 768px */

@media(min-width:768px) {
    #wrapper {
        padding-left: 13em;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 13em;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        margin-right: 0;
    }
    #sidebar-wrapper .sidebar-nav .bottom {
        display: block
    }
    .toggled #sidebar-wrapper .sidebar-nav .bottom {
        display: none
    }
    #wrapper.toggled .sidebar-nav {
        display: none;
    }
}

/*******************************************************************************
/*Loading dot animation */

#load-wrap {
    width: 3em;
    margin: 1em auto 0 auto;
}
.circle {
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    background-color: #004E8F;
    -webkit-animation: loading 1.6s infinite;
    -moz-animation: loading 1.6s infinite;
    -o-animation: loading 1.6s infinite;
    animation: loading 1.6s infinite;
}
#load-wrap .circle:nth-child(1) {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
    animation-delay: .1s;
}
#load-wrap .circle:nth-child(2) {
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}
#load-wrap .circle:nth-child(3) {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -o-animation-delay: .5s;
    animation-delay: .5s;
}
#load-wrap .circle:nth-child(4) {
    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    -o-animation-delay: .7s;
    animation-delay: .7s;
}

/* Keyframes */

@-webkit-keyframes loading {
    0%, 100% {
        -webkit-transform: scale(0.0);
    }
    50% {
        -webkit-transform: scale(1.0);
    }
}
@-moz-keyframes loading {
    0%, 100% {
        -moz-transform: scale(0.0);
    }
    50% {
        -moz-transform: scale(1.0);
    }
}
@-o-keyframes loading {
    0%, 100% {
        -o-transform: scale(0.0);
    }
    50% {
        -o-transform: scale(1.0);
    }
}
@keyframes loading {
    0%, 100% {
        transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
    }
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

/*******************************************************************************
/*Flatten das boostrap from https://gist.github.com/nodesocket/5843712*/

.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .modal-dialog, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .input-group-addon, .img-polaroid {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-collapse: collapse !important;
}
* {
    border-radius: 0 !important;
}
select {
    border: 0;
    padding: 0;
    background-color: #F5F8FE;
}
.login-page {
    flex-direction: row;
    height: 100%;
    background-color: #eee;
}
.login-form {
    width: 10em;
    margin: auto;
}
form {
    /*width: 100%;*/
    background: #fff;
}
.login-form input, .login-form button {
    width: 100%;
    margin: 5px 0;
}

.no-margin {
    margin: 0 !important;
    padding: 0 !important;
}

.form-control-inline {
   width: auto;
   float:left;
   margin-right: 5px;
}


/* stage relative class */
.dev {
    color: red;*/
}

.test {
    color: pink;
}

.preprod {
    color: yellow;
}

.prod {

}

/* dashboard relative class */
.stat-result {
    color: #358CD3;
    text-align: right;
    font-weight: bold!important;
}

.align-right {
    text-align: right;
}

.link-list {
    list-style: none;
    height:120%;
    width:120%;
    padding: 5px;
    margin: 5px;
    text-align: right;
}



.small-list li{
    display: flex;
    align-items: center;
    height: 1.25em;

}
.small-list input{
    height: 0.8em;
    width: 0.8em;
}
.small-list *{
    color: grey;
    font-weight: normal;
    margin: 0.1em;
    padding: 0.1em;
}
.no-list-style{
    list-style: none;    
}
.centerme-flex{
    align-self: center;
    margin: auto;
}