.asteriskField {
    display: none;
}

.boxed {
    border: 1px solid #004A87;
    margin: 1em 0 1em 0;
}

.centerme {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column/* works with row or column */
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    align-items: baseline!important;
    -webkit-align-items: baseline!important;
}

.centerme * {
    flex: 1 0 0;
}

.structure-form-left .x .form-group {
    display: flex;
}

.structure-form-left .x .form-group>:first-child, #div_id_label>:first-child {
    flex-grow: 1;
    min-width: 10em;
    max-width: 10em;
    width: 10em;
}

.structure-form-left .x .form-group>:not(:first-child), #div_id_label>:not(:first-child) {
    flex-grow: 2;
    margin-right: 2em;
}

.structure-form-left .x>:first-child {
    flex-grow: 6
}

.structure-form-left .x>:not(:first-child) {
    flex-grow: 1
}

.structure-form-left>* {
    display: flex;
}

.y, .x {
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}

#div_id_RESPENS_id {
    margin-bottom: 0;
}

#div_id_ECTS_credit {
    margin-left: 2em;
}

#id_RESPENS_id {
    background-color: white;
}

#div_id_label .controls {
    margin-right: 0;
}
