input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {-moz-appearance: textfield;}
label{
  padding-top: 0;
  display:inline;
  margin-bottom: 0;
}
.checkbox{
  margin:0 0 0 0;
}
.form-group{
  margin-bottom: 0;
}
.form-control {
  height: 1.5em;
  padding: 0 0 0 0.3em;
  font-size: 1em;

}
.controls{
  align-items: center;
  -ms-flex-align: center;
-webkit-align-items: center;
-webkit-box-align: center;
}
@media (min-width: 992px){
  label[for=id_is_in_use] {
      margin-left: auto;
      position: relative;
      top: 0;
  }
}
@media (max-width: 992px){
  label[for=id_is_in_use] {
      margin-left: auto;
      position: relative;
      bottom:0;
      padding-bottom: 0;
      left: 0;
    }
}
#div_id_is_in_use {
  text-align: right;
  margin-left: auto;

}
.item-100, .div_is_concerned, .parent{
  width:100%;
}
 #div_id_display_order, #div_id_is_edited, #div_id_impact {
   display:flex;
   width: 100%
 }
 #div_id_impact > div {
   width: 100%;
 }
 #div_id_impact > label {
   width:8em;;
 }
 .disp #div_id_display_order > label{
   width: 7em;
 }

#div_id_label, .last-line{
  display: flex;
  width:100%;
}
.is_interaction{
  width: 35%;
}

#div_id_label > label {
  width:9em;
}

#div_id_label > div {
  width: 100%;
}
.last-line #div_id_display_order{
  width:40%;
}
#div_id_display_order {
  width: 10em;
}
#div_id_display_order > div{
  width:15%;
}
.item-concerned{
  margin-right: 1em;
}
.rule-bottom-part{
  display: flex;
  flex-direction: column;
}
.button-bottom{
  min-height: 100vh;
}
.up-right-part{
  width: 30%;
}
.item{
  display: inline-block;
  flex-grow: 1;
}
.item-20{
  width:20%;
}
.item-30{
  width:30%;
}
.item-40{
  width:40%;
}
.item-35{
  width:35%;
}
.item-70{
  width:70%
}

.upper-part {
  display: flex;
  border-bottom-style: solid;
  border-bottom-color: #358CD3;
  padding-bottom: 0.25em;
  border-bottom-width: 0.15em;
  -webkit-box-shadow: 0 10px 5px -9px #888888;
          box-shadow: 0 10px 5px -9px #888888;
}
.parent{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  margin: 1em 0 1em 0;
  align-items: center;
       -ms-flex-align: center;
       -webkit-align-items: center;
       -webkit-box-align: center;
}
.flex-start{
  -webkit-align-self: flex-start;
align-self: flex-start;
}
.flex-end{
  -webkit-align-self: flex-end;
align-self: flex-end;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-submit-paraph-item{
  width: 90%;
  margin: 1% 5% 1% 5%;
}
.quarter{
  width: 40%
}
.last-line input, .last-line select{
  margin-left: 0.5em;
}
.rtl{
  flex-direction: row-reverse;
}
.paragraph #div_id_display_order > div {
  width:30%
}
.aligned-left #div_id_is_in_use{
  text-align: left!important;
}
.parent-rule{
  width:70%;
  display: flex;
  flex-direction: column;
  border-right-style: solid;
  border-right-color: #358CD3;
  border-right-width: 0.15em;
  padding-right: 1em;
  -webkit-box-shadow: 10px 0 5px -9px #888888;
          box-shadow: 10px 0 5px -9px #888888;

}
.group{
  margin: 0.5em;
}
.grey-font{
  color:grey;
}
#div_id_is_edited{
  width:50%;
}
.on-right{
  margin-left: auto;
}
