{% extends "base.html" %} {% load i18n %} {% load staticfiles %}

{% block page-header %}
{% if not message %}
	<div id="generation_status" class="alert alert-info show" role="alert">
        <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>
        {% trans 'Génération du document MECC en cours. Merci de patienter.' %}
	</div>
{% endif %}
{% endblock %}

{% block app_content %}
{% if message %}
    <h1>{{message}}</h1>
    {% if back_url %}
    <br>
    <a href="{{back_url}}" class="btn btn-default" type="button">{%trans 'Retour'%}</a>
    {%endif%}
    <style>
        h1 {
            font-size: 1.5em;
        }
    </style>
{% else %}
    <div id="iframe_wrapper"></div>
{% endif %}
<script type="text/javascript">
    $(document).ready(function check_status() {
        $.getJSON('/doc_gen/get_pdf_task_status/{{task_id}}', function(data) {
            if (data['status'] == 'SUCCESS') {
                $("#iframe_wrapper").append(
                    '<iframe src=/doc_gen/get_pdf/'+data['task_id']+' style="width:100%;height:100vh"></iframe>'
                );
                $(".alert").alert('close');
            }
            else {
                setTimeout(function() {
                    check_status();
                }, 2000);
            }
        });
    });
</script>
{% endblock %}
