<!DOCTYPE html>
{% load staticfiles %}
{% load dipstrapfiles %}
{% load i18n %}

<html>
<head>
    <title>{% block title %}MECC{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content= 'Direction Informatique - Université de Strasbourg' />
    <link rel="stylesheet" href="{% dipstrap 'css/bootstrap-unistra.min.css' %}">
    <link rel="stylesheet" href="{% dipstrap 'css/bootstrap-theme-unistra.min.css' %}">
    <link rel="stylesheet" href="{% dipstrap 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/mecc.css' %}" type="text/css" title="no title" charset="utf-8" />

    <script src="{% dipstrap 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    <script src="{% dipstrap 'js/vendor/jquery-1.11.0.min.js' %}"></script>
    <script src="{% dipstrap 'js/vendor/bootstrap.min.js' %}"></script>
    {% block head-javascript %}{% endblock %}
</head>

<body>
  <div id="wrapper">
    <div class="navbar navbar-default navbar-fixed-top">
        <img class="pull-left" src="{% dipstrap 'img/unistra-white.png' %}" alt="unistra" />
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">{% trans 'MECC' %}</a>
            </div>
        </div>
    </div>
         <!-- Sidebar -->

         <div id="sidebar-wrapper">
             <ul class="sidebar-nav">
                 <li>
                     <a href="/"
                     {% if 'board' in request.path %}
                        class="item-selected"
                     {% endif %}>{% trans 'Tableau de bord' %}</a>

                 </li>
                 <li>
                     <a href="{% url 'commission:home'%}"
                     {% if 'commission' in request.path %}
                        class="item-selected"
                     {% endif %}>{% trans 'Commission ECI' %}</a>

                 </li>
                 <li>
                     <a href="{% url 'institute:home'%}"
                     {% if 'institute' in request.path %}
                        class="item-selected"
                     {% endif %}>{% trans 'Composantes' %}</a>

                 </li>
                 <li>
                     <a href="{% url 'years:home' %}"
                     {% if 'year' in request.path %}
                        class="item-selected"
                     {% endif %}>{% trans 'Années universitaires' %}</a>
                 </li>
                  <li class="dropdown">
                     <a href="#collapseDegree"   class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDegree"
                     {% if 'degree' in request.path %}
                        class="item-selected"
                     {% endif %}>{% trans 'Diplômes de référence' %} <span class="caret"></span></a>
                     <ul class="collapse" id="collapseDegree">
                       <li><a href="#">{% trans 'Types de diplômes' %}</a></li>
                       <li><a href="#">{% trans 'Liste des diplômes' %}</a></li>

                    </ul>
                 </li>
                 <li>
                     <a href="#"
                     {% if 'rules' in request.path %}
                        class="item-selected"
                     {% endif %}>{% trans 'Règles générales' %}</a>
                 </li>
                 <li style="margin-top:3em">
                     <a href="#"
                     {% if 'rules' in request.path %}
                        class="item-selected"
                     {% endif %}>{% trans 'OFFRE DE FORMATION' %}</a>
                 </li>
                 <li class="bottom">
                     <a href="#"
                     {% if 'rules' in request.path %}
                        class="item-selected"
                     {% endif %}>{% trans 'Moteur de génération de documents MECC' %}</a>
                 </li>

                     <!-- <p class="credit">&copy; DI - UDS - {% now "Y" %}</p> -->

             </ul>
         </div>

         <div id="page-content-wrapper">
             <div class="container-fluid">
               <a href="#menu-toggle" id="menu-toggle">
                 <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
               </a>
               <div id='title'>
                   {% block page-header %}
                   MECC
                   {% endblock %}
                 <hr id='title-hr'>
               </div>
                       {% block content %}
                       Page d'accueil de mecc
                       {% endblock %}

             </div>
         </div>
         <!-- /#page-content-wrapper -->

     </div>

   </div>


    {% block foot-javascript %}{% endblock %}
    <script>
    $("#menu-toggle").click(function(e) {
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>
</html>
