<!DOCTYPE html>
{% load staticfiles %}
{% load dipstrapfiles %}
{% load i18n %}


<html>
<head>
    <title>{% block title %}MECC{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content= 'Direction Informatique - Université de Strasbourg' />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% dipstrap 'css/bootstrap-unistra.min.css' %}">
    <link rel="stylesheet" href="{% dipstrap 'css/bootstrap-theme-unistra.min.css' %}">
    <link rel="stylesheet" href="{% dipstrap 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/mecc.css' %}" type="text/css" title="no title" charset="utf-8" />

    <script src="{% dipstrap 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    <script src="{% dipstrap 'js/vendor/jquery-1.11.0.min.js' %}"></script>
    <script src="{% dipstrap 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/mecc.js' %}"></script>
    {% block head-javascript %}{% endblock %}
</head>


<body>

  <div id="wrapper">
    <div class="navbar navbar-default navbar-fixed-top">
        <a href="#menu-toggle" id="menu-toggle">
            <img class="pull-left" src="{% dipstrap 'img/unistra-white.png' %}" alt="unistra" />
        </a>
        <div class="container">
                <a class="navbar-brand" href="/">{% trans 'MECC' %}</a>
                <span class="nav-bar-txt" style="font-size:1em;">{% if request.user %} {{request.display.user.last_name}} {{request.display.user.first_name}}{% endif %}</span>
                <span class='nav-bar-txt pull-right'>{{request.session.current_year}}</span>

        </div>
    </div>
         <!-- Sidebar -->
               {% if request.session.is_spoofed_user%}
                      {% include "spoof/notification_bar.html" %}
               {% endif %}
         {% include "sidebar.html" %}

         <div id="page-content-wrapper">
             <div class="container-fluid">
               <div class="page-header" style="margin:0 0 20px">
                 {% include "head_button.html"%}

    </div>
               <div id='title'>
                   {% block page-header %}

                   {% endblock %}
               </div>
               </div>
               {% block app_content %}
               {% endblock %}

             </div>
             <div>
               {% block admin_content %}
               {% endblock %}
             </div>
         </div>
         <!-- /#page-content-wrapper -->

     </div>

   </div>


    {% block foot-javascript %}{% endblock %}

</body>
</html>
