{% load i18n %}
{% load groups%}

<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        {% if request.user.is_active and request.user.is_staff %}
            <li>
                {% url 'admin:index' as admin_url %}
                <a href="{{ admin_url }}" {% if request.path == admin_url %}class="item-selected"{% endif %}>
                    {% trans 'Administration' %}
                </a>
            </li>
        {% endif %}

        {% if request.user|has_group:'DES1' or request.user|has_group:'VP' or request.user.is_superuser %}
            <li>
                {% url 'dashboards:general' as dashboards_url %}
                <a href="{{ dashboards_url }}" {% if request.path == dashboards_url %}class="item-selected"{% endif %}>
                    {% trans 'Tableau de bord général' %}
                </a>
            </li>
        {% endif %}

        {% for e in profiles%}
            {%if e.code == 'DIRCOMP' or e.code == 'RAC' or e.code == 'REFAPP' %}
                <li class="dropdown">
                    <a href="#collapse{{e.pk}}" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" aria-controls="collapse{{e.pk}}">
                        {{e.cmp}} - {%trans "Direction"%} <span class="caret"></span>
                    </a>
                    <ul class="collapse {% if e.cmp in request.path and 'institute' in request.path%} in {% endif %} slump" id="collapse{{e.pk}}">
                        <li>
                            {% url 'institute:dircomp_edit' e.cmp as url_dircomp_edit %}
                            <a href="{{ url_dircomp_edit }}" {% if request.path == url_dircomp_edit %}class="item-selected"{% endif %}>
                                {% trans 'Général' %}
                            </a>
                        </li>
                        <li>
                            {% url 'institute:validate' e.cmp as url_institute_validate %}
                            <a href="{{ url_institute_validate }}" {% if request.path == url_institute_validate %}class="item-selected"{% endif %}>
                                {% trans 'Validations' %}
                            </a>
                        </li>
                        <li>
                            {% url 'dashboards:institute' e.cmp as url_dashboards_institute %}
                            <a href="{{ url_dashboards_institute }}" {% if request.path == url_dashboards_institute %}class="item-selected"{% endif %}>
                                {% trans 'Tableau de bord' %}
                            </a>
                        </li>
                    </ul>
                </li>
            {% elif e.code == 'DIRETU' or e.code == 'GESCOL'%}
                {% if not dircomp %}
                    <li class="dropdown">
                        <a href="#collapse{{e.pk}}" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDegree">
                            {{e.cmp}} - {% trans "Directeur d'études" %} <span class="caret"></span>
                        </a>
                        <ul class="collapse {% if e.cmp in request.path %} in {% endif %} slump"id="collapse{{e.pk}}">
                            <li>
                                {% url 'institute:dircomp_edit' e.cmp as url_institute_dircomp_edit %}
                                <a href="{{ url_institute_dircomp_edit }}" {% if request.path == url_institute_dircomp_edit %}class="item-selected"{% endif %}>
                                    {% trans 'Général' %}
                                </a>
                            </li>
                            <li>
                                {% url 'institute:documents' e.cmp as url_institute_documents %}
                                <a href="{{ url_institute_documents }}" {% if request.path == url_institute_documents %}class="item-selected"{% endif %}>
                                    {% trans 'Documents' %}
                                </a>
                            </li>
                            <li>
                                {% url 'dashboards:institute' e.cmp as url_dashboards_institute %}
                                <a href="{{ url_dashboards_institute }}" {% if request.path == url_dashboards_institute %} class="item-selected" {% endif %}>
                                    {% trans 'Tableau de bord' %}
                                </a>
                            </li>
                      </ul>
                   </li>
                {% endif %}
            {% endif %}

            {% if e.code == "RESPFORM" or e.code == 'RESPENS'%}
                <li class="dropdown">
                    <a href="#collapse{{e.pk}}" class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDegree">
                        {{e.cmp}} - {% trans 'Resp. pédago.' %} <span class="caret"></span>
                    </a>
                    <ul class="collapse {% if e.cmp in request.path %} in {% endif %} slump" id="collapse{{e.pk}}">
                        <li>
                            {% url 'institute:dircomp_edit' e.cmp as url_institute_granted %}
                            <a href="{{ url_institute_granted }}" {% if request.path == url_institute_granted %}class="item-selected"{% endif %}>
                                {% trans 'Général' %}
                            </a>
                        </li>
                        <li>
                            {% url 'institute:documents' e.cmp as url_institute_documents %}
                            <a href="{{ url_institute_documents }}" {% if request.path == url_institute_documents %}class="item-selected"{% endif %}>
                                {% trans 'Documents' %}
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        {% endfor %}

        {% if is_respens %}
            <li>
                {% url 'training:my_teachings' as url_training_my_teachings %}
                <a href="{{ url_training_my_teachings }}" {% if request.path == url_training_my_teachings %}class="item-selected"{% endif %}>
                    {% trans 'Mes enseignements' %}
                </a>
            </li>
        {% endif %}

        {% if perms.adm.can_spoof_user or request.user|has_group:'DES3' %}
            <li>
                {% url 'spoof:home' as url_spoof %}
                <a href="{{ url_spoof }}" {% if request.path == url_spoof %}class="item-selected"{% endif %}>
                    {% trans "Endossement d'identité" %}
                </a>
            </li>
        {% endif %}

        {% if request.user|has_group:'DES1' or request.user.is_superuser %}
            <li>
                {% url 'commission:home' as url_commission_home %}
                <a href="{{ url_commission_home }}" {% if request.path == url_commission_home %}class="item-selected"{% endif %}>
                    {% trans 'Commission MECC' %}
                </a>
            </li>
        {% endif %}

        {% if request.user|has_group:'DES1' or request.user|has_group:'DES2' or request.user.is_superuser %}
            <li>
                {% url 'institute:home' as url_institute_home %}
                <a href="{{ url_institute_home }}" {% if request.path == url_institute_home %}class="item-selected"{% endif %}>
                    {% trans 'Composantes' %}
                </a>
            </li>
        {% endif %}

        {% if request.user|has_group:'DES1' or request.user.is_superuser %}
            <li>
                {% url 'years:home' as url_years_home %}
                <a href="{{ url_years_home }}" {% if request.path == url_years_home %}class="item-selected"{% endif %}>
                    {% trans 'Années universitaires' %}
                </a>
            </li>
        {% endif %}

        {% if request.user|has_group:'DES1' or request.user.is_superuser or request.user|has_group:'DES2' %}
            <li>
                {% url 'degree:type' as url_degree_type %}
                <a href="{{ url_degree_type }}" {% if request.path == url_degree_type %}class="item-selected"{% endif %}>
                    {% trans 'Types de diplômes' %}
                </a>
            </li>
        {% endif %}

        {% if request.user|has_group:'DES1' or request.user.is_superuser %}
            <li>
                {% url 'rules:list' as url_rules_list %}
                <a href="{{ url_rules_list }}" {% if request.path == url_rules_list %}class="item-selected"{% endif %}>
                    {% trans 'Règles générales' %}
                </a>
            </li>
        {% endif %}

        {% if request.user.meccuser|is_profile_this_year:'RESPFORM' or request.user.is_superuser %}
            <li>
                {% url 'training:list_resp' as url_list_resp %}
                <a href="{{ url_list_resp }}" {% if request.session.visited_cmp == "RESPFORM" and request.path == url_list_resp %}class="item-selected"{% endif %}>
                    {% trans 'MES FORMATIONS' %}
                </a>
            </li>
        {% endif %}

        {% if request.user|has_group:'DES1' or request.user.is_superuser or request.user.meccuser|has_profile:'RAC,DIRCOMP,GESCOL,REFAPP,DIRETU' %}
            <li>
                {% if request.user|has_group:'DES1' or request.user.is_superuser %}
                    {% url 'training:list_all' as url_offre_de_formation %}
                {% else %}
                    {% url 'training:list' request.user.meccuser.cmp as url_offre_de_formation %}
                {% endif %}
                <a href="{{ url_offre_de_formation }}"
                   {% if request.path == url_offre_de_formation %}class="item-selected"
                   {% elif 'training/list_all/' in request.path or 'training/list/' in request.path %}class="item-selected"
                   {% elif 'dashboards/institute/' in request.path and request.user|has_group:'DES1' %}class="item-selected"
                   {% elif 'dashboards/institute/' in request.path and request.user.is_superuser %}class="item-selected"
                   {% endif %}>{% trans 'OFFRE DE FORMATION' %}</a>
            </li>
        {% endif %}

        {% if request.user.meccuser|is_profile:'ECI' %}
            <li>
                {% url 'training:list_all_meccs' as url_training_list_all_meccs %}
                <a href="{{ url_training_list_all_meccs }}" {% if request.path == url_training_list_all_meccs %}class="item-selected"{% endif %}>
                    {% trans "MECC " %} {{ request.display.current_year }}
                </a>
            </li>
        {% endif %}

        <div class="bottom">
            {% if request.user|has_group:'DES1' or request.user.is_superuser or request.user.meccuser|has_profile:'RAC, DIRCOMP, GESCOL, REFAPP, DIRETU, RESPENS, RESPFORM' %}
                <li id="genmecc">
                    {% url 'doc_gen:home' as url_doc_gen_home %}
                    <a href="{{ url_doc_gen_home }}" {% if request.path == url_doc_gen_home %}class="item-selected"{% endif %}>
                        {% trans 'Moteur de génération de documents MECC' %}
                    </a>
                </li>
            {% endif %}
            <li id="historic">
                {% url 'doc_gen:history_home' as url_doc_gen_history %}
                <a href="{{ url_doc_gen_history }}" {% if request.path == url_doc_gen_history %}class="item-selected"{% endif %}>
                    {% trans 'Historique MECC validées' %}
                </a>
            </li>
        </div>
    </ul>
</div>
