{% load i18n %}
{% load groups%}



<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        {% if request.user.is_active and request.user.is_staff %}
        <li>
            <a href="/admin"
            {% if 'admin' in request.path %}
               class="item-selected"
            {% endif %}>{% trans 'Administration' %}</a>

        </li>
        {% endif %}
        {% if request.user|has_group:'DES1' or request.user.is_superuser %}

          <li>
              <a href="/"
              {% if 'board' in request.path %}
                 class="item-selected"
              {% endif %}>{% trans 'Tableau de bord général' %}</a>

          </li>
          {% endif %}
        {% for e in profiles%}
            {%if e.code == 'DIRCOMP' or e.code == 'RAC' or e.code == 'REFAPP'%}
                <li class="dropdown">
                   <a href="#collapse{{e.pk}}"   class="dropdown-toggle" data-toggle="collapse"
                   aria-expanded="false" aria-controls="collapse{{e.pk}}">
                   {% trans 'Composante' %} {{e.cmp}} <span class="caret"></span></a>
                   <ul class="collapse {% if e.cmp in request.path and 'institute' in request.path%} in {% endif %} slump"id="collapse{{e.pk}}">
                     <li><a href="/institute/gr and not dircompanted/{{e.cmp}}"
                      {% if e.cmp in request.path and 'institute' in request.path%}
                        class="item-selected"
                     {% endif %}>{% trans 'Général' %}</a></li>
                     <li><a href="/institute/validate/{{e.cmp}}"
                       {% if 'institute/---' in request.path %}
                        class="item-selected"
                     {% endif %}>{% trans 'Validations' %}</a></li>
                     <li><a href="/"
                       {% if 'valid' in request.path %}
                        class="item-selected"
                     {% endif %}>{% trans 'Tableau de bord' %}</a></li>
                  </ul>
               </li>
            {% elif e.code == 'DIRETU' or e.code == 'GESCOL'%}
            {% if not dircomp %}
                <li class="dropdown">
                   <a href="#collapse{{e.pk}}"   class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDegree"
                  > {% trans 'Composante' %} {{e.cmp}} <span class="caret"></span></a>
                   <ul class="collapse {% if e.cmp in request.path %} in {% endif %} slump"id="collapse{{e.pk}}">
                     <li><a href="/institute/granted/{{e.cmp}}"
                      {% if e.cmp in request.path %}
                        class="item-selected"
                     {% endif %}>{% trans 'Général' %}</a></li>
                     <li><a href="#"
                       {% if 'valid' in request.path %}
                        class="item-selected"
                     {% endif %}>{% trans 'Documents' %}</a></li>
                     <li><a href="/"
                       {% if 'valid' in request.path %}
                        class="item-selected"
                     {% endif %}>{% trans 'Tableau de bord' %}</a></li>
                  </ul>
               </li>
               {% endif %}
              {%endif%}

          {% if e.code == "RESPFORM"%}
          {% if not dircomp %}

          <li class="dropdown">
             <a href="#collapse{{e.pk}}"   class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDegree">
                  {% trans 'Composante' %} {{e.cmp}} <span class="caret"></span></a>
                  <ul class="collapse {% if e.cmp in request.path %} in {% endif %} slump"id="collapse{{e.pk}}">
                      <li><a href="/institute/granted/{{e.cmp}}"
                          {% if e.cmp in request.path %}
                          class="item-selected"
                          {% endif %}>{% trans 'Général' %}</a></li>
                          <li><a href="#"
                              {% if 'doc' in request.path %}
                              class="item-selected"
                              {% endif %}>{% trans 'Documents' %}</a></li>

                          </ul>
              {%endif%}
          {%endif%}
      {% endfor %}

      {% if perms.adm.can_spoof_user or request.user|has_group:'DES3' %}
      <li>
          <a href="/spoof"
          {% if 'spoof' in request.path %}
             class="item-selected"
          {% endif %}>{% trans "Usurpation d'identité" %}</a>
      </li>
      {% endif %}

        {% if request.user|has_group:'DES1' or request.user.is_superuser%}

        <li>
            <a href="{% url 'commission:home'%}"
            {% if 'commission' in request.path %}
               class="item-selected"
            {% endif %}>{% trans 'Commission ECI' %}</a>

        </li>
        {% endif %}

        {% if request.user|has_group:'DES1' or request.user|has_group:'DES2' or request.user.is_superuser%}


        <li>
            <a href="{% url 'institute:home'%}"
            {% if 'institute' in request.path %}
               class="item-selected"
            {% endif %}>{% trans 'Composantes' %}</a>

        </li>
        {% endif %}

        {% if request.user|has_group:'DES1' or request.user.is_superuser%}

        <li>
            <a href="{% url 'years:home' %}"
            {% if 'year' in request.path %}
               class="item-selected"
            {% endif %}>{% trans 'Années universitaires' %}</a>
        </li>
        {% endif %}

        {% if request.user|has_group:'DES1' or request.user.is_superuser or request.user|has_group:'DES2'%}

        <li><a href="{% url 'degree:type' %}"
         {% if 'degree/type' in request.path %}
         class="item-selected"
        {% endif %}>{% trans 'Types de diplômes' %}</a>
         </li>

        {% endif %}
        {% if request.user|has_group:'DES1' or request.user.is_superuser%}

        <li>
            <a href="{% url 'rules:list' %}"
            {% if 'rules' in request.path and not 'training' in request.path %}
               class="item-selected"
            {% endif %}>{% trans 'Règles générales' %}</a>
        </li>
        {% endif %}
        {% if request.user.meccuser|is_profile:'RESPFORM' or request.user.is_superuser%}
        <li>
            <a href="{% url 'training:list_resp' %}"
            {% if 'resp' in request.path %}
               class="item-selected"
            {% endif %}>{% trans 'MES FORMATIONS' %}</a>
        </li>
        {% endif %}
        {% if request.user|has_group:'DES1' or request.user.is_superuser or request.user.meccuser|is_profile:'RAC' or request.user.meccuser|is_profile:'DIRCOMP' or request.user.meccuser|is_profile:'GESCOL' or request.user.meccuser|is_profile:'REFAPP' or request.user.meccuser|is_profile:'DIRETU' %}

        <li style="margin-top:3em">
            <a href=
            {% if request.user|has_group:'DES1' or request.user.is_superuser %}"{% url 'training:list_all'%}"
            {% else %}"{%url 'training:list' request.user.meccuser.cmp%}"
            {%endif%}
            {% if 'training/list_all/' in request.path or 'training/list/' in request.path%}
               class="item-selected"
            {% endif %}>{% trans 'OFFRE DE FORMATION' %}</a>
        </li>
        {% endif %}

        {% if request.user|has_group:'DES1' or request.user.is_superuser or request.user.meccuser|is_profile:'RAC' or request.user.meccuser|is_profile:'DIRCOMP' or request.user.meccuser|is_profile:'GESCOL' or request.user.meccuser|is_profile:'REFAPP' or request.user.meccuser|is_profile:'DIRETU' %}
        <li class="bottom" id='hideme'>
            <a href="#"
            {% if 'gen' in request.path %}
               class="item-selected"
            {% endif %}>{% trans 'Moteur de génération de documents MECC' %}</a>
        </li>
        {% endif %}

    </ul>
</div>
