{% load i18n %}
{% load groups%}


<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      {% if request.user.meccuser%}
      {% if request.user.meccuser|is_profile:'DIRCOMP' %}
        <li class="dropdown">
           <a href="#collapseInstituteDIRCOMP"   class="dropdown-toggle slump" data-toggle="collapse"
           aria-expanded="false" aria-controls="collapseInstituteDIRCOMP">
           {% trans 'Composante' %} {{request.user.meccuser.cmp}} <span class="caret"></span></a>
           <ul class="collapse {% if 'institute' in request.path %} in {% endif %} slump"id="collapseInstituteDIRCOMP">
             <li><a href="/institute/dircomp/{{request.user.meccuser.cmp}}"
              {% if 'institute/dircomp' in request.path %}
                class="item-selected"
             {% endif %}>{% trans 'Général' %}</a></li>
             <li><a href=""
               {% if 'institute/---' in request.path %}
                class="item-selected"
             {% endif %}>{% trans 'Validations' %}</a></li>

          </ul>
       </li>
      {% endif %}
      {% if request.user.meccuser|is_profile:'RAC' %}
        <li class="dropdown">
           <a href="#collapseDegreeRAC"   class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDegree"
          > {% trans 'Composante' %} {{request.user.meccuser.cmp}} <span class="caret"></span></a>
           <ul class="collapse {% if 'degree' in request.path %} in {% endif %} slump"id="collapseDegreeRAC">
             <li><a href="{% url 'degree:type' %}"
              {% if 'degree/type' in request.path %}
                class="item-selected"
             {% endif %}>{% trans 'Types de diplômes' %}</a></li>
             <li><a href="{% url 'degree:list' %}"
               {% if 'degree/list' in request.path %}
                class="item-selected"
             {% endif %}>{% trans 'Liste des diplômes' %}</a></li>

          </ul>
       </li>
      {% endif %}
      {% endif %}
      {% if request.user.is_active and request.user.is_staff %}
      <li>
          <a href="/admin"
          {% if 'admin' in request.path %}
             class="item-selected"
          {% endif %}>{% trans 'Administration' %}</a>

      </li>
      {% endif %}
      {% if perms.adm.can_spoof_user %}
      <li>
          <a href="/spoof"
          {% if 'spoof' in request.path %}
             class="item-selected"
          {% endif %}>{% trans "Usurpation d'identité" %}</a>
      </li>
      {% endif %}
      {% if perms.adm.can_spoof_user %}

        <li>
            <a href="/"
            {% if 'board' in request.path %}
               class="item-selected"
            {% endif %}>{% trans 'Tableau de bord' %}</a>

        </li>
        {% endif %}
        {% if request.user|has_group:'DES1' or request.user.is_superuser%}

        <li>
            <a href="{% url 'commission:home'%}"
            {% if 'commission' in request.path %}
               class="item-selected"
            {% endif %}>{% trans 'Commission ECI' %}</a>

        </li>
        {% endif %}

        {% if request.user|has_group:'DES1' or request.user.is_superuser%}


        <li>
            <a href="{% url 'institute:home'%}"
            {% if 'institute' in request.path %}
               class="item-selected"
            {% endif %}>{% trans 'Composantes' %}</a>

        </li>
        {% endif %}

        {% if request.user|has_group:'DES1' or request.user.is_superuser%}

        <li>
            <a href="{% url 'years:home' %}"
            {% if 'year' in request.path %}
               class="item-selected"
            {% endif %}>{% trans 'Années universitaires' %}</a>
        </li>
        {% endif %}

        {% if request.user|has_group:'DES1' or request.user.is_superuser%}

         <li class="dropdown">
            <a href="#collapseDegree"   class="dropdown-toggle" data-toggle="collapse" aria-expanded="false" aria-controls="collapseDegree"
           >{% trans 'Diplômes de référence' %} <span class="caret"></span></a>
            <ul class="collapse {% if 'degree' in request.path %} in {% endif %} slump"id="collapseDegree">
              <li><a href="{% url 'degree:type' %}"
               {% if 'degree/type' in request.path %}
                 class="item-selected"
              {% endif %}>{% trans 'Types de diplômes' %}</a></li>
              <li><a href="{% url 'degree:list' %}"
                {% if 'degree/list' in request.path %}
                 class="item-selected"
              {% endif %}>{% trans 'Liste des diplômes' %}</a></li>

           </ul>
        </li>
        {% endif %}
        {% if request.user|has_group:'DES1' or request.user.is_superuser%}

        <li>
            <a href="#"
            {% if 'rules' in request.path %}
               class="item-selected"
            {% endif %}>{% trans 'Règles générales' %}</a>
        </li>
        {% endif %}
        <li style="margin-top:3em">
            <a href="#"
            {% if 'formation' in request.path %}
               class="item-selected"
            {% endif %}>{% trans 'OFFRE DE FORMATION' %}</a>
        </li>
        <li class="bottom" id='hideme'>
            <a href="#"
            {% if 'rules' in request.path %}
               class="item-selected"
            {% endif %}>{% trans 'Moteur de génération de documents MECC' %}</a>
        </li>
    </ul>
</div>
