{% load i18n %}

{% load crispy_forms_tags %}


<div class="modal fade" id="addYear" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{% trans "Année universitaire" %}</h4>
      </div>
      <div class="modal-body" style="padding-bottom:0">
        {% crispy form %}
    </div>
  </div>
</div>
</div>
