{% extends 'base.html' %}

{% load i18n %}
{% load field_name %}

{% block page-header %}
{% trans 'Années universitaires' %}
{% endblock %}

{% block app_content %}

{% if years %}
<table class="table">
  <tr class='table-head'>
    <th> {% get_field_name years.0 'code_year' %}</th>
    <th>{% get_field_name years.0 'label_year' %}</th>
    <th>{% get_field_name years.0 'is_target_year' %}</th>
    <th>{% get_field_name years.0 'date_validation' %}</th>
    <th>{% get_field_name years.0 'date_expected' %}</th>
    <th>{% get_field_name years.0 'pdf_doc' %}</th>
    <th>{% get_field_name years.0 'is_year_init' %}</th>
    <th></th>
    <th></th>
  </tr>
    {% for e in years %}
  <tr class="hover-row">
    <td>{{e.code_year}}</td>
    <td>{{e.label_year}}</td>
    <td>
      {% if e.is_target_year == True %}
        <span class="glyphicon glyphicon-ok green"></span>
      {% else %}
        <span class="glyphicon glyphicon-remove red"></span>
      {% endif %}
    </td>
    <td>{{e.date_validation}}</td>
    <td>{{e.date_expected}}</td>
    <td>{{e.pdf_doc}}</td>
    <td>
      {% if e.is_year_init == True %}
        <span class="glyphicon glyphicon-ok green">ss</span>
      {% else %}
        <span class="glyphicon glyphicon-remove red"></span>
      {% endif %}</td>
    <td>
      <a href="" class="glyphicon glyphicon-pencil" id="{{e.code_year}}" onclick="fillModal(this, this.id);" data-toggle="modal" data-target="#deleteMember"></a>
    </td>
    <td>
      <a href="" class="glyphicon glyphicon-trash" id="{{e.code_year}}" onclick="fillModal(this, this.id);" data-toggle="modal" data-target="#deleteMember"></a>
    </td>
  </tr>
    {% endfor %}
</table>

{% else %}
{% trans "Aucune année disponible." %}
{% endif %}

</br>
<div class='pull-right'>
  <a href="{% url 'years:create' %}" class="btn btn-primary"> {% trans 'Créer une nouvelle année' %}</a>
</div>

{% endblock %}
