{% extends 'base.html' %}

{% load i18n %}


{% block page-header %}
{% trans 'InstituteYear 2' %}
{% endblock %}


{% block content %}
{% if object_list %}
<table class="table">
  <tr class='table-head'>
    <th>{% trans 'Composante' %}</th>
    <th>{% trans 'Année universitaire' %}</th>
    <th>{% trans 'Date prévisionnelle' %}</th>
    <th>{% trans 'Date de dernière notification' %}</th>
    <th></th>
    <th></th>
  </tr>
    {% for e in object_list %}
  <tr class="hover-row">
    <td>{{e.id_cmp}}</td>
    <td>{{e.year}}</td>
    <td>{{e.date_expected_MECC|date:"d/m/Y"}}</td>
    <td>{{e.date_last_notif|date:"d/m/Y"}}</td>

    <td>
      <a href="" class="glyphicon glyphicon-pencil"></a>
    </td>
    <td>
      <a href="" class="glyphicon glyphicon-trash"></a>
    </td>
  </tr>
    {% endfor %}
</table>
{% endif %}

</br>
<div class='pull-right'>
  <a href="{% url 'years:create2'  %}" class="fm-create btn btn-primary" data-fm-head=" {% trans 'Ajouter une nouvelle année' %}" data-fm-callback="reload"> {% trans 'Ajouter une nouvelle année' %}</a>
</div>

{% include "years/modal.html" %}
<script>
        $(function() {
            $.fm({debug: true});
        });
        var stuff = document.getElementById('')
console.log();

</script>


{% endblock %}
