{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block page-header %}
{% trans 'Fiche année universitaire' %}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}" type="text/css" title="no title" charset="utf-8" />
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>

<form action="" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="{% trans 'Valider et retourner à la liste des années universitaires' %}" />
</form>

<script>
$('#id_date_validation, #id_date_expected').datepicker({
    orientation: "bottom auto",
    todayHighlight: true,
    autoclose: true,
    language: "fr",
});

e = document.getElementById("id_code_year");

  </script>

{% endblock %}
