{% extends 'base.html' %}

{% load i18n %}
{% load field_name %}

{% block page-header %}
{% trans 'Années universitaires' %}
{% endblock %}

{% block app_content %}
{% if rules == None and trainings == None %}
<form action="" method="post" >
  {% csrf_token %}
    <p> {% trans "Confirmer la suppression de l'année universitaire " %}{{ object.code_year }}?</p>
    <input type="submit" value="{% trans "Oui" %}" class="btn btn-primary"/>
    <a href="{% url 'years:home' %}" type="button"  class="btn btn-default">{% trans 'Non'%}</a>

</form>
{%else%}
{%if rules%}
<p>{% trans "Vous ne pouvez pas supprimer cette année tant que des règles y sont rattachées : " %}</p>
<ul>
{%for e in rules%}
<li>
    <i>
        {{e.code_year}}/{{e.code_year|add:"1"}} :
    </i>
  {{e.label}}
</li>
{%endfor%}
{%endif%}
</ul>
{% if trainings%}
<p>{% trans "Vous ne pouvez pas supprimer cette année tant que des formations y sont rattachées : " %}</p>
<ul>
{%for e in trainings%}
<li>
    <i>
        {{e.code_year}}/{{e.code_year|add:"1"}} :
    </i>
  {{e.label}}
</li>
{%endfor%}
{%endif%}
</ul>
<a href="{% url 'years:home' %}" type="button"  class="btn btn-default">{% trans "Retour" %}</a>
{%endif%}
{% endblock %}
