{% extends 'base.html' %}

{% load i18n %}
{% load field_name %}

{% block page-header %}
{% trans 'Années universitaires' %}
{% endblock %}

{% block app_content %}

{% if object_list %}
<table class="table">
  <tr class='table-head'>
    <th>{% trans 'Code année' %}</th>
    <th>{% trans 'Libellé année' %}</th>
    <th>{% trans 'Cible courante' %}</th>
    <th>{% trans 'Date validation cadre en CFVU' %}</th>
    <th>{% trans 'Date prévisionnelle CFVU MECC' %}</th>
    <th>{% trans 'Documents pdf' %}</th>
    <th>{% trans 'Initialisation des composantes effectuée' %}</th>
    <th></th>
    <th></th>
  </tr>
    {% for e in object_list %}
  <tr class="hover-row">
    <td>{{e.code_year}}</td>
    <td>{{e.label_year}}</td>
    <td>
      {% if e.is_target_year == True %}
        <strong>{% trans "OUI" %}</strong>
      {% else %}
        non
      {% endif %}
    </td>
    <td>{{e.date_validation|date:"d/m/Y"}}</td>
    <td>{{e.date_expected|date:"d/m/Y"}}</td>
    <td>{%if e.pdf_doc|filename%}
        <a href="/media/{{e.pdf_doc}}">{{e.pdf_doc|filename}}</a>
        {%endif%}
    </td>
    <td>
      {% if e.is_year_init == True %}
      <strong>{% trans "OUI" %}</strong>
      {% else %}
      {% trans "non" %}
      {% endif %}</td>
    <td>
      <a href="{% url 'years:edit' code_year=e.code_year %}" class="glyphicon glyphicon-pencil"></a>
    </td>
    <td>
        {% if e.can_be_deleted%}
      <a href="{% url 'years:delete' code_year=e.code_year %}" class="glyphicon glyphicon-trash"></a>
        {%endif%}
    </td>
  </tr>
    {% endfor %}
</table>

{% else %}
{% trans "Aucune année disponible." %}
{% endif %}

</br>
<div class='pull-right'>
  <a href="{% url 'years:create' %}" class="btn btn-primary"> {% trans 'Créer une nouvelle année' %}</a>
</div>
{% endblock %}
