{% extends 'base.html' %}

{% load i18n %}
{% load field_name %}
{% load staticfiles %}

{% block page-header %}
{% trans 'Années universitaires' %}
{% endblock %}

{% block app_content %}
<script src="{% static 'js/notif.js' %}"></script>
<div class='notifications top-right'></div>

{% if object_list %}
<table class="table">
  <tr class='table-head'>
    <th>{% trans 'Code année' %}</th>
    <th>{% trans 'Libellé année' %}</th>
    <th>{% trans 'Cible courante' %}</th>
    <th>{% trans 'Date validation cadre en CFVU' %}</th>
    <th>{% trans 'Date prévisionnelle CFVU MECC' %}</th>
    <th>{% trans 'Documents pdf' %}</th>
    <th>{% trans 'Initialisation des composantes effectuée' %}</th>
    <th></th>
    <th></th>
  </tr>
    {% for e in object_list %}
  <tr class="hover-row">
    <td>{{e.code_year}}</td>
    <td>{{e.label_year}}</td>
    <td>
        <select class='select-type' id="val_{{e.id}}">
            <option value="1" {% if e.is_target_year%} selected="selected" {% endif %} > {% trans "Oui" %}</option>
            <option value="0" {% if not e.is_target_year %} selected="selected" {% endif %} >{% trans "Non" %}</option>
        </select>
    </td>
    <td>{{e.date_validation|date:"d/m/Y"}}</td>
    <td>{{e.date_expected|date:"d/m/Y"}}</td>
    <td>{%if e.pdf_doc|filename%}
        <a href="/media/{{e.pdf_doc}}" target="_blank">{{e.pdf_doc|filename}}</a>
        {%endif%}
    </td>
    <td>
      {% if e.is_year_init == True %}
      <strong>{% trans "OUI" %}</strong>
      {% else %}
      {% trans "non" %}
      {% endif %}
  </td>

    <td>
      <a href="{% url 'years:edit' code_year=e.code_year %}" class="glyphicon glyphicon-pencil"></a>
    </td>
    <td>
      <a href="{% url 'years:delete' code_year=e.code_year %}" class="glyphicon glyphicon-trash"></a>
    </td>
  </tr>
    {% endfor %}
</table>

{% else %}
{% trans "Aucune année disponible." %}
{% endif %}

</br>
<div class='pull-right'>
  <a href="{% url 'years:create' %}" class="btn btn-primary"> {% trans 'Créer une nouvelle année' %}</a>
</div>

<script type="text/javascript">
$('.select-type').on('change', function() {
    var _id = this.id;
    value = this.value;
    code_year = $(this).parents('td').prev().prev().text();
    $.ajax({
        url: "{% url 'years:update_is_in_use'%}",
        type: "POST",
        data: {
            code_year: code_year,
            value: value,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(data) {
            if (data) {
                $('.top-right').notify({
                    message: {
                        text: data.message
                    },
                    type: data.status === 'updated' ? 'info': 'danger'
                }).show();
            } if (data.status === 'error'){
                document.getElementById(_id).value = 0;
            }
            setTimeout(function(){
                location.reload();
            }, 1500)
            // document.getElementById('nav-right').innerHTML = data.display;
    }});
});
</script>

{% endblock %}
