{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page-header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rules.css' %}" />
{% trans "Fiche détaillée d'une règle générale" %}
{% endblock %}

{% block app_content %}

<div class="upper-part">

  <div class="parent-rule">

  <form class="" action="" method="post">
    {% crispy form %}

  </form>
  </div>

      <div class="up-right-part  {%if not editing%}disabled{%else%}{%endif%}">
{% include "rules/create/top-right.html" with  rule_id=latest_id%}
      </div>
</div>
<div class="rule-bottom-part  {%if not editing%}disabled{%else%}{%endif%}">
{% include "rules/create/bottom.html" with creating='creating' rule_id='latest_id'%}
</div>


<script type="text/javascript">

var _isEdited = false;
$(':input').change(function () {
  _isEdited = true;
});


$(document).ready(function () {


window.onbeforeunload = function (e) {
if (_isEdited === true) {
var e = e || window.event;

// For IE and Firefox
if (e) {
  e.returnValue = 'Des modifications ont été effectuées.';
}

// For Safari
return 'Des modifications ont été effectuées.';
};
};
});

</script>

{%endblock%}
