{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block page-header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rules/create.css' %}" />
{% trans "Fiche détaillée d'une règle générale" %}
{% endblock %}

{% block app_content %}
<div class="upper-part">

  <div class="parent-rule">

  <form class="" action="{% url 'rules:new'%}" method="post">
  {% crispy form_base %}
  </form>
  </div>

      <div class="up-right-part">
{% include "rules/create/top-right.html" with old=old%}
      </div>
</div>
<div class="rule-bottom-part">
{% include "rules/create/bottom.html" with old=old %}
</div>

{%endblock%}
