{% load i18n %}
{% load staticfiles %}

<script src="{% static 'js/srtable.js' %}"></script>

<h2 style="font-size:1.2em;font-weight: bold;">
  {% trans "Alinéas" %}
</h2>



  {% if paragraphs %}
<div class="table_list">
  <table class="table" id="paragrapTable" style="max-width:100%">
    <thead class="be-blue">
     <tr>

        <th width="5%" class="td-centered">{% trans 'Id auto' %}</th>
        <th width="20%" class="td-centered">{% trans "Texte de l'alinéa" %}</th>
        <th width="6%" class="td-centered">{% trans "En service" %}</th>
        <th width="7%" class='sort-default td-centered'>{% trans 'N° Affichage' %}</th>
        <th width="6%" class="td-centered">{% trans 'Alinéa Cmp' %}</th>
        <th width="6%" class="td-centered">{% trans 'Inter- action' %}</th>
        <th width="6%" class="td-centered">{% trans 'Impact TM' %}</th>
        <th width="17%" class="td-centered">{% trans 'Texte consigne' %}</br>{% trans "Règle dérogatoire (ou de composante)" %}</th>
        <th width="17%"class="td-centered">{% trans 'Texte consigne' %}</br>{% trans "Motivations" %}</th>
        <th width="4%"class="borderless"></th>

     </tr>
   </thead>
   <tbody class="overflow" >
  {%for e in paragraphs%}

  <tr class="hover-row">
     <td width="5%" class="td-centered">{{e.id}}</td>
     <td width="20%" >{{e.text_standard | safe | truncatechars_html:128}}</td>
     <td width="6%" class="td-centered">
       {% if e.is_in_use == True %}
          O
       {% else %}
          N
       {% endif %}</td>
     <td width="7%"> <strong> <input  value='{{e.display_order}}' id='display-{{e.id}}' class="display-order"> <span hidden id='hidden-display-{{e.id}}'> {{e.display_order}}</span></input></strong></td>
     <td width="6%" class="be-blue td-centered">
       {% if e.is_cmp == True %}
          O
       {% else %}
          N
       {% endif %}</td>
     <td width="6%" class="be-blue td-centered">
      {% if e.is_interaction == True %}
          O
      {% else %}
          N
      {% endif %}</td>
     <td width="6%" class="td-centered"></td>
     <td width="17%">{{e.text_derog | safe |  truncatechars_html:70}}</td>
     <td width="17%">{{e.text_motiv | safe |  truncatechars_html:70}}</td>
      <td class="td-centered" style="border-right-width:0;width:2%;">
        <a href="{% url 'rules:paragraph_edit' id=e.id %}" class="glyphicon glyphicon-pencil"></a>
      </td>
      <td class="td-centered" style="border-left-width:0;width:2%;">
        <a href="{% url 'rules:paragraph_delete' id=e.id %}" class="glyphicon glyphicon-trash"></a>
      </td>
  </tr>
  {% endfor %}
</tbody>
</table>

   </table>

</div>
{% else %}
  {% trans "Aucun alinéa pour cette règle" %}{%endif%}</p>

  <div class="buttons_list">

<a {%if not editing%}class="disabled"{%else%} href="{% url 'rules:manage_paragraph' rule_id=latest_id%}"{%endif%} >
<span class="glyphicon glyphicon-plus paddin-left" style="padding-right:16%;" aria-hidden="true" >{% trans " Ajouter un alinéa" %}</span>
</a>
{% if editing %}
<a href="" class="btn-primary btn btn-sm">{% trans "Pré-visualiser cette règle" %}</a>
<a href="{% url 'rules:list'%}" class="btn-primary btn btn-sm" >{% trans "Retourner à la liste des règles" %}</a>
{% endif %}
</div>
<style media="screen">
.display-order{
    background: transparent;
    border: none;
    width: 100%;
    text-align: center;
}
.display-order:focus, .display-order:hover{
  border: solid;
  border-color: #358CD3;
  border-width: 0.1em;
  text-align: left;
  width: 60%;
  margin: 0 20% 0 25%;
}
.buttons_list{
  text-align: center;
  width: 100%;
}
.table_list{
  height: 40vw;
  margin-bottom: 0.7em;

}
#paragrapTable  {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
#paragrapTable  thead {
  /* head takes the height it requires,
  and it's not scaled when table is resized */
  flex: 0 0 auto;
  width: 98.5%;
}
#paragrapTable  tbody {
  /* body takes all the remaining available space */
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
#paragrapTable  tbody tr {
  width: 100%;
}
#paragrapTable  thead,
#paragrapTable  tbody tr {
  display: table;
  table-layout: fixed;
}
.paddin-left{
  padding-left: 2em;
}
.be-blue{
  background-color: #E1F1FE;
}

p{
  margin-bottom: 0;
}
</style>

<script>


  var sort = new Tablesort(document.getElementById('paragrapTable'));
$('.display-order').on('change', function() {
  var _input = this;
  var _id = this.id.replace('display-', '');
  var hidden_id = 'hidden-display-' + _id;
  var hidden_span = document.getElementById(hidden_id);
  var display_order = this.value;
  $.ajax({
      url: "{% url 'rules:update_display_order'%}",
      type: "POST",
      data: {
          type:'paragraph',
          _id: _id,
          display_order: display_order,
          csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data){
        hidden_span.innerHTML = data.display_order
        _input.value = data.display_order
        sort.refresh();

      }
  });
});

$('.disp').on('change', function() {
    new_type = this.value;
    id = $(this).parents('td').prev().text();
    $.ajax({
        url: "/commission/",
        type: "POST",
        data: {
            username: id,
            type_member: new_type,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
    });
});
</script>
