{% load i18n %}

<div class="container-rule">
  <form class="" action="{% url 'rules:new' %}" method="post">
    {% csrf_token %}
  <div class="row">
        <div class="col-xs-4 grey-font">
          <label class="">{% trans "ID règle" %} <small>(auto)</small> : </label>
          <span id="rule_id"> 000041 </span>
        </div>
        <div class="col-xs-5 grey-font">
          <label class="">{% trans "Année universitaire : " %}</label>
          <span id="rule_date"> {{current_year}} </span>
        </div>
        <div class="col-xs-3">
          <div class="pull-right">
          <label class="">{% trans "En service :" %} </label>
          <input name="rule_is_in_use" type="checkbox"class=""></input>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <label class="" style="width:20%;">{% trans "Libellé de règle :" %}</label>
          <input name="rule_label"class="" style="width:78%" placeholder="{% trans 'Saisir ici le libellé de la nouvelle règle'%}"></input>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <label class="">{% trans "Régime(s) concerné(s) : " %}</label>
          <label class="">{% trans "ECI : " %}
          <input name="rule_is_eci" type="checkbox" class=""></input>
          </label>
          <label class="">{% trans "CC/CT : " %}
          <input name="rule_is_ccct" type="checkbox"class=""></input>
          </label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
          <label class="" >{% trans "N° d'ordre d'affichage :" %}</label>
          <input name="rule_diplay_order" class="" style="width:2.2em" value="000"></input>
        </div>
        <div class="col-xs-6">
          <label class="" >{% trans "La règle a-t-elle été modifiée ?" %}</label>
          <select name="rule_is_edited" class="" style="width:6em">
            <option value="X">Nouvelle</option>
            <option value="O">Oui</option>
            <option value="N">Non</option>
          </select>
        </div>
        <div class="col-xs-2">
          <button class="btn btn-primary btn-sm pull-right"  >{% trans "Valider" %}</button>

        </div>
    </div>
  </form>
</div>
