{% load i18n %}
{% load dipstrapfiles %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load groups%}
<div class="form-group item-70">
    <label style="display: inline-block;width:100%" > {% trans "Responsables de formation" %}
    </label>


    <table class="table" id="respformtable">
      <tbody class="overflow" id='repsformtbody'>

          {%if object.resp_formations%}
      {% for e in object.resp_formations.all %}

      <tr>
        <td style="width: 45%" class="v-align-m">{{e.user.last_name}}</td>
        <td style="width: 45%" class="v-align-m">{{e.user.first_name}}</td>
        <td style="width: 10%" class="v-align-m">{{e.cmp}}</td>
        <td style="width: 5%" class="v-align-m">
            <form class="" action="{% url 'training:process_resp'%}" method="post">
                <div class="hidden" hidden >
                    {% csrf_token %}

                        <input type="text" name="formation"  value="{{object.id}}" readonly>
                        <input type="text" name="username"  readonly value="{{e.user.username}}">

                    </div>
                    {% if can_edit %}
                    <button type="submit" class="btn-link" name="remove">
                        <strong><a class="glyphicon glyphicon-trash"></a></strong></button>
                    {% endif %}
            </form>


        </td>
      </tr>
      {% endfor %}
    </tbody>
    {% else %}
    {% trans "Pas de responsable de formation" %}
    {%endif%}
    </table>
</div>
<div class="flex-center item-30" style="margin:1em;">
    {% if can_edit and object%}
    <a id='add_respform' data-toggle="modal" data-target="#searchMember" class="btn btn-sm btn-primary"> {% trans 'Associer un responsable' %}</a>
    {% else %}
    <span class="btn btn-sm btn-primary" disabled style="width:100%"> {% trans 'Associer un responsable' %}</span>
    {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="searchMember" role="dialog" style="z-index: 1400;">
    <div class="modal-dialog modal-90">
        <!-- Modal content-->
        <div class="modal-content select-pple">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="title-modal">{% trans "Rechercher un membre" %}</h4>
            </div>
            <div class="modal-body">
                <div id='error'></div>
                <form class="">
                <div class="input-group">
                    <span contenteditable="true" type="text" class="form-control" placeholder="{% trans 'Nom' %}" id="to-search"></span>
                    <span class="input-group-btn">
               <a class="btn btn-default" type="button" onclick="searchMember()">
               <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </a>
                    </span>
                </div>
                </form>

                <!-- /input-group -->

                <div class="table-responsive" style="display:none" id="table-resp">
                <br>
                    <table class="table results order-table sortable" id="sortabletable">
                        <thead id="to-fill">
                            <tr class='table-head'>
                                <th> {% trans 'Nom' %}</th>
                                <th> {% trans 'Prénom' %}</th>
                                <th hidden="true"> {% trans 'Statut' %}</th>
                                <th> {% trans 'Composante' %}</th>
                                <th hidden="true"> {% trans 'Mail' %}</th>
                                <th hidden="true"> {% trans 'ID Membre' %}</th>
                            </tr>
                        </thead>
                        <tbody id="table">
                        </tbody>
                    </table>
                </div>
                <div id="load-wrap" style="display:none">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade fade" id="selectedMember" role="dialog" style="display:none">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="title-modal">{% trans "Confirmer la sélection" %}</h4>
            </div>
            <div class="modal-body" style="padding-bottom:0">
                <form method="post" action="{% url 'training:process_resp' %}" class="">
                    <div class="hidden" hidden >
                        {% csrf_token %}

                            <input type="text" name="formation"  id="id_formation"  value="{{object.id}}" readonly>
                            <input type="text" name="username" id="id_username" readonly>
                            <input type="text" name="mail"  id="id_email" readonly>
                            <input type="text" name="name" id="id_name" readonly>
                            <input type="text" name="firstname"  id="id_firstname" readonly>
                            <input type="text" name="cmp" id="id_cmp" readonly>
                    </div>
                    Voulez vous vraiment ajouter :
                    <span id="span_name"></span> <span id="span_first_name"></span>
                    (<span id="span_cmp"></span>) comme responsable de formation <strong>{{object.label}}</strong> ?
                </div>
            <div class="modal-footer">
                        <input type="submit" name="add_respform" value="Oui" class="btn btn-primary" id="submit-id-add">
                        <input type="button" name="cancel" value="Non" class="btn" id="button-id-cancel" data-dismiss="modal">
            </div>
        </form>
            </div>
        </div>
    </div>
    {% if can_edit %}
    <script type="text/javascript">
    {% if request.user|has_group:'DES1' or request.user.is_superuser or request.user.meccuser|is_profile:'RAC' or request.user.meccuser|is_profile:'DIRCOMP' or request.user.meccuser|is_profile:'GESCOL' or request.user.meccuser|is_profile:'REFAPP' or request.user.meccuser|is_profile:'DIRETU' %}

    document.getElementById('to-search').addEventListener('keypress', function(evt) {
        if (evt.which === 13) {
            evt.preventDefault();
            searchMember();
        }
    });

    function searchMember() {
        var new_tbody = document.createElement('tbody');
        old_tbody = document.getElementById('table')
        new_tbody.setAttribute("id", "table");
        old_tbody.parentNode.replaceChild(new_tbody, old_tbody)
        search = document.getElementById("to-search").innerHTML;
        document.getElementById('load-wrap').style.display = '';
        $.ajax({
            url: "{% url 'commission:get_pple'%}",
            type: "GET",
            data: {
                member: search,
                research_type : 'RESPFORM',
                id_training: {{object.id}}
            },
            success: function(data) {
                document.getElementById('load-wrap').style.display = 'none';
                document.getElementById('error').style.display = 'none';
                if (data.message) {
                    $('#error').html("<div class='alert alert-warning fade in'>" +
                        "</span> <a class='close' data-dismiss='alert' aria-label='close'>&times;</a>" +
                        data.message + "</div>");
                    document.getElementById('error').style.display = '';
                } else {
                    document.getElementById('table-resp').style.display = '';
                    parent_table = document.getElementById('table');
                    var results = 0
                    for (var i = 0; i < data.pple.length; i++) {
                        if (data.pple[i].status === 'Enseignant'){
                            results = 1
                            var tr = document.createElement('tr');
                            tr.appendChild(document.createElement('td'));
                            tr.appendChild(document.createElement('td'));
                            tr.appendChild(document.createElement('td'));
                            tr.appendChild(document.createElement('td'));
                            tr.appendChild(document.createElement('td'));
                            tr.appendChild(document.createElement('td'));
                            tr.cells[0].appendChild(document.createTextNode(data.pple[i].last_name));
                            tr.cells[1].appendChild(document.createTextNode(data.pple[i].first_name));
                            tr.cells[2].appendChild(document.createTextNode(data.pple[i].status));
                            tr.cells[3].appendChild(document.createTextNode(data.pple[i].institute));
                            tr.cells[4].appendChild(document.createTextNode(data.pple[i].mail));
                            tr.cells[5].appendChild(document.createTextNode(data.pple[i].username));
                            tr.cells[2].className += 'hidden';
                            tr.cells[4].className += 'hidden';
                            tr.cells[5].className += 'hidden';
                            tr.className += 'hover-row hit select gen-table'
                            parent_table.appendChild(tr)
                        }
                    };
                    if (!results){
                        var tr = document.createElement('tr');
                        tr.appendChild(document.createElement('td'));
                        tr.cells[0].appendChild(document.createTextNode('{% trans "Aucun résultat" %}'));
                        parent_table.appendChild(tr)

                    }
                    $(".modal").on("hidden.bs.modal", function() {
                        document.getElementById('table-resp').style.display = 'none';
                        document.getElementById("to-search").value = "";
                    });
                    $(".hit").click(function() {
                        $('#selectedMember').modal('show');
                        $('#searchMember').modal('hide');
                        var last_name = $(this).closest('tr').children('td:first');
                        var first_name = $(last_name).next('td');
                        var status = $(first_name).next('td');
                        var institute = $(first_name).next('td').next('td');
                        var mail = $(institute).next('td');
                        var id = $(mail).next('td');
                        document.getElementById('id_email').value = mail.text().replace(/\s+/g, '');
                        document.getElementById('id_username').value = id.text().replace(/\s+/g, '');
                        document.getElementById('id_firstname').value = first_name.text();
                        document.getElementById('id_name').value = last_name.text();
                        document.getElementById('id_cmp').value = institute.text().replace(/\s+/g, '');
                        document.getElementById('span_cmp').textContent = institute.text();
                        document.getElementById('span_name').textContent = last_name.text().toUpperCase();
                        document.getElementById('span_first_name').textContent = first_name.text().replace(/\s+/g, '');
                    });
                }
            }
        })
    }
    {%else%}
    document.getElementById("respformtable").className += " disabled-event";
    document.getElementById("add_respform").className += " hidden disabled-event";
    {%endif%}
    </script>
{%endif%}
