{% load i18n %} {% load groups%}
{% load staticfiles %}

<script src="{% static 'js/srtable.js' %}"></script>

<label style="display: inline-block;width:100%" > {% trans "Composantes" %}<span class="asteriskField">*</span>
    <span class="pull-right">porteuse</span>
</label>
<table class = "table " id='cmpTable'>

   <tbody class="overflow" id='tbodyCmp'>
  {% for e in object.institutes.all%}
  <tr id='row-{{e.id}}'>
     <td style="width: 100%" class='sort-default' >{{e.label}}
     </td>
     <td style="width: 5% " class="td-centered"> <input type="radio" name="supply" value="{{e.code}}" {%if e.code == object.supply_cmp%} checked="checked"{%endif%}>
     </td>
     <td style="width: 5%" class="td-centered">
      <a id="{{e.id}}" class="glyphicon glyphicon-trash select remove-cmp pull-right" onclick="remove_line(this)" ></a>
     </td>
  </tr>
  {%endfor%}

   </tbody>
   <tr >
     <td>
       <select name="select-degreetype" style="width:100%;margin-top:1em;padding:0.5em;" id='select-cmp' >
       <option selected value="default">{% trans "Ajouter une composante" %}</option>
       {% for e in institutes%}
       {% if e not in object.institutes.all or object == null%}
       <option value="{{e.code}}-{{e.id}}">
         {{e.label}}
       </option>
       {%endif%}
       {%endfor%}
     </select>
   </td>
   </tr>
</table>

<style media="screen">
#cmpTable .table{
  width: 22vw;

}
#cmpTable .overflow{
    display:block;
  }
 caption{
  padding-top: 0;
}
#cmpTable td{
  width: 100vw;
}
.table>tbody>tr>td {
  padding: 0.2em;
}
</style>
<script type="text/javascript">
var sort = new Tablesort(document.getElementById('cmpTable'));

{% if request.user|has_group:'DES1' or request.user.is_superuser or request.user.meccuser|is_profile:'RAC' or request.user.meccuser|is_profile:'DIRCOMP' or request.user.meccuser|is_profile:'GESCOL' or request.user.meccuser|is_profile:'REFAPP' or request.user.meccuser|is_profile:'DIRETU' %}

var institute_val = $('#id_institutes').val() === null ? [] : $('#id_institutes').val();

function remove_line(e) {
    if (e != null){
        var x = document.getElementById("select-cmp");

        var s_tr = $(e).parents('tr');
        var s_code = s_tr.text().trim()
        var s_value = s_tr.get(0).id.split("-")[1].trim();

        $(e).parents('tr').detach();
        var opt = document.createElement('option');
        opt.value = s_value;
        opt.innerHTML = s_code;
        x.appendChild(opt)
        var trs = document.getElementById('tbodyCmp').getElementsByTagName("tr");
        var idArr = [];
        for(var i=0;i<trs.length;i++){
            v = trs[i].id.replace(/\s/g, '').split("-")[1];
            idArr.push(v);
        };
        institute_val = idArr;
        $('#id_institutes').val(institute_val);
    }
}
function set_suppply(){
    $("input[name = 'supply']").on('click', function() {
        document.getElementById('id_supply_cmp').value = this.value
    })
}

$('#select-cmp').on('change', function() {
    var x = document.getElementById("select-cmp");
    var parts = this.value.split('-', 2);
    var label = this.options[this.selectedIndex].innerHTML;
    if (this.value != "default") {
        x.remove(x.selectedIndex);
        var tbody = document.getElementById('tbodyCmp');
        var row = tbody.insertRow(0);
        var cmp = parts[0]
        var val = parts[1]
        row.id = 'row-' + val
        row.className += 'bold italic'
        var cell1 = row.insertCell(0);
        cell1.style.width = '100%'
        cell1.innerHTML = label;
        var cell2 = row.insertCell(1);
        cell2.className += 'td-centered'
        cell2.style.width = '5%'
        cell2.innerHTML = '<input type="radio" name="supply" value="' + cmp + '">';
        var cell3 = row.insertCell(2);
        cell3.className += 'td-centered'
        cell3.style.width = '5%'
        cell3.innerHTML = '<a id=" ' + val + '" class="glyphicon glyphicon-trash select remove-cmp pull-right" onclick="remove_line(this)" ></a>';
        institute_val.push(val);
        $('#id_institutes').val(institute_val)
        set_suppply()
    }
    sort.refresh()
});
{% if request.session.visited_cmp_id and not object%}
    var _id = '{{request.session.visited_cmp}}'+'-'+'{{request.session.visited_cmp_id}}'
    var label = '{{request.session.visited_cmp_label}}'
    var parts = _id.split('-', 2);
    $("#select-cmp option[value='"+_id+"']").remove();
    var tbody = document.getElementById('tbodyCmp');
        var row = tbody.insertRow(0);
        var cmp = parts[0]
        var val = parts[1]
        row.id = 'row-' + val
        var cell1 = row.insertCell(0);
        cell1.style.width = '100%'
        cell1.innerHTML = label;
        var cell2 = row.insertCell(1);
        cell2.className += 'td-centered'
        cell2.style.width = '5%'
        cell2.innerHTML = '<input type="radio" name="supply" value="' + cmp + '" checked="true">';
        var cell3 = row.insertCell(2);
        cell3.className += 'td-centered'
        cell3.style.width = '5%'
        cell3.innerHTML = '<a id=" ' + val + '" class="glyphicon glyphicon-trash select remove-cmp pull-right" onclick="remove_line(this)" ></a>';
        institute_val.push(val);
        $('#id_institutes').val(institute_val);
        document.getElementById('id_supply_cmp').value = cmp;
{%endif%}
set_suppply()
remove_line();



{%else%}
document.getElementById("select-cmp").disabled = true;
document.getElementById("cmpTable").className += " disabled-event";

{%endif%}
</script>
