{% load i18n %}
<label style="display: inline-block;width:75%" > {% trans "Composantes" %}<span class="asteriskField">*</span>
</label>
<table class = "table table-striped" style="white-space: nowrap" id='degreeTable'>
      <tr>
        <td>
          <select name="select-degreetype" style="width:100%" id='select-cmp'>
          <option selected value="default">{% trans "Ajouter une composante" %}</option>
          {% for e in institutes%}
          <option value="{{e.id}}">
            {{e.label}}
          </option>
          {%endfor%}
        </select>
      </td>
      </tr>
   <tbody class="overflow" id='tbodyCmp'>
  {% for e in object.institutes.all%}
  <tr id='row-{{e.id}}'>
     <td width=95%>{{e}}
     </td>
     <td width=5% >
      <a id="{{e.id}}" class="glyphicon glyphicon-trash select" onclick="delete_degreetype(this.id);"></a>
     </td>
  </tr>
  {%endfor%}

   </tbody>

</table>

<style media="screen">
#degreeTable .table{
  width: 22vw;

}
#degreeTable .overflow{
    overflow: auto;
    height: 77px;
    display:block;
  }
 caption{
  padding-top: 0;
}
#degreeTable td{
  width: 100vw;
}
.table>tbody>tr>td {
  padding: 0.2em;
}
</style>

<script type="text/javascript">
function delete_degreetype(id){
  var x = document.getElementById("selectDegree");

    //   success: function(data){
    //     var opt = document.createElement('option');
    //     opt.value = data.degree_id;
    //     opt.innerHTML = data.degree;
    //     x.appendChild(opt);
    //     var rowId = 'row-' + data.degree_id;
    //     var row = document.getElementById(rowId);
    //     row.parentNode.removeChild(row);
    //   }
  // });
}

$('#select-cmp').on('change', function() {
    var x = document.getElementById("select-cmp");
    var val = this.value;
    var label = this.options[this.selectedIndex].innerHTML;
    if (val != "default"){
        console.log(val);
        x.remove(x.selectedIndex);
        var tbody = document.getElementById('tbodyCmp');
        var row = tbody.insertRow(0);
        row.id = 'row-' + val
        var cell1 = row.insertCell(0);
        cell1.style.width = '100%'
        var cell2 = row.insertCell(1);
        cell1.innerHTML = label;
        cell2.innerHTML =   '<a id=" '+ val +'" class="glyphicon glyphicon-trash select" onclick="delete_degreetype(this.id);"></a>';
    }
    //     success: function(data) {

    //
    // };
});
</script>
