{% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% load staticfiles %}{% load crispy_forms_tags %}

{% block page-header %} {% trans 'Fiche Formation' %} {% endblock %}

{% block app_content %}

<ul class="nav nav-tabs" style="margin-bottom:1em">
    <li><a href="{%if training%}{% url 'training:edit' training.pk%}{%else%}#{%endif%}">{% trans "Général" %}</a></li>
    <li class="active"><a href="{%if training%}{% url 'training:edit_rules' training.pk%}{%else%}#{%endif%}">{% trans "Règles" %}</a></li>
    <li><a href="#">{% trans "Tableau MECC" %}</a></li>
</ul>
<h2 class="title-modal" style="font-weight: bold;">
    {{title}}
</h2>
<div class="disp-flex dir-col has-bottom-border">
    <div class=" parent disp-flex ">
        <div class="item-80 dir-col">
            <div class="">
                {% trans "Intitulé de la formation:"%}
            </div>
            <div class="">
                <strong>{{training.label}}</strong>
            </div>
        </div>
        <div class="item-20 disabled dir-col">
            <div >
                {% trans "En service:"%} {%if training.is_used%} ☑ {%else%} ☐{%endif%}
            </div>
            <div >
                {% trans "Régime:"%} {{training.get_MECC_type_display}}
            </div>
            <div >
                {{training.get_session_type_display}}
            </div>
        </div>
    </div>
    <div class="item-80 disp-flex" style="margin-bottom:1em;">

        <div class="item-35">
            {% trans "Année universitaire : " %} {{rule.code_year}}/{{rule.code_year|add:'1'}}
        </div>
        <div class="item-45 bold">
            {{rule.label}}
        </div>
    </div>
    <div class="item-100 disp-flex disabled" style="margin-bottom:1em;">

        <div class="item-20 disp-flex margin-left6">
            {% trans "Alinéa n°" %} {{paragraph.display_order}} <br> {% trans "standard" %}
        </div>
        <div id ="text_standard">
            {{paragraph.text_standard | safe}}
        </div>
    </div>
</div>
<div class="training-rules">
    <h2 class="title-block" style="font-weight: bold;">
        {%if training.is_interaction%}{% trans "Dérogation" %}{% endif %}
    </h2>
    <div class="margin-top">
        {%crispy form%}
    </div>
<script type="text/javascript">

$('#submit-id-add').on('click', function(event) {
    var proceed = true;
    if (typeof CKEDITOR.instances.id_text_motiv !== 'undefined') {
        if (CKEDITOR.instances.id_text_motiv.getData() == ''){
            $("#div_id_text_motiv").addClass("all-in-red");
            proceed = false;
        }else{
            $("#div_id_text_motiv").removeClass("all-in-red")
        }
    }
    if (!proceed) {
        event.preventDefault();
    }


});
</script>
{%endblock%}
