{% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% load staticfiles %}{% load crispy_forms_tags %}{% load groups %}

{% block page-header %} {% trans 'Fiche Formation' %} {% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
            {%if request.session.visited_cmp in "RESPFORM, RESPENS"%}
            {% if request.session.visited_cmp == "RESPFORM" %}
            <li><a href="{% url 'training:list_resp' %}">{% trans "Mes formations" %}</a></li>
            {% else %}
            <li><a href="{% url 'training:my_teachings' %}">{% trans "Mes enseignements" %}</a></li>
            {% endif %}
        {%else%}
            <li>
                <a href="{% if request.user|has_group:'DES1' or request.user.is_superuser %}{% url 'training:list_all'%}
                {% else %}{%url 'training:list' request.user.meccuser.cmp%}
                {%endif%}">{% trans "Offre de formation" %}</a>
            </li>
            <li> <a href="{% url 'training:list' request.session.visited_cmp %}">{{request.session.visited_cmp_label}}</a></li>

        {%endif%}
            <li><a href="{% url 'training:edit_rules' id=training.id %}">
                {{training.label}}</a>
            </li>
            <li>
                <a href="{% url 'training:specific_paragraph' training.id rule.id%}">
                {{rule.label}}
                </a>
            </li>
            <li class="active">
                {% trans "Edition" %}
            </li>

    </ol>
{% endblock %}

{% block app_content %}

<ul class="nav nav-tabs" style="margin-bottom:1em">
    <li><a href="{%if training%}{% url 'training:edit' training.pk%}{%else%}#{%endif%}">{% trans "Général" %}</a></li>
    <li class="active"><a href="{%if training%}{% url 'training:edit_rules' training.pk%}{%else%}#{%endif%}">{% trans "Règles" %}</a></li>
    <li><a href={%if training.MECC_tab%}"{% url 'mecctable:mecctable_home' training.id%}" {%else%}"#" class="disabled"{%endif%}>{% trans "Tableau MECC" %}</a></li>

</ul>
<h2 class="title-modal" style="font-weight: bold;">
    {{title}}
</h2>
<div class="disp-flex dir-col has-bottom-border">
    <div class=" parent disp-flex ">
        <div class="item-80 dir-col">
            <div class="">
                {% trans "Intitulé de la formation:"%}
            </div>
            <div class="">
                <strong>{{training.label}}</strong>
            </div>
        </div>
        <div class="item-20 disabled dir-col">
            <div >
                {% trans "En service:"%} {%if training.is_used%} ☑ {%else%} ☐{%endif%}
            </div>
            <div >
                {% trans "Régime:"%} {{training.get_MECC_type_display}}
            </div>
            <div >
                {{training.get_session_type_display}}
            </div>
        </div>
    </div>
    <div class="item-80 disp-flex" style="margin-bottom:1em;">

        <div class="item-35">
            {% trans "Année universitaire : " %} {{rule.code_year}}/{{rule.code_year|add:'1'}}
        </div>
        <div class="item-45 bold">
            {{rule.label}}
        </div>
    </div>
    {% if not additional %}
    <div class="item-100 disp-flex disabled" style="margin-bottom:1em;">

        <div class="item-20 disp-flex margin-left6">
            {% trans "Alinéa n°" %} {{paragraph.id}} <br> {% trans "standard" %}
        </div>
        <div id ="text_standard">
            {{paragraph.text_standard | safe}}
        </div>
    </div>
    {% endif %}
</div>
<div class="training-rules">
    <br />
    <div class="margin-top">
        {% if can_apply_to_others %}
        <ul class="nav nav-tabs" id="specific-form">
            <li class="active"><a href="#one"><b>ETAPE 1 :</b> Saisie de la dérogation</a></li>
            <li><a href="#two"><b>ETAPE 2 :</b> Appliquer à d'autres formations</a></li>
        </ul>
        {% endif %}
        <form action="#" method="POST" id="form">
            {% if can_apply_to_others %}
            <div class="tab-content">
                <div class="tab-pane active" id="one">
                    {% if specific_form %}
                        {% crispy specific_form %}
                    {% else %}
                        {% crispy add_form %}
                    {% endif %}
                    <div class="buttons_list">
                        <button type="button" class="btn btn-sm btn-primary" id="abort">Annuler et fermer la fenêtre</button>
                        <button type="button" class="btn btn-sm btn-primary btnNext">Etape 2 <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></button>
                    </div>
                </div>
                <div class="tab-pane" id="two">
                    {% crispy extra_trainings_form %}
                    <div class="buttons_list">
                        <button type="button" class="btn btn-sm btn-primary btnPrevious"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Etape 1</button>
                        <button type="button" class="btn btn-sm btn-primary" id="abort">Annuler et fermer la fenêtre</button>
                        <button type="submit" class="btn btn-sm btn-primary">Valider et fermer la fenêtre</button>
                    </div>
                </div>
            </div>
            {% else %}
                {% if specific_form %}
                    {% crispy specific_form %}
                {% else %}
                    {% crispy add_form %}
                {% endif %}
                <div class="buttons_list">
                    <button type="button" class="btn btn-sm btn-primary" id="abort">Annuler et fermer la fenêtre</button>
                    <button type="submit" class="btn btn-sm btn-primary">Valider et fermer la fenêtre</button>
                </div>
            {% endif %}
        </form>
    </div>

<script type="text/javascript">
// Afficher l'onglet suivant en cliquant sur le bouton suivant
$('.btnNext').click(function(){
    $('.nav-tabs > .active + li a').trigger('click');
    $(".nav-tabs + .tab-content").find(":input:visible:first").focus();
});
// Afficher l'onglet précédent en cliquant sur le bouton précédent
$('.btnPrevious').click(function(){
    $('.nav-tabs > .active').prev('li').find('a').trigger('click');
    $(".nav-tabs + .tab-content").find(":input:visible:first").focus();
});

$('form').submit(function (event) {
    var proceed = true;
    if(CKEDITOR.instances['id_spe-text_motiv'].getData() == '') {
        $("#div_id_spe-text_motiv").addClass("all-in-red");
        console.log("NO TEXT_MOTIV");
        $('.nav-tabs a[href="#one"]').tab('show');
        proceed = false;
    }else{
        $("#div_id_spe-text_motiv").removeClass("all-in-red");
    }
    if(!proceed){
        event.preventDefault();
    }
});

$('#specific-form a').click(function (e) {
	e.preventDefault();
    $(this).tab('show');
});

</script>
{%endblock%}
