{% load i18n %}

<!-- Modal -->
  <div class="modal fade fade" id="addMember" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{% trans "Add a member" %}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
          <label for="num-student">{% trans "Member ID" %}</label>
              <input type="text" class="form-control" placeholder="{% trans 'Member ID' %}" id="id_member" onKeyPress="if (event.keyCode == 13) searchMember()">
         </div>
            <a class="btn btn-default" onclick="searchMember();" style="width:120px">{% trans 'Search' %}
              <span class="glyphicon glyphicon-refresh glyphicon-spin" style='display:none' id='spin'></span>
           </a>
          <span id='error'></span>
        </br>
      </div>
      <div class="modal-footer" style="display:none" id="confirm">
        lolilol
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">

  function searchMember(){
    document.getElementById('spin').style.display = '';
    console.log('........');
  }



</script>
