{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}

{% crispy form %}

{% load field_name %}

<div class="container">
      <div class="row row-offcanvas row-offcanvas-left">


<div class="col-xs-12 col-sm-9">

{% if commission_staff %}


<table class="table table-bordered">
  <tr class='table-head'>
    <th> {% get_field_name commission_staff.0 'id_member' %}</th>
    <th>{% get_field_name commission_staff.0 'name' %}</th>
    <th>{% get_field_name commission_staff.0 'firstname' %}</th>
    <th>{% get_field_name commission_staff.0 'member_type' %}</th>
  </tr>
    {% for e in commission_staff %}
  <tr class="hover-row">
    <td>{{e.id_member}}</td>
    <td>{{e.name}}</td>
    <td>{{e.firstname}}</td>
    <td>{{e.member_type}}</td>
    <td>
      <a href="" class="glyphicon glyphicon-trash" id="{{e.id_member}}" onclick="fillModal(this, this.id);" data-toggle="modal" data-target="#deleteMember"></a>
    </td>
  </tr>
    {% endfor %}
</table>

{% else %}
No one is here...
</br>

</div>
</div>
</div>
{% endif %}

<a data-toggle="modal" data-target="#addMember" class="glyphicon glyphicon-plus btn btn-link">{% trans 'Add a member' %}</a>

{% include "commission/add_member.html" %}
{% include "commission/delete_member.html" %}
{% endblock %}
