{% extends "base.html" %}


{% load i18n %}

{% block page-header %}
{{title}}

{% endblock %}

{% block content %}


	<input type="search" class="table-filter" data-table="order-table" placeholder="{% trans 'Filter' %}">

  <table class="table results order-table">
    <thead>
    <tr class='table-head'>
      <th> {% trans 'Member id' %}</th>
      <th> {% trans 'First name' %}</th>
      <th> {% trans 'Last name' %}</th>
      <th> {% trans 'Mail' %}</th>
    </tr>
    </thead>

{% for e in liste %}

    <tr class="hover-row hit" >
      <td>
      {{e.id_member}}
      </td>
      <td>
      {{e.first_name}}
      </td>
      <td>
      {{e.last_name}}
      </td>
      <td>
        {% for m in e.mail %}
        {% if not forloop.first %} | {% endif %}<span>{{m}}</span>
        {% endfor %}
      </td>



    </tr>


{% endfor %}
  </table>
  <script type="text/javascript">

  (function(document) {
	'use strict';

	var LightTableFilter = (function(Arr) {

		var _input;

		function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}

		function _filter(row) {
			var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('table-filter');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter.init();
		}
	});

})(document);

$(".hit").click(function(){
   var value=$(this).closest('tr').children('td:first').text();
console.log(value);});
  </script>
{% endblock %}
