{% load i18n %}
{% load dipstrapfiles %}
{% load crispy_forms_tags %}
{% load staticfiles %}


<div class=" fade modal" id="send_mail" role="dialog" style="z-index: 1400;">
    <div class="modal-dialog modal-90">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title">{% trans "Envoyer un mail" %}</h1>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'commission:send_mail'%}">
                    {% csrf_token %}
                    <input type="text" name="subject" id="mail-title" placeholder="Sujet"class="form-control"></input>
                    <textarea name="body" rows="8"class="form-control has-1em-margin-top" placeholder="Message de notification"></textarea>
                    <button class="btn btn-primary has-1em-margin-top">{% trans "Envoyer" %}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style media="screen">
    .modal-content, #mail-title{
        width: 100%
    }
</style>
