{% extends 'base.html' %}
{% load i18n %}
{% load field_name %}
{% load staticfiles %}

{% load staticfiles %}


{% block page-header %}
{% trans 'Duplication des règles générales vers l’année ' %} {{current_year}}
{% endblock %}
{% block app_content %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>

{%if rules%}
<div class="disp-flex">

<table id='table-draggable1' class="duplicate-table">
    <thead class="thead">
    <tr>
        <th width=10%>{%trans 'Source'%}</th>
        <th width=15%>{%trans 'N° règle'%}</th>
        <th width=65%>{%trans 'Libellé de règle'%}</th>
        <th width=10%>{%trans 'N° Aff'%}</th>
    </tr>
    </thead>
<tbody class="connectedSortable tbody">
    {%for e in rules%}
    <tr class="hover-row select">
        <td width=10%>{{e.code_year}}</td>
        <td width=15%>{{e.id | stringformat:"05d"}}</td>
        <td width=65%>{{e.label}}</td>
        <td width=10%>{{e.display_order|stringformat:"03d"}}</td>
    </tr>
    {%endfor%}
{%endif%}
</tbody>
</table>
{%if rules%}
<table id='table-draggable2' class="duplicate-table">
    <thead>
    <tr>
        <th width=10%>{%trans 'Source'%}</th>
        <th width=15%>{%trans 'N° règle'%}</th>
        <th width=65%>{%trans 'Libellé de règle'%}</th>
        <th width=10%>{%trans 'N° Aff'%}</th>
    </tr>
    </thead>
<tbody class="connectedSortable tbody">
    <tr class="hover-row select">
        <td></td>
    </tr>

    {%for e in existing_rules%}
    <tr class="hover-row select">
        <td width=10%>{{e.code_year}}</td>
        <td width=15%>{{e.id}}</td>
        <td width=65%>{{e.label}}</td>
        <td width=10%>{{e.display_order}}</td>
    </tr>
    {%endfor%}
{%endif%}
</tbody>
</table>
</div>
<script type="text/javascript">
$(document).ready(function() {

var $tabs=$('#table-draggable2')
          $("tbody.connectedSortable")    .sortable({
        connectWith: ".connectedSortable",
        items: "> tr:not(:first)",
        appendTo: $tabs,
        helper:"clone",
        zIndex: 999990
    })
    .disableSelection()
;

var $tab_items = $( ".nav-tabs > li", $tabs ).droppable({
  accept: ".connectedSortable tr",
  hoverClass: "ui-state-hover",

  drop: function( event, ui ) {
    return false;
  }
});

});
</script>
{% endblock %}
