{% extends 'base.html' %}

{% load i18n %}
{% load field_name %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load dipstrapfiles %}

{% block page-header %}
{% trans "Fiche détaillée d'un alinéa de règle générale" %}
{% endblock %}


    <script src="{% dipstrap 'js/vendor/jquery-1.11.0.min.js' %}"></script>


{% block app_content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/rules.css' %}" />
<!--- Rule recap--->
<div class="has-bottom-border disabled">
<div class="parent ">
  <div class="item item-3 grey-font"> <label >ID règle <small>(auto)</small> : </label> <span id="rule_id"> {{rule.id}}</span> </div>
  <div class="item item-3 grey-font"> <label >{% trans "Année universitaire :" %}</label> <span id="rule_date"> {{current_year}} </span> </div>
  <div class="item">
      <div class="form-group">
          <div id="div_id_is_in_use" class="checkbox"> <label for="id_is_in_use" class=""> <input disabled {% if rule.is_in_use%}checked{%endif%} class="checkboxinput" id="id_is_in_use" name="is_in_use" type="checkbox" />
            {% trans "En service" %}
              </label> </div>
      </div>
  </div>
</div>
<div class="parent ">
  <div class="item-100">
      <div id="div_id_label" class="form-group">
        <label for="id_label" class="control-label  requiredField"  style="width:17%">
              {% trans "Libellé de règle" %}
        </label>
          <div class="controls "> <input class="textinput textInput form-control" id="id_label" name="label" disabled value="{{rule.label}}" /> </div>
      </div>
  </div>
</div>
</div>
<!--- Rule recap--->
<form method="post" id="paragraph_form">
{%crispy paragraph_form%}
</form>
{{form.non_field_errors}}
<script type="text/javascript">
if (document.getElementById("id_is_interaction").checked){
  $("#text_derog").removeClass("disabled-event");
  if(!document.getElementById('id_is_cmp').checked){
    $("#text_motiv").removeClass("disabled-event");
  }

}
$('#id_is_cmp').on('change', function() {
    if (this.checked) {
      document.getElementById("id_is_interaction").checked = true;
      $("#div_id_impact").parent().removeClass("disabled-event");
      $("#text_derog").removeClass("disabled-event");
      $("#text_motiv").addClass("disabled-event");
      CKEDITOR.instances.id_text_motiv.setData('')

    } else {
      document.getElementById("id_is_interaction").checked = false;
      $("#text_motiv").addClass("disabled-event");
      CKEDITOR.instances.id_text_motiv.setData('')

      $("#div_id_impact").parent().addClass("disabled-event");
      $("#text_derog").addClass("disabled-event");
      CKEDITOR.instances.id_text_derog.setData('')


    }
})
$('#id_is_interaction').on('change', function() {
  if (document.getElementById("id_is_cmp").checked){
    this.checked = true;
    return
  }
  if (this.checked){
    $("#text_motiv").removeClass("disabled-event");
    $("#text_derog").removeClass("disabled-event");
    $("#div_id_impact").parent().removeClass("disabled-event");
  } else {
    $("#div_id_impact").parent().addClass("disabled-event");
    $("#text_motiv").addClass("disabled-event");
    $("#text_derog").addClass("disabled-event");
    CKEDITOR.instances.id_text_derog.setData('')
    CKEDITOR.instances.id_text_motiv.setData('')
  }

});

$('#submit-id-add').on('click', function(event) {
  var proceed = true;
  if (CKEDITOR.instances.id_text_standard.getData() == ''){
    event.preventDefault();
    $("#div_id_text_standard").addClass("all-in-red");
    proceed = false;
}else{
  $("#div_id_text_standard").removeClass("all-in-red")
}

  if (document.getElementById('id_is_interaction').checked ){
      console.log(CKEDITOR.instances.id_text_derog.getData())
    if(CKEDITOR.instances.id_text_derog.getData() == ''){
      console.log('here')
      event.preventDefault();
      $("#text_derog").addClass("all-in-red");
      proceed = false;
    }else {
      $("#text_derog").removeClass("all-in-red");
    }
  }

  if(!document.getElementById('id_is_cmp').checked && document.getElementById('id_is_interaction').checked ){
    if(CKEDITOR.instances.id_text_motiv.getData() == ''){
    event.preventDefault();
    $("#text_motiv").addClass("all-in-red");
    proceed = false;
  }else{
    $("#text_motiv").removeClass("all-in-red")
  }
  }
  if (proceed === true){
    document.getElementById('paragraph_form').submit()
  }


});


</script>

{%endblock%}
