{% load i18n %}

<!-- Modal -->
<div class="modal fade fade" id="select_degreetype" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{% trans "Selection du type de diplôme " %}</h4>
            </div>
            <div class="modal-body">
                <span style="margin-bottom:0.2em">{% trans "Veuillez sélectionner un type de diplôme : " %}</span>
                  <select id="select-degreetype" name="">
                    {%for e in degree_types%}
                        {% if "CATALOGUE" not in e.short_label%}
                    <option value="{{e.id}}">{{e.short_label}}</option>
                        {%endif%}
                    {%endfor%}
                  </select>
            </div>
            <div class="modal-footer" style="padding-bottom:1em">
                    <a onclick='go_gen_pdf()' class="btn btn-primary" >{% trans "Valider" %}</a>
                    <button class="btn-default btn" data-dismiss="modal" aria-hidden="true">{% trans "Annuler" %}</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function go_gen_pdf(){
var e = document.getElementById("select-degreetype");
  var degree_type = e.options[e.selectedIndex].value;
  window.open('/rules/gen_pdf/' + degree_type + '/' + {{asked_year}}, '_blank').focus()
}

</script>
