{% load i18n %}
{% load dipstrapfiles %}
{% load crispy_forms_tags %}
{% load staticfiles %}


<div class="modal fade" id="preview" role="dialog" style="z-index: 1400;">
    <div class="modal-dialog modal-90">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal"> &times;</button>
                <div class="title-modal" style='margin-left:2em;' >
                  <div class="flex-container-preview">
                  <h1 style="font-size:1.5em; display:inline;margin-bottom:0" class="blue">{{form.label.value}}</h1>
                </div>
                <div class="flex-container-preview">
                  <span class="blue" style="width:20%">{% trans "Règle id auto" %} <small>{{latest_id}}</small></span>
                </div>
                <div class="flex-container-preview" style="margin-top:1em;" >
                <div class="flex-container-preview" style="width:50%;">
                  <span>
                    {%if form.is_eci.value %} &#9745; {%else%} &#9744;{%endif%} ECI &nbsp;&nbsp;&nbsp;

                    {%if form.is_ccct.value %} &#9745; {%else%} &#9744;{%endif%} CC/CT
                  </span>
                  <span >
                     {% if form.is_edited.value == 'X'%} {% trans "NOUVELLE " %} {%elif form.is_edited.value == "O"%} {% trans "Modifiée " %} {% else %}{%endif%}
                  </span>
                </div>
                <div class="flex-container-preview" style="width:50%;margin-right:3em;flex-direction: row-reverse">
                <div>
                  <span{%if form.is_in_use.value%}>{% trans "En service" %}{%else%} class="red">{% trans "Hors service" %}{%endif%}</span>
                </div>
              </div>
                </div>
              </div>
            </div>
            <div class="modal-body">
              <!--- MODAL BODY-->
              <h2 style="font-size:1.1em;margin:  0 0 1.5em 2em ">{% trans "Types de diplôme concernés :" %}</h2>

              <div style="margin-left:3em;margin-right:3em">
              <ul {%if rule_degreetype|length > 6%} class="ul-2"{%endif%}>
                {% for e in rule_degreetype%}
                <li>{{e}}</li>
                {%endfor%}
              </ul>
            </div>
            <hr>
            <h2 style="font-size:1.1em;margin-left:2em;margin-bottom:1em ">{% trans "ALINÉAS :" %}</h2>
            <div style="margin-left:1em;margin-right:1em">



            {% for e in paragraphs %}

              <div class ="paragraphs flex-container">
                    <span class="blue" style="align-self:flex-start;width:5%;" >{{e.id |stringformat:"02d"}}|</span>
                <div style="margin-bottom:1em;width:82%;">

                  <span style="align-self:flex-start;">
                {{ e.text_standard | safe }}
                  </span>

                <div class ="blue" style="margin-top:0.5em;padding-left:2em;">
                {% if e.is_interaction %}
                {% if e.is_cmp %}
                  {% trans "Interaction type alinéa de composante" %}
                {%else%}
                  {% trans "Interaction type dérogation" %}
                {% endif %}
                {%endif%}
                    {%if e.impact.all > 0%}
                    | {{e.impact}}
                    {%endif%}
                  </div>
                <ul>
                {%if e.text_derog %}
                <li><h3 style="font-size:1em;margin-top:0.5em;margin-bottom:0.5em " class="grey-font">{% trans "Texte consigne règle dérogatoire (ou de composante)" %}</h3>
                {{ e.text_derog | safe }}</li>
                {%endif%}
                {%if e.text_motiv%}
                <li><h3 style="font-size:1em;margin-top:0.5em;margin-bottom:0.5em " class="grey-font">{% trans "Texte consigne motivations" %}</h3>
                {{ e.text_motiv | safe }}</li>
                {%endif%}
              </ul>
              </div>
              <span style="text-align:right;width:13%;" class="{% if e.is_in_use %}blue">{% trans "En service" %}{%else%}red">{% trans "Hors service" %}{% endif %}</span>

            </div>
            {% endfor %}
              <!-- END MODAL BODY -->
            </div>
        </div>
    </div>
</div>

<style media="screen">
.other-text{
  margin-left: 2em;
}
.ul-2 {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.flex-right-container{

display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}
.flex-container-preview {
  display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }


</style>
