{% extends 'base.html' %}

{% load i18n %}
{% load field_name %}
{% load staticfiles %}

{% block page-header %}
{% trans 'Règles générales' %}
{% endblock %}


{% block app_content %}
<script src="{% static 'js/srtable.js' %}"></script>
<div class="table_list">
  {% if object_list %}
  <table class="table" id="rule-table">
    <thead>
     <tr>

        <th width="5%"style="color:grey" class="td-center">{% trans 'ID règle (auto)' %}</th>
        <th width="33%">{% trans "Libellé de règle" %}</th>
        <th width="6%" class='sort-default'>{% trans 'N° Aff' %}</th>
        <th width="10%"> </th>
        <th width="11%"></th>
        <th width="11%"></th>
        <th width="11%"></th>
        <th width="11%"></th>
        <th width="5%"></th>
     </tr>
   </thead>
   <tbody class="overflow" >
  {%for e in object_list%}

  <tr class="hover-row">
     <td class='disabled td-centered' width="5%">{{e.id}}</td>
     <td><a href="{% url 'rules:rule_edit' id=e.id %}" width="33%">{{e.label}}</a></td>
     <td width="6%" class="td-centered"> <strong> <input  value='{{e.display_order}}' id='display-{{e.id}}' class="display-order"> <span hidden id='hidden-display-{{e.id}}'> {{e.display_order}}</span></input></strong></td>
     <td width="10%" class="td-centered "> <span class='red'>{% if e.is_empyt%}(vide) {%endif%}</span></td>
     <td width="11%" class="td-centered">{%if not e.is_in_use%}Hors service{%endif%}</td>
     <td width="11%" class="td-centered">{% if e.is_edited == 'O'%}<span class="blue">{% trans "Modifiée" %}</span>{%elif e.is_edited == 'X'%}<span class="blue">{% trans "Nouvelle" %}</span>{%endif%}</td>
     <td width="11%" class="td-centered">{% if e.is_eci%} ECI {%else%}{%endif%}</td>
     <td width="11%" class="td-centered">{% if e.is_ccct%} CC/CT {%else%}{%endif%}</td>
      <td width="5%" >
        <a href="{% url 'rules:rule_delete' id=e.id %}" class="glyphicon glyphicon-trash pull-right"></a>
      </td>
  </tr>
  {% endfor %}
</tbody>
</table>

   </table>
{% endif %}
</div>
<div class="buttons_list">
<a href="" class="btn-primary btn btn-sm btn-1">{% trans "Dupliquer les règles générales des années précédentes" %}</a>
<a href="{% url 'rules:new'%}" class="btn-primary btn btn-sm">{% trans "Créer une nouvelle règle" %}</a>
<a href="" class="btn-primary btn btn-sm">{% trans "Générer pdf des règles de l'année" %}</a>
<a href="" class="btn-primary btn btn-sm" >{% trans "Historique Règles générales" %}</a>
</div>

<style media="screen">

  span.red{
    color: red;
  }
  .display-order{
      background: transparent;
      border: none;
      width: 100%;
      text-align: center;
  }
  .display-order:focus, .display-order:hover{
    border: solid;
    border-color: #358CD3;
    border-width: 0.1em;
  }
.buttons_list{
  text-align: center;
  width: 100%;
}
.table_list{
  border-bottom-style: solid;
  border-bottom-color: #358CD3;
  max-height: 75vh;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom-width: 0.15em;
  -webkit-box-shadow: 0 10px 5px -9px #888888;
          box-shadow: 0 10px 5px -9px #888888;
}
table {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}
table thead {
  /* head takes the height it requires,
  and it's not scaled when table is resized */
  flex: 0 0 auto;
  width: calc(100% - 0.9em);
}
table tbody {
  /* body takes all the remaining available space */
  flex: 1 1 auto;
  display: block;
  overflow: auto;
  max-height: 65vh;

}
table tbody tr {
  width: 100%;
}
table thead,
table tbody tr {
  display: table;
  table-layout: fixed;
}
</style>

<script>

var sort = new Tablesort(document.getElementById('rule-table'));

$('.display-order').on('change', function() {
  var _input = this
  var rule_id = this.id.replace('display-', '');
  var hidden_id = 'hidden-display-' + rule_id;
  var hidden_span = document.getElementById(hidden_id);
  var display_order = this.value;
  $.ajax({
      url: "{% url 'rules:update_display_order'%}",
      type: "POST",
      data: {
          'type': 'rule',
          _id: rule_id,
          display_order: display_order,
          csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data){
        hidden_span.innerHTML = data.display_order
        _input.value = data.display_order
        sort.refresh();

      }
  });
});

</script>
{% endblock %}
