{% extends 'base.html' %}

{% load i18n %}
{% load field_name %}

{% block page-header %}
{% trans 'Règles générales' %}
{% endblock %}


{% block app_content %}
<div class="table_list">
  {% if object_list %}
     <tr class='table-head'>

  <table class="table ">
        <th width="10%">{% trans 'N° de règle' %}</th>
        <th  width="35%">{% trans "Libellé de règle" %}</th>
        <th width="10%">{% trans 'N° Aff' %}</th>
        <th width="10%"></th>
        <th width="10%"></th>
        <th width="10%"></th>
        <th width="10%"></th>
        <th width="5%"></th>
     </tr>
   </table>
       <div class="overflow">
   <table class="table">
  {%for e in object_list%}

  <tr class="hover-row">
     <td class='font-color-grey' width="10%">{{e.id}}</td>
     <td><a href="{% url 'rules:rule_edit' id=e.id %}" width="35%">{{e.label}}</a></td>
     <td width="10%"> <strong>{{e.display_order}}</strong></td>
     <td width="10%">{%if not e.is_in_use%}Hors service{%endif%}</td>
     <td width="10%">{% if e.is_edited == 'O'%}<span class="red"><strong>modifiée</strong></span>{%else%}{%endif%}</td>
     <td width="10%">{% if e.is_eci%} ECI {%else%}{%endif%}</td>
     <td width="10%">{% if e.is_ccct%} CC/CT {%else%}{%endif%}</td>
      <td width="5%">
        <a href="{% url 'rules:rule_delete' id=e.id %}" class="glyphicon glyphicon-trash pull-right"></a>
      </td>
  </tr>
  {% endfor %}
</table>
</div>

   </table>
{% endif %}
</div>
<div class="buttons_list">
<a href="" class="btn-primary btn btn-sm btn-1">{% trans "Dupliquer les règles générales des années précédentes" %}</a>
<a href="{% url 'rules:new'%}" class="btn-primary btn btn-sm">{% trans "Créer une nouvelle règle" %}</a>
<a href="" class="btn-primary btn btn-sm">{% trans "Générer pdf des règles de l'année" %}</a>
<a href="" class="btn-primary btn btn-sm" >{% trans "Historique Règles générales" %}</a>
</div>

<style media="screen">

  .buttons_list{
    text-align: center;
    width: 100%;
  }
  .table_list{
    border-bottom-style: solid;
    border-bottom-color: #358CD3;
    height: 77vh;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom-width: 0.15em;
    -webkit-box-shadow: 0 10px 5px -9px #888888;
            box-shadow: 0 10px 5px -9px #888888;
  }
  .overflow{
    overflow: auto;
    height: 65vh;

  }
  tr{
  }
</style>

{% endblock %}
