{% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% load staticfiles %}{% load groups%}


{% block page-header %}
<script src="{% static 'js/notif.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/notif.css' %}">
{% trans 'Fiche Formation' %}
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
            {%if request.session.visited_cmp in "RESPFORM, RESPENS"%}
            {% if request.session.visited_cmp == "RESPFORM" %}
            <li><a href="{% url 'training:list_resp' %}">{% trans "Mes formations" %}</a></li>
            {% else %}
            <li><a href="{% url 'training:my_teachings' %}">{% trans "Mes enseignements" %}</a></li>
            {% endif %}
        {%else%}
            <li><a href="{% if request.user|has_group:'DES1' or request.user.is_superuser %}{% url 'training:list_all'%}
                {% else %}{%url 'training:list' request.user.meccuser.cmp%}
                {%endif%}">{% trans "Offre de formation" %}</a></li>
            <li> <a href="{% url 'training:list' request.session.visited_cmp %}">{{request.session.visited_cmp_label}}</a></li>

        {%endif%}
            <li class="active"> {{training.label}}</li>
    </ol>
{% endblock %}

{% block app_content %}
<div class='notifications top-right'></div>
{% if messages %}
{% for message in messages %}
<div class="messages{% if message.tags %} alert alert-{{ message.tags }}{% endif %} alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{ message }}
</div>
{% endfor %}
{% endif %}
<ul class="nav nav-tabs" style="margin-bottom:1em">
    <li><a href="{%if training%}{% url 'training:edit' training.pk%}{%else%}#{%endif%}">{% trans "Général" %}</a></li>
    <li class="active"><a href="{%if training%}{% url 'training:edit_rules' training.pk%}{%else%}#{%endif%}">{% trans "Règles" %}</a></li>
    <li><a href={%if training.MECC_tab%}"{% url 'mecctable:mecctable_home' training.id%}" {%else%}"#" class="disabled"{%endif%}>{% trans "Tableau MECC" %}</a></li>
</ul>
<div class="disp-flex ">
    <div class="has-bottom-border parent disp-flex">
        <div class="item-80 dir-col">
            <div class="">
                {% trans "Intitulé de la formation: "%}
            </div>
            <div class="">
                <strong>{{training.label}}</strong>
            </div>
        </div>
        <div class="item-20 disabled dir-col">
            <div class="">
                {% trans "En service:"%} {%if training.is_used%} ☑ {%else%} ☐{%endif%}
            </div>
            <div class="">
                {% trans "Régime:"%} {{training.get_MECC_type_display}}
            </div>
            <div class="">
                {{training.get_session_type_display}}

            </div>
        </div>
    </div>
</div>
<div class="training-rules">
    <h2 class="title-block" style="font-weight: bold;">
        {% trans 'Règles générales applicables à cette formation'%}
    </h2>
    <div class="disp-flex">

    <div class="item-80" style="padding-bottom: 0px;margin-bottom: 0.2em;">
      {% if rules_list %}
      <table>
          <thead >
              <tr>
                <th width="62%" class="td-centered no-padding" >{% trans "Règle standard" %}</th>
                <th width="38%" class="td-centered no-padding"  >{% trans 'Spécificités pour cette formation <br>(dérogations et alinéas de composante)' %}</th>
              </tr>
          </thead>

       <tbody class="overflow" >
      {%for e in rules_list%}
      <tr class="hover-row">
         <td width="10%" class='no-padding border-bottom td-centered red' >{% if e.is_edited == "O" %} {% trans "Modifiée" %}{%elif e.is_edited == "N"%}{% else %}{{e.get_is_edited_display}}{% endif %}</td>
         <td width="52%" class="no-padding border-right border-bottom"><a class="select " onclick="detail_rule({{e.id}},'standard')">{{e.label}}</a></td>
         <td width="10%" class="no-padding td-centered border-bottom italic text-muted">{% if e.has_parag_with_derog  %}{% trans "(D)" %}{% endif %}</td>
         <td width="14%" class="no-padding td-centered border-bottom underlined">
             {% if can_edit and training.input_opening.0 != "4" %}
            <a class="select customize" style='color:#333333' href="{% url 'training:specific_paragraph' training.id e.id%}">
                {% if e.id in custom %}
{% trans "Modifier" %}{% else %}{% trans "Saisir" %}{%endif%}</a>
             {% endif %}
        </td>
        <td width="14%" class="no-padding border-bottom">
               {% if e.id in custom %}
               <a class="select " onclick="detail_rule({{e.id}}, 'specific')">{% trans "Voir" %}</a>
               {% endif %}
       </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    {% endif %}
    </div>
    {% if can_edit  and training.input_opening.0 != "4"%}
    <div class="item-20 flex-center dir-col">
        <a href="{% url 'training:recover_everything' training.id %}"class=" select break-line btn-primary btn " style="white-space: normal;margin:0.5em">{% trans "Récupérer TOUTES les spécificités de l'année précédente" %}</a>
        {% if rec %}
        <div class="alert alert-info alert-dismissable" style="margin:0.5em;">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{rec|safe}}
        </div>
        {% endif %}
    </div>
    {% endif %}
</div>
    <div class="has-bottom-border has-top-border buttons_list dir-col blue "  >
        <label>
            {% trans 'Etat de saisie des règles : '%}
        </label>

        <label class="margin-left1">
         {% trans "En cours " %}<input type="radio" name="progress"  value="E"
         {%if not can_edit or training.input_opening.0 == '2' %} disabled{%endif%}
         {% if training.progress_rule == "E" %}checked="checked" {% endif %}
         style="margin-top:-1px;vertical-align:middle;">
     </label>
        <label class="margin-left1">
        {% trans 'Achevée '%} <input type="radio" name="progress" value="A"
        {%if not can_edit or training.input_opening.0 == '2' %} disabled{%endif%}
        {% if training.progress_rule == "A" %}checked="checked" {% endif %}
        style="margin-top:-1px;vertical-align:middle;">
    </label>

    </div>
    <div class="buttons_list" >
<br>
<a href=
    {% if request.session.visited_cmp in 'RESPFORM'%}"{% url 'training:list_resp' %}"
    {%elif request.session.visited_cmp %}
        {% if request.session.visited_cmp in 'RESPENS' %}
        "{% url 'training:my_teachings'  %}"
        {% else %}
        "{% url 'training:list' request.session.visited_cmp %}"
        {% endif %}
    {% else %}"{%url 'training:list_all' %}"
    {% endif %} class="btn-primary btn btn-sm btn-1">{% trans "Fermer la fiche" %}</a>
    <a href="{% url 'training:gen_pdf_all_rules' training.id%}" target="_blank" class="btn-primary btn btn-sm btn-1 ">{% trans "Récapitulatif des règles de la formation" %}</a>
    {% if can_edit %}
    <a href="#" class="btn-primary btn btn-sm">{% trans "Effectuer les CONTRÔLES DE COHÉRENCE" %}</a>
    <a data-toggle="modal" class="btn-primary btn btn-sm send_mail" data-target="#send_mail">{% trans "Envoyer un message à la DES" %}</a>
    {% endif %}
    </div>




</div>
    {% include "training/send_mail.html"%}
    {% include "training/rule_preview.html"%}

    <style media="screen">
      table {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
      }
      table thead {
        /* head takes the height it requires,
        and it's not scaled when table is resized */
        flex: 0 0 auto;
        width: calc(100% - 0.9em);
      }
      table tbody {
        /* body takes all the remaining available space */
        flex: 1 1 auto;
        display: block;
        overflow: auto;
        max-height: 50vh;
      }
      table tbody tr {
        width: 100%;
      }
      table thead,
      table tbody tr {
        display: table;
        table-layout: fixed;
      }


    </style>

    <script type="text/javascript">
    {% if can_edit  %}
        $(document).on('change', 'input[name="progress"]:radio', function(){
            $.ajax({
                url: "{% url 'rules:update_progress'%}",
                type: "POST",
                data: {
                    val: $(this).val(),
                    training_id : {{training.id}},
                    type: "RULE",
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data){
                    if (data.status === 200) {
                        $('.top-right').notify({
                            message: { text: 'Etat de saisie mis à jour : ' + data.val},
                            type:'info'
                        }).show();
                    }else {
                        $('.top-right').notify({
                            message: { text: 'Error lors de la mise à jour du tableau.'},
                            type:'warning'
                        }).show();
                    }
                }

            })
        });
        {%endif%}

        function detail_rule(id, type){
            $.ajax({
                url: "{% url 'rules:details_rule'%}",
                type: "POST",
                data: {
                    val: id,
                    type: type,
                    training_id : {{training.id}},
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(data){
                       document.getElementById('year').innerHTML = data.year
                       document.getElementById('title-preview').innerHTML = data.title
                       document.getElementById('preview-rules').getElementsByTagName('tbody')[0].innerHTML = ''
                       document.getElementById('big-title-preview').innerHTML = "";

                       if (!data.is_specific) {
                           document.getElementById('subtitle-preview').innerHTML = "";
                           document.getElementById('big-title-preview').innerHTML = "{% trans 'Règle standard' %}";
                       } else {
                           document.getElementById('subtitle-preview').innerHTML = "{% trans 'FORMATION'%} : {{training.label}}";
                           document.getElementById('big-title-preview').innerHTML = "{% trans 'Règles avec dérogations (et alinéa additionnel)' %}";
                       }

                       for (i=0; i < data.paragraphs.length + 1; i++){
                           var tableRef = document.getElementById('preview-rules').getElementsByTagName('tbody')[0];
                           var newRow   = tableRef.insertRow(tableRef.rows.length);
                           newRow.style.marginTop = '1em';
                           newRow.style.marginBottom = '1em';
                           var cell0  = newRow.insertCell(0);
                           var cell1  = newRow.insertCell(1);
                           var cell2  = newRow.insertCell(2);
                           cell0.style.width = '10%';
                           cell0.style.textAlign = "center"
                           cell1.style.width = '70%';
                           cell2.style.width = '20%';
                           if (i === data.paragraphs.length){
                               if (data.additional != null) {
                                   newRow.className += 'green'
                                   cell0.innerHTML = data.additional.alinea;
                                   cell1.innerHTML = data.additional.text;
                                   cell2.style.padding = '0 0 0 2em';
                                   cell1.style.padding = '1em 0 0 0';
                                   cell2.innerHTML = '({% trans "Alinéa additionnel"%})'

                                }
                               break;
                           }
                           cell0.innerHTML = data.paragraphs[i].alinea;
                           cell1.innerHTML = data.paragraphs[i].text;
                           if (data.is_specific) {
                               cell2.style.padding = '0 0 0 2em';
                               if (data.paragraphs[i].is_derog === true) {
                                   cell1.className += 'blue ';
                                   cell2.className += 'blue ';
                                   cell2.innerHTML = '({% trans "Dérogation" %})';
                               }else {
                                   cell2.innerHTML = '({% trans "Standard" %})';
                               }

                           }else {
                               if (data.paragraphs[i].can_be_derog === true) {
                                   cell2.className += ' border-left disabled italic td-centered';
                                   cell2.innerHTML = '{% trans "Dérogation possible"%}'
                               }
                           }
                       }
                   }
               });
               $('#preview').modal('show');

        }
    </script>
{%endblock%}
