{% load i18n dipstrapfiles crispy_forms_tags staticfiles %}
<div class="modal fade" id="preview_files" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-90">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
                <h4>MECC {{request.display.current_year}}</h4>
            </div>
            <div class="modal-body">
                <div class="comp-left">
                  <div class="misc_files">
                      <h5> {% trans "Conseils de composante - Extraits de PV, listes d'émargements" %} :</h3>
                      <ul id="files_list">

                      </ul>
                  </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Fermer' %}</button>
            </div>
        </div>
    </div>
</div>
