{% load i18n %}
{% load dipstrapfiles %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<div class="modal fade" id="preview" role="dialog" style="z-index: 1400;">
    <div class="modal-dialog modal-90">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal"> &times;</button>
                <div class="modal-title" style='margin-left:1em;' >
                  <div class="flex-container-preview">
                  <h1 class="title-block"> Règle standard</h1>
                </div>
                <div class="flex-container-preview">
                  <span class="disabled"> {% trans "Année universitaire : " %} <span id="year"></span> </span> <br>
                  <span id='title-preview'></span>
                </div>
              </div>
            </div>
            <div class="modal-body">
                <table class="no-padding" id="preview-rules">
                  <thead>
                   <tr class="disabled no-padding">
                      <th width="10%" class="td-centered no-padding italic"  style="font-weight: normal;">{% trans "Alinéas" %}</th>
                      <th width="70%" </th>
                      <th width="20%" ></th>
                   </tr>
                 </thead>
                 <tbody >

               </tbody>
               </table>
        </div>
    </div>
</div>
