{% extends "base.html" %} {% load i18n %} {% load crispy_forms_tags %} {% load staticfiles %}
{% block page-header %} {% trans 'Fiche Formation' %} {% endblock %}

{% block app_content %}
<ul class="nav nav-tabs" style="margin-bottom:1em">
    <li><a href="{%if training%}{% url 'training:edit' training.pk%}{%else%}#{%endif%}">{% trans "Général" %}</a></li>
    <li class="active"><a href="{%if training%}{% url 'training:edit_rules' training.pk%}{%else%}#{%endif%}">{% trans "Règles" %}</a></li>
    <li><a href="#">{% trans "Tableau MECC" %}</a></li>
</ul>
<h2 class="title-modal" style="font-weight: bold;">
    {% trans 'Gestion des dérogations et alinéas de composante'%}
</h2>
<div class="disp-flex dir-col has-bottom-border">
    <div class=" parent disp-flex ">
        <div class="item-80 dir-col">
            <div class="">
                {% trans "Intitulé de la formation: "%}
            </div>
            <div class="">
                <strong>{{training.label}}</strong>
            </div>
        </div>
        <div class="item-20 disabled dir-col">
            <div >
                {% trans "En service:"%} {%if training.is_used%} ☑ {%else%} ☐{%endif%}
            </div>
            <div >
                {% trans "Régime:"%} {{training.get_MECC_type_display}}
            </div>
            <div >
                {{training.get_session_type_display}}
            </div>
        </div>
    </div>
    <div class="item-80 disp-flex" style="margin-bottom:1em;">
        <div class="item-20">
            {% trans "ID règle (auto) : " %} {{rule.n_rule | stringformat:"05d"}}
        </div>
        <div class="item-35">
            {% trans "Année universitaire : " %} {{rule.code_year}}/{{rule.code_year|add:'1'}}
        </div>
        <div class="item-45 bold">
            {{rule.label}}
        </div>
    </div>
</div>
<div class="training-rules">
    <h2 class="title-block" style="font-weight: bold;">
        {% trans 'Alinéas courants'%}
    </h2>
    <div class="margin-top">

        <table id="specific-rules" class="no-padding">
            <thead>
                <tr class="disabled no-padding">
                    <th width="5%" ></th>
                    <th width="65%"> </th>
                    <th width="25%"></th>
                </tr>
            </thead>
            <tbody>
                {% for e in parag  %}
                <tr style="margin-top: 1em; margin-bottom: 1em;" {% if not e.is_interaction %}class="disabled"{% endif %}>
                    <td style="width: 5%; text-align: center;">{{e.display_order}}</td>
                    <td style="width: 65%;">
                        {% if e.id in specific_ids  %}
                            {% for sp in specific_paragraph  %}
                                {% if sp.paragraph_gen_id == e.id  %}
                                    <span class="blue">
                                        {{sp.text_specific_paragraph|safe}}
                                    </span>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        {{e.text_standard | safe}}
                        {% endif %}

                    </td>
                    <td style="width: 25%;text-align:left;" class="td-centered {%if e.is_interaction%} border-left {%endif%}">

                        {% if e.is_interaction %}
                            <a href="{% url 'training:edit_specific_paragraph' training_id=training.id rule_id=rule.id paragraph_id=e.id old=False%}">{% if e.id in specific_ids  %}{% trans "Modifier la" %} {% else %}{% trans "Saisir une " %}{%endif%}{% trans "dérogation" %}</a> <br>
                            {% if e.id in specific_ids  %}
                                <a data-toggle="modal" data-target="#preview" onclick="ask_delete('D', {{e.id}}, {{training.id}}, {{rule.id}})"> {% trans "Supprimer la dérogation" %}</a>
                            {% else %}
                                <a href="{% url 'training:edit_specific_paragraph' training_id=training.id rule_id=rule.n_rule paragraph_id=e.id old='N' %}">{% trans "Récupérer la dérogation n-1" %}</a>

                            {% endif %}
                        {% endif %}
                    </td>

                </tr>

                {% endfor %}
                <tr style="margin-top: 1em; margin-bottom: 1em;" class="green">
                    <td style="width: 5%; text-align: center;">{{parag|length|add:'1'}}</td>
                    <td style="width: 65%;">
                        {{additional_paragraph.text_additional_paragraph|safe}}
                    </td>
                    <td style="width: 25%;text-align:left;" class="td-centered border-left ">
                        <a href="{% url 'training:edit_additional_paragraph' training_id=training.id rule_id=rule.id%}" class="green">{% if additional_paragraph  %}{% trans "Modifier l'alinéa" %} {% else %}{% trans "Saisir un alinéa" %}{%endif%}{% trans " additionnel" %}</a> <br>
                            {% if additional_paragraph %}
                                <a data-toggle="modal" data-target="#preview" onclick="ask_delete('A', {{additional_paragraph.id}})" class="green"> {% trans "Supprimer l'alinéa additionel" %}</a>
                            {% else %}
                                <a href="#" class="green"> {% trans "Récupérer l'alinéa additionel n-1" %}</a>
                            {% endif %}
                    </td>

                </tr>
            </tbody>
        </table>
        <div class="buttons_list">
            <a class="btn-primary btn btn-sm" href="{% url 'training:edit_rules' training.pk%}">{% trans "Fermer la fenêtre" %}</a>
            </div>
</div>
    {% include "generic/modal_confirm_delete.html"%}


<script type="text/javascript">
// Create hidden input elements
    var al = document.forms['gen_form'];

    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = "type";
    al.appendChild(input);

    var input2 = document.createElement('input');
    input2.type = 'hidden';
    input2.name = "id";
    al.appendChild(input2);


function ask_delete(type, paragraph_id, training_id, rule_id) {
    $.ajax({
        url: "{% url 'training:ask_delete_specific'%}",
        type: "GET",
        data: {
            val: paragraph_id,
            training_id: training_id,
            rule_id: rule_id,
            type: type,
        },
        success: function(data){
            document.getElementById('type').innerHTML = data.title;
            document.getElementById('to_del').innerHTML = data.text;
            input.value = type;
            input2.value = data.id;
        }
    });

}
</script>


{%endblock%}
