{% extends 'base.html' %} {% load i18n %} {% load field_name %} {% block page-header %} {% trans 'Formations' %} {{request.display.current_year}}
{% endblock %} 
{% block app_content %}
{{ object.label }}<br>
{{message}}
<form action="" method="post">
    <!--{% csrf_token %}
    <p> {% trans "Confirmer la suppression de la formation " %}{{ object.label }} ?</p>
    {% if specifics %}
    <p>{% trans "Cela entraînera la suppression de dérogations : " %}</p>
    <ul>
        {% for e in specifics %}
        <li>
            {{e.text_specific_paragraph | safe}}
        </li>
        {% endfor %}
    </ul>
    </p>
    {% endif %} {% if additionals %}
    <p>{% trans "Cela entraînera la suppression d'alinéas additionnels :" %}</p>
    <ul>
        {% for e in additionals %}
        <li>
            {{e.text_additional_paragraph | safe}}
        </li>
        {% endfor %}
    </ul>
    </p>
    {% endif %}
    <a href="{% url 'training:list' %}" type="button" class="btn btn-default">{% trans "Retour" %}</a>
    -->
    {% if  removable%}
    
    <input type="submit" value="Confirmer" class="btn btn-primary" />
    {% endif %}
</form>
{% endblock %}