{% extends 'base.html' %} {% load i18n %} {% load field_name %} {% block page-header %} {% trans 'Formations' %} {{request.display.current_year}}
{% endblock %} {% block app_content %} <p>

<strong>
{% trans 'Formation : ' %}{{ object.label }}
</strong>
<br> {{message |safe}} 
</p>
{% if removable%} 
{% if specifics %}
<p>{% trans "Les dérogations suivantes vont être supprimées : " %}</p>
<ul>
    {% for e in specifics %}
    <li>
        {{e.text_specific_paragraph | safe}}
    </li>
    {% endfor %}
</ul>
</p>
{% endif %} {% if additionals %}
<p>{% trans "Les alinéas additionnels suivants vont être supprimées : " %}</p>
<ul>
    {% for e in additionals %}
    <li>
        {{e.text_additional_paragraph | safe}}
    </li>
    {% endfor %}
</ul>
</p>
{% endif %} {% if meccs %}
<p>{% trans "Le tableau MECC va être supprimé (structures et épreuves)"%}</p>
<ul>
    {% for e in meccs %}
    <li>
        {{e.label}}
    </li>
    {% endfor %}
</ul>
</p>
{% endif %}

<p><strong>{% trans "Confirmez vous la suppression de la formation ?"%}</strong></p>
<form action="" method="post">
{% csrf_token %}
    <input type="submit" value="Oui" class="btn btn-primary" />
{% if request.session.from_duplicated %}
<a href="{% url 'training:duplicate' %}" type="button" class="btn btn-default">{% trans "Non" %}</a>
    {% else %} 
<a href="{% url 'training:list' cmp=object.supply_cmp %}" type="button" class="btn btn-default">{% trans "Non" %}</a>
{% endif %}
    </form>
{% else %}

{% if request.session.from_duplicated %}

<a href="{% url 'training:duplicate' %}" type="button" class="btn btn-default">{% trans "Retour" %}</a>
    {% else %}
<a href="{% url 'training:list' cmp=object.supply_cmp %}" type="button" class="btn btn-default">{% trans "Retour" %}</a>{% endif %} 
{% endif %}

{% endblock %}