{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% load staticfiles %}

{% block page-header %}
{% trans 'Fiche Formation' %}

{% endblock %}


{% block app_content %}
    <ul class="nav nav-tabs" style="margin-bottom:1em">
        <li class="active"><a href="{%if object%}{% url 'training:edit' object.pk%}{%else%}#{%endif%}">{% trans "Général" %}</a></li>
        <li><a href="{%if object%}{% url 'training:edit_rules' object.pk%}{%else%}#{%endif%}">{% trans "Règles" %}</a></li>
        <li><a href="#">{% trans "Tableau MECC" %}</a></li>
    </ul>
  <div class="disp-flex">
        <form action="" method="post" class="border-right training-form-1" id="training_form">
            {%crispy form%}
            {% include "training/form/add_cmp.html" %}
                <button name="stay" class="btn-primary btn btn-sm pull-right" id="stay" type="Submit">{% trans "Valider" %}</button>

        </form>
        <div class="training-form-validate training-form-1 {%if not validation_form%}grey {%endif%}">
            <h2 class="title-block">{% trans "Étapes de validation" %} {{disp_current_year}}</h2></br>
           <div class="form-group">
              <label>
              {% trans "Etat d'avancement Saisie des règles" %}</label>
              <div> <input class="form-control" disabled="true"> </div>
           </div>
           <div class="form-group">
              <label>
              {% trans "Etat d'avancement Saisie Tableau MECC" %}</label>
              <div> <input class="form-control" disabled="true"> </div>
           </div>
           <div class="form-group">
              <label>
              {% trans "Date de validation en Conseil de Composante" %}</label>
              <div> <input class="form-control" disabled="true"> </div>
           </div>
           <div class="form-group">
              <label>
              {% trans "Date Réserve DES" %}</label>
              <div> <input class="form-control" disabled="true"> </div>
           </div>
           <div class="form-group">
              <label>
              {% trans "Date Visa DES" %}</label>
              <div> <input class="form-control" disabled="true"> </div>
           </div>
           <div class="form-group fill-space">
              <label>
              {% trans "Date de validation en CFVU" %}</label>
              <div> <input class="form-control" disabled="true"> </div>
           </div>
           <div>
               <span id="input_progress"></span>
           </div>
           <div class="has-top-border margin-top-auto" {% if object %}style="color:black">
               {% include "training/form/add_respform.html" %}
               {% else %}>
               <label style="display: inline-block;width:100%" > {% trans "Responsables de formation" %}
                   <br><span class="padding-1">{% trans "AUCUN" %}</span>

               {%endif%}
           </div>
        </div>
 </div>
 <div class="buttons_list has-top-border" style="margin-top:1em;">
     <button name="new_training" class="btn-primary btn btn-sm" id="new_training" type="Submit" form='training_form'>{% trans "Valider et créer une nouvelle formation" %}</button>
 <a href=
 {% if request.session.visited_cmp in 'RESPFORM'%}"{% url 'training:list_resp' %}"
 {%elif request.session.visited_cmp %}"{% url 'training:list' request.session.visited_cmp %}"
 {% else %}"{%url 'training:list_all' %}"
 {% endif %} class="btn-primary btn btn-sm btn-1">{% trans "Retour liste des formations" %}</a></div>

<style media="screen">
    .training-form-validate> .form-group:not(:first-child){
        max-width: 100%;
    }
    #div_id_is_used, #div_id_MECC_type{
        margin-right: 1em;
    }
</style>

{%endblock%}
